/* AGRICOLTURA SKIN NOMESERVIZIO*/

#titoloEmenu {background: #ebebeb url(/css_rupar/agricoltura/templateBASE/im/testa_sup_sviluppo.jpg) 0 0 no-repeat;color: #fff;}
#noteSito {background: #ebebeb url(/css_rupar/agricoltura/templateBASE/im/testa_inf_sviluppo.jpg) left bottom no-repeat; color: #fff; height: 23px; width: 100%; display: block;}