<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>smrgaaweb</display-name>
  <description>Servizi On-Line per il Mondo Rurale - Gestione Anagrafe Azienda Agricola</description>
  <distributable />
  <context-param>
    <param-name>1</param-name>
    <param-value>rupar</param-value>
  </context-param>
  <context-param>
    <param-name>2</param-name>
    <param-value>sispie</param-value>
  </context-param>
  <context-param>
    <param-name>3</param-name>
    <param-value>TOBECONFIG</param-value>
  </context-param>
  <context-param>
    <param-name>anagAccess</param-name>
    <param-value>EJB</param-value>
  </context-param>
  <context-param>
    <param-name>backPage</param-name>
    <param-value>https://iride.csi.it/cgi-bin/baseauth/auth.cgi?cod_servizio=XSGA</param-value>
  </context-param>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>Cp1252</param-value>
  </context-param>
  <context-param>
    <param-name>homePage</param-name>
    <param-value>index.html</param-value>
  </context-param>
  <context-param>
    <param-name>umaAccess</param-name>
    <param-value>PA</param-value>
  </context-param>
  <context-param>
    <param-name>cacheTime</param-name>
    <param-value>1800000</param-value>
  </context-param>
  <context-param>
    <param-name>headRupar</param-name>
    <param-value>/ris/include/smrgaaweb/head.html</param-value>
  </context-param>
  <context-param>
    <param-name>headSispie</param-name>
    <param-value>/include/anagrafe_aziende/head.html</param-value>
  </context-param>
  <context-param>
    <param-name>headTOBECONFIG</param-name>
    <param-value>/staticresources/include/anagrafe_aziende/head.html</param-value>
  </context-param>
  <context-param>
    <param-name>headerRupar</param-name>
    <param-value>/ris/include/smrgaaweb/header.html</param-value>
  </context-param>
  <context-param>
    <param-name>headerSispie</param-name>
    <param-value>/include/header_fluido.html</param-value>
  </context-param>
  <context-param>
    <param-name>headerTOBECONFIG</param-name>
    <param-value>/staticresources/include/header_fluido.html</param-value>
  </context-param>
  <context-param>
    <param-name>headerRAS</param-name>
    <param-value>not_used_anymore</param-value>
  </context-param>
  <context-param>
    <param-name>footerRupar</param-name>
    <param-value>/ris/include/smrgaaweb/footer.html</param-value>
  </context-param>
  <context-param>
    <param-name>footerSispie</param-name>
    <param-value>/include/footer.html</param-value>
  </context-param>
  <context-param>
    <param-name>footerTOBECONFIG</param-name>
    <param-value>/staticresources/include/footer.html</param-value>
  </context-param>
  <context-param>
    <param-name>immaginiSviluppoRupar</param-name>
    <param-value>@@immaginiSviluppoRupar@@</param-value>
  </context-param>
  <context-param>
    <param-name>immaginiSviluppoSispie</param-name>
    <param-value>@@immaginiSviluppoSispie@@</param-value>
  </context-param>
  <context-param>
    <param-name>immaginiSviluppoTOBECONFIG</param-name>
    <param-value>@@immaginiSviluppoTOBECONFIG@@</param-value>
  </context-param>  
  <context-param>
    <param-name>immaginiSviluppoRAS</param-name>
    <param-value>@@immaginiSviluppoRAS@@</param-value>
  </context-param>
  <context-param>
    <param-name>erroriRupar</param-name>
    <param-value>/ris/@@css@@/agricoltura/im/</param-value>
  </context-param>
  <context-param>
    <param-name>erroriSispie</param-name>
    <param-value>/@@css@@/agricoltura/im/</param-value>
  </context-param>
  <context-param>
    <param-name>erroriRAS</param-name>
    <param-value>/@@css@@/agricoltura/im/</param-value>
  </context-param>
  <context-param>
    <param-name>erroriTOBECONFIG</param-name>
    <param-value>/staticresources/@@css@@/agricoltura/im/</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollRupar</param-name>
    <param-value>/ris/@@css@@/agricoltura/menu_scroll.css</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollSispie</param-name>
    <param-value>/@@css@@/agricoltura/menu_scroll.css</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollRAS</param-name>
    <param-value>/@@css@@/agricoltura/menu_scroll.css</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollTOBECONFIG</param-name>
    <param-value>/staticresources/@@css@@/agricoltura/menu_scroll.css</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollRuparIE6</param-name>
    <param-value>/ris/@@css@@/agricoltura/menu_scroll_ie6.css</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollSispieIE6</param-name>
    <param-value>/@@css@@/agricoltura/menu_scroll_ie6.css</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollRASIE6</param-name>
    <param-value>/@@css@@/agricoltura/menu_scroll_ie6.css</param-value>
  </context-param>
  <context-param>
    <param-name>headMenuScrollTOBECONFIGIE6</param-name>
    <param-value>/staticresources/@@css@@/agricoltura/menu_scroll_ie6.css</param-value>
  </context-param>
  <!-- ############################################################################################ -->
	<!-- Statrace 20/05/2009 cz     																  -->
	<!-- ############################################################################################ -->
	<!-- 
		LoggerName: nome del logger che deve utilizzare il componente JSTATRACE per il 
		logging del suo funzionamento (da standard deve coincidere con il nome del 
		pacchetto deployato)
	-->
	<context-param>		
		<param-name>LoggerName</param-name>
		<param-value>smrgaaweb</param-value>
	</context-param>
	<!--
		TraceLoggerName: nome del logger che deve utilizzare il componente JSTATRACE 
		per la generazione delle tracce statistiche (uno diverso per ogni applicazione)
	-->
	<context-param>		
		<param-name>TraceLoggerName</param-name>
		<param-value>STTRACE_smrgaaweb</param-value>
	</context-param>
	<!--
		Portale: nome del portale sul quale l applicazione viene ospitata (nel caso di 
		applicazioni multiportale, scegliere uno qualunque dei portali ospitanti, 
		sono disponibili API per la modifica del valore a runtime)
	-->
	<context-param>		
		<param-name>Portale</param-name>
		<param-value></param-value>
	</context-param>
	<!--
		DFTemplate:Template timestamp
	-->
	<context-param>		
		<param-name>DFTemplate</param-name>
		<param-value>yyyy/MM/dd - HH:mm:ss</param-value>
	</context-param>
	<!--
		Keystore: path del file di configurazione in cui viene conservata la chiave 
		usata per criptare il Codice Fiscale
	-->
	<context-param>		
		<param-name>Keystore</param-name>
		<!--param-value>/home/apps/tstbeata09/barreweb/masterkey.properties</param-value-->
		<param-value></param-value>
	</context-param>
	<!--
		ApplName: Nome dell applicazione web sottoposta a tracciamento (il valore 
		di tale parametro corrisponde al contenuto del tag <APPSERVERID> del tracefile di default)
	-->
	<context-param>		
		<param-name>ApplName</param-name>
		<param-value>smrgaaweb</param-value>
	</context-param>
	<!-- ############################################################################################ -->	

<!-- ############################################################ -->
<!-- # SHIBBOLETH                                               # -->
<!-- # Definizione filter per aderire al meccanismo di          # -->
<!-- # autenticazione shibboleth							    							# -->
<!-- ############################################################ -->
	<filter>
		<filter-name>Shibboleth filter</filter-name>
		<filter-class>it.csi.shibboleth.shibfilter.ShibbolethFilter</filter-class>
		<!--
			parametri da iniettare in sessione personalizzabile per applicazione
		-->
		<init-param>
			<param-name>IRIDE_ID_SESSIONATTR</param-name>
			<param-value>identita</param-value>
		</init-param>
		<!--
			elenco delle pagine di servizio che non vanno gestite dal filtro
		-->
		<init-param>
			<param-name>NO_CHECK_PAGE</param-name>
			<param-value/>
		</init-param>
	</filter>

    <filter-mapping>
    <filter-name>Shibboleth filter</filter-name>
    <url-pattern>/secure/loginSispie.htm</url-pattern>
  </filter-mapping>
	<filter-mapping>
		<filter-name>Shibboleth filter</filter-name>
		<url-pattern>/secure/loginRupar.htm</url-pattern>
	</filter-mapping>
	  <filter-mapping>
    <filter-name>Shibboleth filter</filter-name>
    <url-pattern>/secure/loginTOBECONFIG.htm</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>it.csi.smranag.smrgaa.util.SessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>it.csi.solmr.client.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>IrideRoleSetter</servlet-name>
    <servlet-class>it.csi.solmr.presentation.login.IrideRoleSetter</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.csi.solmr.presentation.login.Login</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaServletProtocollo</servlet-name>
    <servlet-class>it.csi.solmr.servlet.anag.StampaServletProtocollo</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaIstanzaRiesameServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaIstanzaRiesameServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaFascicoloServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaFascicoloServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaFascicoloModolServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.modol.StampaFascicoloModolServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
<!--   <servlet> -->
<!--     <servlet-name>StampaRichVarModolServlet</servlet-name> -->
<!--     <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.modol.StampaRichVarModolServlet</servlet-class> -->
<!--     <load-on-startup>100</load-on-startup> -->
<!--   </servlet> -->
  <servlet>
    <servlet-name>StampaComunicazione10RServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaComunicazione10RServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaAllegatiServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaAllegatiServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaProtocolloServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaProtocolloServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaProtocolloJasperServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.jasper.StampaProtocolloJasperServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaNuovaIscrizioneServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaNuovaIscrizioneServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaVariazioneCatastaleServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaVariazioneCatastaleServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaNuovaRichiestaValidazioneServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaNuovaRichiestaValidazioneServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StampaNuovaRichiestaCessazioneServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.client.stampe.StampaNuovaRichiestaCessazioneServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelBuilderServlet</servlet-name>
    <servlet-class>it.csi.solmr.servlet.anag.ExcelBuilderServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelRegistroStallaServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelRegistroStallaServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelVariazioniAziendaliServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelVariazioniAziendaliServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelControlliTerreniServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelControlliTerreniServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoSociServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoSociServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoPolizzeServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoPolizzeServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelUnitaVitateCUAAServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelUnitaVitateCUAAServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelDirittiVitatiServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelDirittiVitatiServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelAllevamentiServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelAllevamentiServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelUnitaVitateElencoSempliceServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelUnitaVitateElencoSempliceServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelUnitaVitateElencoIsoleParcelleServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelUnitaVitateElencoIsoleParcelleServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelUnitaVitateElencoCompensazioneServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelUnitaVitateElencoCompensazioneServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelBrogliaccioServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelBrogliaccioServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelStabilizzazioneGisServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelStabilizzazioneGisServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelRiepilogoDestProdComuneServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelRiepilogoDestProdComuneServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelRiepilogoDestProdUvaVinoComuneServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelRiepilogoDestProdUvaVinoComuneServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelRiepilogoVinoDOPComuneServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelRiepilogoVinoDOPComuneServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelRiepilogoVinoDOPProvinciaServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelRiepilogoVinoDOPProvinciaServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoSociRiepilogoVinoDOPProvinciaServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoSociRiepilogoVinoDOPProvinciaServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelRegistroDebitoriServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelRegistroDebitoriServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoSociUmaServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoSociUmaServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoSociColturaVarietaServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoSociColturaVarietaServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoSociFruttaGuscioServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoSociFruttaGuscioServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoNotificheServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoNotificheServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoNotificheUvServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoNotificheUvServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoNotificheParticelleServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoNotificheParticelleServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelElencoPraticheServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.excel.ExcelElencoPraticheServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DownloadFileFirmaServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.firma.DownloadFileFirmaServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
   <servlet>
    <servlet-name>UploadFileFirmaServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.firma.UploadFileFirmaServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
   <servlet>
    <servlet-name>MarcaTemporaleFileServlet</servlet-name>
    <servlet-class>it.csi.smranag.smrgaa.presentation.firma.MarcaTemporaleFileServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RefreshServlet</servlet-name>
    <servlet-class>it.csi.solmr.presentation.login.RefreshServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MacroCategoriaServlet</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.MacroCategoriaServlet</servlet-class>
    <init-param>
      <param-name>urlXmlCostanti</param-name>
      <param-value>/constantsReportDin.xml</param-value>
    </init-param>
    <load-on-startup>1000</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MacroCategoriaServletView</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.view.MacroCategoriaServletView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ElencoTipologieReportServlet</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.ElencoTipologieReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ElencoTipologieReportServletView</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.view.ElencoTipologieReportServletView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DettaglioTipologiaReportServlet</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.DettaglioTipologiaReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DettaglioTipologiaReportServletView</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.view.DettaglioTipologiaReportServletView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RisultatoTipologiaReportServlet</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.RisultatoTipologiaReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RisultatoTipologiaReportServletView</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.view.RisultatoTipologiaReportServletView</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>RisultatoTipologiaReportServletExcel</servlet-name>
    <servlet-class>it.csi.smrcomms.reportdin.presentation.view.RisultatoTipologiaReportServletExcel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CtrlValueDichConsRecuperaServlet</servlet-name>
    <servlet-class>it.csi.solmr.servlet.anag.CtrlValueDichConsRecuperaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValueAbbPonderazioneServlet</servlet-name>
    <servlet-class>it.csi.solmr.servlet.anag.ValueAbbPonderazioneServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerificaAccesso</servlet-name>
  	<servlet-class>com.lucana.smranag.rsdi.VerificaAccessoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/layout/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/secure/*</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/loginssl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IrideRoleSetter</servlet-name>
    <url-pattern>/servlet/IrideRoleSetter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaServletProtocollo</servlet-name>
    <url-pattern>/servlet/StampaServletProtocollo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaIstanzaRiesameServlet</servlet-name>
    <url-pattern>/servlet/StampaIstanzaRiesameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaFascicoloServlet</servlet-name>
    <url-pattern>/servlet/StampaFascicoloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaFascicoloModolServlet</servlet-name>
    <url-pattern>/servlet/StampaFascicoloModolServlet</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping> -->
<!--     <servlet-name>StampaRichVarModolServlet</servlet-name> -->
<!--     <url-pattern>/servlet/StampaRichVarModolServlet</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>StampaComunicazione10RServlet</servlet-name>
    <url-pattern>/servlet/StampaComunicazione10RServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaAllegatiServlet</servlet-name>
    <url-pattern>/servlet/StampaAllegatiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaProtocolloServlet</servlet-name>
    <url-pattern>/servlet/StampaProtocolloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaProtocolloJasperServlet</servlet-name>
    <url-pattern>/servlet/StampaProtocolloJasperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaNuovaIscrizioneServlet</servlet-name>
    <url-pattern>/servlet/StampaNuovaIscrizioneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaVariazioneCatastaleServlet</servlet-name>
    <url-pattern>/servlet/StampaVariazioneCatastaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaNuovaRichiestaValidazioneServlet</servlet-name>
    <url-pattern>/servlet/StampaNuovaRichiestaValidazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaNuovaRichiestaCessazioneServlet</servlet-name>
    <url-pattern>/servlet/StampaNuovaRichiestaCessazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelBuilderServlet</servlet-name>
    <url-pattern>/servlet/ExcelBuilderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelRegistroStallaServlet</servlet-name>
    <url-pattern>/servlet/ExcelRegistroStallaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelVariazioniAziendaliServlet</servlet-name>
    <url-pattern>/servlet/ExcelVariazioniAziendaliServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelControlliTerreniServlet</servlet-name>
    <url-pattern>/servlet/ExcelControlliTerreniServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoSociServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoSociServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoPolizzeServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoPolizzeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelUnitaVitateCUAAServlet</servlet-name>
    <url-pattern>/servlet/ExcelUnitaVitateCUAAServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelDirittiVitatiServlet</servlet-name>
    <url-pattern>/servlet/ExcelDirittiVitatiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelAllevamentiServlet</servlet-name>
    <url-pattern>/servlet/ExcelAllevamentiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelUnitaVitateElencoSempliceServlet</servlet-name>
    <url-pattern>/servlet/ExcelUnitaVitateElencoSempliceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelUnitaVitateElencoIsoleParcelleServlet</servlet-name>
    <url-pattern>/servlet/ExcelUnitaVitateElencoIsoleParcelleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelUnitaVitateElencoCompensazioneServlet</servlet-name>
    <url-pattern>/servlet/ExcelUnitaVitateElencoCompensazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelBrogliaccioServlet</servlet-name>
    <url-pattern>/servlet/ExcelBrogliaccioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelStabilizzazioneGisServlet</servlet-name>
    <url-pattern>/servlet/ExcelStabilizzazioneGisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelRiepilogoDestProdComuneServlet</servlet-name>
    <url-pattern>/servlet/ExcelRiepilogoDestProdComuneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelRiepilogoDestProdUvaVinoComuneServlet</servlet-name>
    <url-pattern>/servlet/ExcelRiepilogoDestProdUvaVinoComuneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelRiepilogoVinoDOPComuneServlet</servlet-name>
    <url-pattern>/servlet/ExcelRiepilogoVinoDOPComuneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelRiepilogoVinoDOPProvinciaServlet</servlet-name>
    <url-pattern>/servlet/ExcelRiepilogoVinoDOPProvinciaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoSociRiepilogoVinoDOPProvinciaServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoSociRiepilogoVinoDOPProvinciaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelRegistroDebitoriServlet</servlet-name>
    <url-pattern>/servlet/ExcelRegistroDebitoriServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoSociUmaServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoSociUmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoSociColturaVarietaServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoSociColturaVarietaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoSociFruttaGuscioServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoSociFruttaGuscioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoNotificheServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoNotificheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoNotificheUvServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoNotificheUvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoNotificheParticelleServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoNotificheParticelleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelElencoPraticheServlet</servlet-name>
    <url-pattern>/servlet/ExcelElencoPraticheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFileFirmaServlet</servlet-name>
    <url-pattern>/servlet/DownloadFileFirmaServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>UploadFileFirmaServlet</servlet-name>
    <url-pattern>/servlet/UploadFileFirmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarcaTemporaleFileServlet</servlet-name>
    <url-pattern>/servlet/MarcaTemporaleFileServlet</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>RefreshServlet</servlet-name>
    <url-pattern>/servlet/RefreshServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MacroCategoriaServlet</servlet-name>
    <url-pattern>/servlet/elencoCategorie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MacroCategoriaServletView</servlet-name>
    <url-pattern>/servlet/elencoCategorieView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ElencoTipologieReportServlet</servlet-name>
    <url-pattern>/servlet/elencoTipologie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ElencoTipologieReportServletView</servlet-name>
    <url-pattern>/servlet/elencoTipologieView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DettaglioTipologiaReportServlet</servlet-name>
    <url-pattern>/servlet/dettaglioTipologia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DettaglioTipologiaReportServletView</servlet-name>
    <url-pattern>/servlet/dettaglioTipologiaView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RisultatoTipologiaReportServlet</servlet-name>
    <url-pattern>/servlet/risultatoTipologia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RisultatoTipologiaReportServletView</servlet-name>
    <url-pattern>/servlet/risultatoTipologiaView</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>RisultatoTipologiaReportServletExcel</servlet-name>
    <url-pattern>/servlet/risultatoTipologiaExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CtrlValueDichConsRecuperaServlet</servlet-name>
    <url-pattern>/servlet/CtrlValueDichConsRecuperaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValueAbbPonderazioneServlet</servlet-name>
    <url-pattern>/servlet/ValueAbbPonderazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerificaAccesso</servlet-name>
  	<url-pattern>/servlet/VerificaAccessoRsdi</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <exception-type>it.csi.solmr.exception.ValidationException</exception-type>
    <location>/error/ValidationErrorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error/error500Page.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/error500Page.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/error404Page.jsp</location>
  </error-page>
</web-app>
