/* sezioni espanse*/
.comprimi {background:#D7D8DC url(/css_rupar/agricoltura/im/espandi.gif) 100% 50% no-repeat; color:#000; cursor:pointer!important; cursor:hand; margin-bottom:9px;}
.espandi {background:#D7D8DC url(/css_rupar/agricoltura/im/comprimi.gif) 100% 50%  no-repeat; color:#000; cursor:pointer!important; cursor:hand; margin-bottom:9px;}
