$$head
<script src="../js/checktext.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript">

  function scegliOTE(mypage, myname, w, h, scroll, codice, descrizione, form) 
  {
    if(codice == '' && descrizione == '') 
    {
      alert('Valorizzare il codice e/o la descrizione per effettuare la ricerca');
    }
    else 
    {
      newWindow(mypage, myname, w, h, scroll, form);
    }
  }

  function scegliATECO(mypage, myname, w, h, scroll, codice, descrizione, form) 
  {
    if(codice == '' && descrizione == '') 
    {
      alert('Valorizzare il codice e/o la descrizione per effettuare la ricerca');
    }
    else 
    {
      newWindow(mypage, myname, w, h, scroll, form);
    }
  }

  function newWindow(mypage, myname, w, h, scroll,form) 
  {
    var winl = (screen.width - w) / 2;
    var wint = (screen.height - h) / 2;
    winprops =    'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable'
    win = window.open('', myname, winprops)
    if(parseInt(navigator.appVersion) >= 4) 
    {
      win.window.focus();
    }
    var target1 = form.target;
    var action1 = form.action;
    form.target = myname;
    form.action = mypage;
    form.submit();
    form.target = target1;
    form.action = action1;
  }

  function newWindowStoricizza(mypage, myname, w, h, scroll,form) 
  {
    if(form.richiestaModifica.value != '') 
    {
      var winl = (screen.width - w) / 2;
      var wint = (screen.height - h) / 2;
      winprops =    'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable'
      win = window.open('', myname, winprops)
      if(parseInt(navigator.appVersion) >= 4) 
      {
        win.window.focus();
      }
      var target1 = form.target;
      var action1 = form.action;
      form.target = myname;
      form.action = mypage;
      form.submit();
      form.target = target1;
      form.action = action1;
    }
  }

  function pulisciDescrizioneOTE() 
  {
    document.form1.descrizioneOTE.value = '';
  }

  function pulisciDescrizioneATECO() 
  {
    document.form1.descrizioneATECO.value = '';
  }

  function scegliATECOSec(mypage, myname, w, h, scroll, codice, descrizione, form) 
  {
    if(codice == '' && descrizione == '') 
    {
      alert('Valorizzare il codice e/o la descrizione per effettuare la ricerca');
    }
    else 
    {
      form.obiettivo.value = 'modificaAzienda';
      newWindow(mypage, myname, w, h, scroll, form);
    }
  }
    
  function setHiddenOperazione(form, operazione, obj) 
  {
    obj.onclick = '';
    form.operazione.value = operazione;
    form.submit();
  }
    
  function setHiddenOperazioneInsAteco(form, operazione, obj) 
  {
    obj.onclick = '';
    form.operazione.value = operazione;
    form.insAtecoSec.value = 'insAtecoSec';
    form.submit();
  }

  </script>
</head>
<body id="homeIndice"
  onload="javascript: newWindowStoricizza('../layout/confirm.htm','modifica_storicizza','650','480','no',document.forms[0]);$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <div id="pagina" class="colonnaUnica">
		<form id="form1" name="form1" method="post"
    	action="../layout/anagraficaIndicatori_mod.htm">
    <input type="hidden" name="regime" id="regime" value="true" />
    <input type="hidden" name="insAtecoSec" id="insAtecoSec" value="" />
      <!--
        $$err_eliminaATECOSec
      -->
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm"
                  title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">
                gestione anagrafe aziende
              </li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div style="clear: left">
      </div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong> $$utente &nbsp; &nbsp;
            <strong>ente:</strong> $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr />
        <!--PRIMA COLONNA -->
        <h3>
          Gestione Anagrafe
          Aziende&nbsp;&gt;&nbsp;Anagrafica&nbsp;&gt;&nbsp;Modifica
          <span class="helpFuori"> <a href="#"> <span
              class="alt">[help]</span> </a> </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
              <li>
                <a href="../layout/elencoAziendeRapLegale.htm">Elenco
                  Aziende</a>
              </li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerche</a>
              </li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
              <li>
                <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova
                  Azienda</a>
              </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
		          <li>
		            <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
		          </li>
		          <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm" class="on">Anagrafica</a>
                <ul>
                  <li>
                    <a href="../layout/anagrafica.htm">dettaglio</a>
                  </li>
                  <li>
                    <a href="../layout/fonti.htm">fonti certificate</a>
                  </li>
                  <!--@@linkModifica-->
                    <li>
                      <a href="../layout/anagraficaIndicatori_mod.htm">modifica</a>
                    </li>
                  <!--@@linkModifica-->                  
                  <!--@@linkCessa-->
                  <li>
                    <a href="javascript:cessa()">cessazione</a>
                  </li>
                  <!--@@linkCessa-->
                  <!--@@linkCambioTitolare-->
                  <!--<li><a href="javascript: cambioTitolare('../layout/anagrafica.htm');">subentro nuovo titolare</a></li>-->
                  <!--@@linkCambioTitolare-->
                  <!--@@linkCambioRappresentante-->
                  <li>
                    <a
                      href="../layout/anagraficaSocieta_cambiaRappresentante.htm">cambio
                      rappr. legale</a>
                  </li>
                  <!--@@linkCambioRappresentante-->
                  <!--@@linkDichiarazioneInsediamento-->
                  <li>
                    <a href="../layout/insediamento.htm">dichiarazione
                      insediamento</a>
                  </li>
                  <!--@@linkDichiarazioneInsediamento-->
                  <!--@@linkGestoreFascicolo-->
                  <li>
                    <a href="../layout/gestoreFascicolo.htm">gestore
                      fascicolo</a>
                  </li>
                  <!--@@linkGestoreFascicolo-->
                  <!--@@linkRevocaDelega-->
                  <li>
                    <a href="../layout/revocaDelega.htm">revoca
                      mandato</a>
                  </li>
                  <!--@@linkRevocaDelega-->
                  <!--@@blkStoricoAzienda-->
                  <li>
                    <a href="../layout/listaStoricoAzienda.htm">storico
                      azienda</a>
                  </li>
                  <!--@@blkStoricoAzienda-->
                </ul>
              </li>
              <!-- @@blkAziendeCollegate -->
              <li>
                <a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <!-- @@blkSincronizzaFascicolo -->
              <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
              </li>
              <!-- @@blkSincronizzaFascicolo -->
              <!-- @@blkSoggettiCollegati -->
              <li>
                <a href="../layout/contitolari.htm">Soggetti
                  collegati</a>
              </li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
              <li>
                <a href="../layout/conti_correnti.htm">Conti
                  Correnti</a>
              </li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
              <li>
                <a href="../layout/sedi.htm">Unit&agrave; produttive</a>
              </li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
		          <!-- @@blkUnitaVitate -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
		              <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
              <li>
                <a href="../layout/fabbricati.htm">Fabbricati e
                  Strutture</a>
              </li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
              <li>
                <a href="../layout/allevamenti.htm">Allevamenti</a>
              </li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
              <li>
                <a href="../layout/manodopera.htm">Manodopera</a>
              </li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
              <li>
                <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
              </li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
              <li>
                <a href="../layout/diritti.htm">Diritti di
                  produzione</a>
              </li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              <li>
                <a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a>
              </li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
              <li>
                <a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a>
              </li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li>
                <a href="../layout/documentiElenco.htm">Documenti</a>
              </li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
		          <li>
		            <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
		          </li>
		          <!-- @@blkFascicoloDematerializzato -->
              <!-- @@blkGestioneNotifiche -->
              <li>
                <a href="../layout/notifiche.htm">Notifiche</a>
              </li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
              <li>
                <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione
                  10/R</a>
              </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
              <li>
                <a href="../layout/pratiche.htm">Pratiche</a>
              </li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
              <li>
                <a href="../layout/scelta_stampa.htm">Stampe</a>
              </li>
              <!-- @@blkStampaFascicolo -->
			  <li><a href="../layout/strumenti.htm">Strumenti</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          <div>
            <input type="hidden" id="richiestaModifica"
              name="richiestaModifica" size="50" maxlength="100"
              value="$$richiestaModifica" />
            <input type="hidden" id="operazione" name="operazione"
              size="50" maxlength="100" value="$$operazione" />
            <input type="hidden" id="motivoModifica"
              name="motivoModifica" size="50" maxlength="100"
              value="$$motivoModifica" />
            <input type="hidden" id="idAnagAzienda" name="idAnagAzienda"
              size="50" maxlength="100" value="$$idAnagAzienda" />
            <input type="hidden" id="CUAA" name="CUAA" value="$$CUAA" />
            <input type="hidden" id="cessazione" name="cessazione" />
            <input type="hidden" id="provenienza" name="provenienza"
              value="modificaDatiAnagrafe" />
            <input type="hidden" id="obiettivo" name="obiettivo"
              value="" />
          </div>
          <div id="indice">
            <span class="voce"> <a href="../layout/anagrafica_mod.htm">anagrafica</a></span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce"> <a
              href="../layout/anagraficaRappLegale_mod.htm">rappr.legale/titolare</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce"> <a
              href="../layout/anagraficaSede_mod.htm">sede legale</a> </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="evidenza">indicatori aziendali</span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
             	<a href="../layout/anagraficaAltreInformazioni_mod.htm">altre informazioni</a>
           	</span>
           	<span class="bugFix">&nbsp;|&nbsp;</span>
          </div>
          
          
          <table cellspacing="3"
            summary="Questa tabella contiene i dati del rapporto">
            <tr>
              <th scope="row">
                Attivit&agrave; Economica prevalente (ATECO)
              </th>
              <td>
                <label for="codiceATECO">
                  cod.
                </label>
                <label for="descrizioneATECO" class="alt">
                  descrizioneATECO
                </label>
                <input type="hidden" id="idAttivitaATECO"
                  name="idAttivitaATECO" maxlength="9"
                  value="$$idAttivitaATECO" />
                <input type="text" id="codiceATECO" name="codiceATECO"
                  maxlength="9" class="textbreve" value="$$codiceATECO" $$disabled />
                <input type="text" id="descrizioneATECO"
                  name="descrizioneATECO" maxlength="500" class="longText"
                  value="$$descrizioneATECO" $$disabled />
                 $$err_codiceATECO
              </td>
              <td>
                <!-- @@blkFieldEnabled -->
                <div class="azioni">
                  <a
                    href="javascript: scegliATECO('../layout/scegliATECO.htm','scegli_ateco','600','300','yes',document.form1.codiceATECO.value,document.form1.descrizioneATECO.value, document.forms[0]);">cerca</a>
                </div>
                <!-- @@blkFieldEnabled -->
              </td>
            </tr>
          </table>
          
          
          <!-- @@blkFieldDisabled -->
          <input type="hidden" id="idDimensioneAzienda" name="idDimensioneAzienda" value="$$idDimensioneAzienda" />
          <input type="hidden" id="codiceATECO" name="codiceATECO" value="$$codiceATECO" />
          <input type="hidden" id="descrizioneATECO" name="descrizioneATECO" value="$$descrizioneATECO" />
          <!-- @@blkFieldDisabled -->
          
          
          <table cellspacing="3"
            summary="Questa tabella contiene i dati del rapporto">
            <tr>
              <th scope="row">
                  Elenco Attivit&agrave; Economiche secondarie (ATECO)
              </th>
              <td><label for="codiceAttSecondarie">cod.</label></td>
              <td>
                <label for="descrizioneAttSecondarie" class="alt">descrizioneAttivit&agrave;Secondarie</label>
                <input type="hidden" id="idAttivitaATECOSec"
                  name="idAttivitaATECOSec" maxlength="9"
                  value="$$idAttivitaATECOSec" />
                <input type="text" id="codiceATECOSec" name="codiceATECOSec"
                  maxlength="9" class="textbreve" value="$$codiceATECOSec" $$disabled />
                $$err_codiceATECOSec
              </td>
              <td>
                <input type="text" id="descrizioneATECOSec"
                  name="descrizioneATECOSec" maxlength="500" class="longText"
                  value="$$descrizioneATECOSec" $$disabled />
                $$err_descrizioneATECOSec
              </td>
              <td>
                <!-- @@blkFieldEnabled -->
                <div class="azioni"> 
                  <a href="javascript: scegliATECOSec('../layout/scegliATECO.htm','scegli_ateco','600','300','yes',document.form1.codiceATECOSec.value,document.form1.descrizioneATECOSec.value, document.forms[0]);">cerca</a>
                </div>
                <!-- @@blkFieldEnabled -->
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <!-- @@blkFieldEnabled -->
                <div class="azioni">
                  <a href="#" id="inserisciATECOSec" name="inserisciATECOSec" onClick="javascript:setHiddenOperazioneInsAteco(document.forms[0],'inserisciATECOSec',this);return false;" class="inputPulsante highlighted">inserisci</a>
                </div>
                <!-- @@blkFieldEnabled -->
                $$err_inserisciATECOSec
              </td>
            </tr>
          </table>
          <!-- @@blkAttivitaATECOSec -->
          <table>
            <tr>
              <th class="radio"></th>
              <th class="center">
                Codice
              </th>
              <th class="center">
                Attivit&agrave; ATECO
              </th>
            </tr>
            <!-- @@blkElencoAttivitaATECOSec -->
            <tr>
              <td class="radio">
                <input type="checkbox" name="chkAttivitaAtecoSec" id="chkAttivitaAtecoSec" value="$$chkAttivitaAtecoSec" $$chkAttivitaAtecoSec  />
                <input name="idAttivitaATECOElenco" type="hidden" value="$$idAttivitaATECOElenco" id="idAttivitaATECOElenco" />
              </td>
              <td>
                $$codiceATECOSecElenco
              </td>
              <td>
                $$descrizioneATECOSecElenco
              </td>
            </tr>
            <!-- @@blkElencoAttivitaATECOSec -->
            <tr>
              <td colspan="4">
                <!-- @@blkFieldEnabled -->
                <div class="azioni">
                  <a href="#" id="eliminaATECOSec" name="eliminaATECOSec" onClick="setHiddenOperazione(document.forms[0],'eliminaATECOSec', this);return false;" >elimina</a>
                </div>
                <!-- @@blkFieldEnabled -->
                ##err_eliminaATECOSec
              </td>
            </tr>
          </table>
          <!-- @@blkAttivitaATECOSec -->
          
          <table cellspacing="3" summary="Questa tabella contiene i dati del rapporto">
            <col width="30%"/>
            <col width="70%"/>
            <!-- @@blkGruppoGreening -->
            <tr>
            	<th class="allineaSx" scope="row" colspan="2">
            		$$descGruppo
            	</th>
            </tr>
            <!-- @@blkGreening -->
            <tr>
            	<th scope="row">$$tipo</th>
              <td>$$descrizione</td>
            </tr>
            <!-- @@blkGreening -->
            <!-- @@blkGruppoGreening -->
            <tr>
              <td colspan="2">
                <div class="azioni">
                  <a href="#" id="ricalcolaIndicatori" name="ricalcolaIndicatori" onClick="javascript:setHiddenOperazioneInsAteco(document.forms[0],'ricalcolaIndicatori',this);return false;" class="inputPulsante highlighted">ricalcola indicatori</a>
                </div>
                $$err_ricalcolaIndicatori
              </td>
            </tr>
          </table>

          <div class="pulsanti">
            <div class="sin">
              <input type="submit" name="salva" value="salva"
                class="inputPulsante highlighted" />
            </div>
            <div class="des">
              <input type="submit" name="annulla" value="annulla"
                class="inputPulsante annulla" />
            </div>
          </div>
          
          $$exception
          
          <!-- @@blkErrore -->
          <p class="errore">$$messaggioErrore</p>
          <!-- @@blkErrore -->
          
          <!-- fine della tabella a due colonne -->
        </div>
      </div>
      </form>
      <hr />
      <!-- PIE' DI PAGINA -->
      $$footer