$$head
<script src="../js/checktext.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript">

    function goTo(url) {
      document.form1.operazione.value = 'indietro';
      document.form1.action = url;
      document.form1.submit();
    }

    function revoca(url) {
      document.form1.operazione.value = 'conferma';
      document.form1.action = url;
      document.form1.submit();
    }

  </script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post" action="">
    <div id="pagina" class="colonnaUnica">
      <input type="hidden" id="operazione" name="operazione" value="$$operazione"/>
      <input type="hidden" id="dataFineMandato" name="dataFineMandato" value="$$dataFineMandato"/>
      <input type="hidden" id="dataRicRitorno" name="dataRicRitorno" value="$$dataRicRitorno"/>
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
        </div>
      </div>
      <hr/>
      <div style="clear:left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <hr/>
        <!-- PRIMA COLONNA -->
        <div id="content">
          <p>Il mandato presso $$denomIntermediario verr&agrave; revocato automaticamente in data $$dataRevoca. Sei sicuro di voler proseguire?</p>
          
           <div class="pulsanti">
          <div class="sin">
            <input type="button" value="conferma" name="conferma" class="inputPulsante highlighted" onClick="javascript: revoca('../layout/confermaRevocaDelega.htm')"/>
          </div>
          <div class="des">
            <input type="button" value="annulla" name="annulla" class="inputPulsante" onClick="javascript: goTo('../layout/revocaDelega.htm')"/>
          </div>         
           </div>
           
           
        </div>
        <!-- SECONDA COLONNA -->
        
        <!-- @@blkErrore -->
          <p class="errore">$$messaggioErrore</p>
        <!-- @@blkErrore -->
        
        
      </div>
      <hr/>
    </form>
    <!-- PIE' DI PAGINA -->
    $$footer
