$$head
  <script src="../js/checktext.js" type="text/javascript"></script>
  <script type="text/javascript" src="../js/messaggistica.js"></script>
  <script type="text/javascript">

    function submit(form,dest) {
      var action=form.action;
      form.action=dest;
      form.submit();
      form.action=action;
    }

    function dettaglio() {
      var radio=document.contiCorrenti.idContoCorrente;
      if (!radio) {
        alert("Nessun conto corrente");
        return;
      }
      if (!radio.length) {
        if (radio.checked) {
          submit(document.contiCorrenti,"./conti_correnti_det.htm");
          return;
        }
      }
      else {
        for(i=0;i<radio.length;i++) {
          if (radio[i].checked) {
            submit(document.contiCorrenti,"./conti_correnti_det.htm");
            return;
          }
        }
      }
      alert("Selezionare un conto corrente");
    }

    function inserisci() {
      doForm(document.contiCorrenti,"inserisci");
    }

    function aggiorna() {
      doForm(document.contiCorrenti,"aggiorna");
    }


    function modifica() {
      var radio=document.contiCorrenti.idContoCorrente;
      if (!radio) {
        alert("Nessun conto corrente");
        return;
      }
      if (!radio.length) {
        if (radio.checked) {
          doForm(document.contiCorrenti,"modifica");
          return;
        }
      }
      else {
        for(i=0;i<radio.length;i++) {
          if (radio[i].checked) {
            doForm(document.contiCorrenti,"modifica");
            return;
          }
        }
      }
      alert("Selezionare un conto corrente");
    }

    function elimina() {
      var radio=document.contiCorrenti.idContoCorrente;
      if (!radio) {
        alert("Nessun conto corrente");
        return;
      }
      if (!radio.length) {
        if (radio.checked) {
          doForm(document.contiCorrenti,"elimina");
          return;
        }
      }
      else {
        for(i=0;i<radio.length;i++) {
          if (radio[i].checked) {
            doForm(document.contiCorrenti,"elimina");
            return;
          }
        }
      }
      alert("Selezionare un conto corrente");
    }

  </script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="contiCorrenti" name="contiCorrenti" method="post" action="../layout/conti_correnti.htm">
    <div id="pagina" class="colonnaUnica">
    <!-- INTESTAZIONE -->
    <div id="intestazione##pathProvincia">
      <!--#include virtual="/ris/include/smrgaaweb/header.html" -->
      <!-- menu di navigazione-->
      <div id="titoloEmenu">
        <h2>
          <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
        </h2>
        <div id="menuDiNavigazione" title="Menu di navigazione">
          <ul class="menuTendina" id="menu-2">
            <li>
              <a href="../layout/index.htm" title="Torna alla pagina principale">home</a>
            </li>
            <li class="attivo">gestione anagrafe aziende</li>
            <li>
              <a href="#" title="contatti">contatti</a>
            </li>
            <li>
              <a href="#" title="help">help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr/>
    <div style="clear:left"></div>
    <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>$$utente&nbsp;&nbsp;
            <strong>ente:</strong>$$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr/>
        <!--PRIMA COLONNA -->
        <h3>Gestione Anagrafe Aziende&nbsp;&gt;&nbsp;Conti Correnti
          <span class="helpFuori">
            <a href="#">
              <span class="alt">[help]</span>
            </a>
          </span>
        </h3>
        <hr/>
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
                <li><a href="../layout/elencoAziendeRapLegale.htm">Elenco Aziende</a></li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
                <li><a href="../layout/ricerca.htm">Ricerche</a></li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
                <li>
                  <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova Azienda</a>
                </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
		          <li>
		            <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
		          </li>
		          <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm">Anagrafica</a>
              </li>
              <!-- @@blkAziendeCollegate -->
            			<li>
            					<a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
            			</li>
            	<!-- @@blkAziendeCollegate -->
              <!-- @@blkSincronizzaFascicolo -->
              <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
              </li>
              <!-- @@blkSincronizzaFascicolo -->	
              <!-- @@blkSoggettiCollegati -->
                <li>
                  <a href="../layout/contitolari.htm">Soggetti collegati</a>
                </li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
                <li>
                  <a href="../layout/conti_correnti.htm" class="on">Conti Correnti</a>
                  <ul>
                  <!--@@blkDettaglio-->
                    <li>
                      <a href="javascript:dettaglio()" title="visualizza in dettaglio i dati del conto corrente selezionato">dettaglio</a>
                    </li>
                  <!--@@blkDettaglio-->
                  <!--@@blkModifica-->
                    <li>
                      <a href="javascript:modifica();" title="apre la finestra per modificare il soggetto selezionato">modifica</a>
                    </li>
                  <!--@@blkModifica-->
                  <!--@@blkElimina-->
                    <li>
                      <a href="javascript:elimina();" title="elimina">elimina</a>
                    </li>
                  <!--@@blkElimina-->
                  <!--@@blkInserisci-->
                    <li>
                      <a href="javascript:inserisci();" title="apre la finestra per inserire un nuovo soggetto">inserisci</a>
                    </li>
                  <!--@@blkInserisci-->
                  </ul>
                </li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
                <li>
                  <a href="../layout/sedi.htm">Unit&agrave; produttive</a>
                </li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
		          <!-- @@blkUnitaVitate -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
		              <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
                <li>
                  <a href="../layout/fabbricati.htm">Fabbricati e Strutture</a>
                </li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
                <li>
                  <a href="../layout/allevamenti.htm">Allevamenti</a>
                </li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
                <li>
                  <a href="../layout/manodopera.htm">Manodopera</a>
                </li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
                <li>
                  <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
                </li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
                <li><a href="../layout/diritti.htm">Diritti di produzione</a></li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              	<li><a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a></li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
                <li>
                  <a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a>
                </li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li><a href="../layout/documentiElenco.htm">Documenti</a></li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
		          <li>
		            <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
		          </li>
		          <!-- @@blkFascicoloDematerializzato --> 
              <!-- @@blkGestioneNotifiche -->
                <li>
                  <a href = "../layout/notifiche.htm">Notifiche</a>
                </li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
                <li>
                  <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione 10/R</a>
                </li>
              <!-- @@blkComunicazione10R -->
	            <!-- @@blkPratiche -->
              <li><a href="../layout/pratiche.htm">Pratiche</a></li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
                <li>
                  <a href="../layout/scelta_stampa.htm">Stampe</a>
                </li>
              <!-- @@blkStampaFascicolo -->
			  <li><a href="../layout/strumenti.htm">Strumenti</a></li>
            </ul>
          </div>
        </div>
        <hr/>
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          <!-- @@blkNotifica -->
            <p class="$$immagine">$$messaggioNotifica</p>
            <!-- @@blkINNotifica -->
              <div class="notifica">$$notifica</div>
             <!-- @@blkINNotifica -->
          <!-- @@blkNotifica -->
          <br/>
          <!-- @@blkEAgriServ -->
          <p class="errore">$$erroriAgriserv</p>
          <!-- @@blkEAgriServ -->
          
          <table cellspacing="3" summary="Questa tabella è costituita da righe">
              <col width="30%"/>
              <col width="70%"/>
              <tr>
                <td>
                  <label for="storico" class="checkbox">Visualizza storico</label>
                  <input type="checkbox" name="storico" id="storico" value="si" $$checkedStorico/>
                </td>
                <td>
                  <div class="azioni">
                    <a href="javascript:aggiorna();">aggiorna</a>
                  </div>
                </td>
              </tr>
            </table>
          <!-- @@blkSiContiCorrenti -->
            <table cellspacing="3" summary="Questa tabella contiene i dati del rapporto">
              <tr>
                <th rowspan="2" class="radio" scope="col"></th>
                <th rowspan="2" class="center" scope="col">Banca</th>
                <th rowspan="2" class="center" scope="col">Filiale</th>
                <th colspan="6" class="center" scope="col">IBAN</th>
                <th rowspan="2" class="center" scope="col">Conto<br>speciale</th>
                <th rowspan="2" class="center" scope="col">Conto<br>esclusivo</th>
                <th rowspan="2" class="center" scope="col">Dal</th>
                <th rowspan="2" class="center" scope="col">Al</th>
                <th rowspan="2" class="radio" scope="col">Validazione</th>
                <th rowspan="2" class="center" scope="col">Pratiche</th>
              </tr>
              <tr>
                <th class="center" scope="col">Codice Paese</th>
                <th class="center" scope="col">Cifra di controllo</th>
                <th class="center" scope="col">CIN</th>
                <th class="center" scope="col">ABI</th>
                <th class="center" scope="col">CAB</th>
                <th class="center" scope="col">Numero Conto</th>
              </tr>
            <!-- @@blkElenco -->
                <tr  class="evidence">
                  <th class="radio" scope="row">
                    <input type="radio" class="radio" id="idContoCorrente" name="idContoCorrente" value="$$idContoCorrente" $$checked/>
                    <label for="idContoCorrente" class="alt">ContoCorrente</label>
                  </th>
                  <td>$$banca</td>
                  <td>$$filiale</td>
                  <td>$$codpaese</td>
                  <td>$$cctrl</td>
                  <td>$$cin</td>
                  <td>$$abi</td>
                  <td>$$cab</td>
                  <td>$$numeroconto</td>
                  <td class="center">$$flagContoGf</td>
                  <td class="center">$$flagContoVincolato</td>
                  <td>$$dataInizioValidita</td>
                  <td>$$dataEstinzione</td>
                  <td align="center">
                    $$validazioneCC
                  </td>
                  <!-- @@blkImmaginePratica -->
                  <td class="ico_pratica"><a href="javascript: newWindowDoFormGeneric('../layout/popContiCorrentiPratiche.htm?idContoCorrente=$$idContoCorrente', 'pratiche', '800','400','yes', 'pratiche');" class="pratica"></a></td>
                  <!-- @@blkImmaginePratica -->
                  <!-- @@blkNoImmaginePratica -->
                  <td>&nbsp;</td>
                  <!-- @@blkNoImmaginePratica -->
                </tr>
            <!-- @@blkElenco -->
            </table>
          <!-- @@blkSiContiCorrenti -->
        
          <!-- @@blkNoContiCorrenti -->
            <p class="errore">Non esistono conti correnti relativi all'azienda agricola selezionata</p>
          <!-- @@blkNoContiCorrenti -->
           
          <!-- @@blkErrore -->
          <p class="errore">
            $$messaggioErrore
          </p>
          <!-- @@blkErrore -->
        </div>
      </div>
      <hr/>
      <div id="hiddenElement"><!-- necessario per l'invio dei dati --></div>
      <!-- PIE' DI PAGINA -->
      $$footer
