$$head

<script src="../js/checktext.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script language="javascript1.2" src="../js/stampaMod.js"  type="text/javascript"></script>
<link rel="stylesheet" href="../css/jQueryAnag.css" />
<script type="text/javascript">

  	function customDoForm(page) {
    		var oldAction = document.form1.action;
    		document.form1.action=page;
    		document.form1.submit();
    		document.form1.action=oldAction;
  	}

  	function goTo(page) {
    		var radio = document.form1.radiobutton;
    		if(!radio) {
      		alert("Nessuna dichiarazione di consistenza!");
      		return;
    		}
    		if(!radio.length) {
      		if(radio.checked) {
        			currentSelection = radio.value;
        			customDoForm(page);
        			return;
      		}
    		}
    		else {
      		for(i = 0; i < radio.length; i++) {
        			if(radio[i].checked) {
          			currentSelection = radio[i].value;
          			customDoForm(page);
          			return;
        			}
      		}
    		}
    		alert("Selezionare una dichiarazione di consistenza!");
  	}
  	
  	function protocollaDichiarazione(url, form, array) {
  		var coll = array;
  		var count = 0;
  		if(coll.length) {
    			for(i = 0; i < coll.length; i++) {
      			if(coll[i].checked) {
        				count++;
      			}
    			}
  		}
  		else {
    			if(coll.checked) {
      			count++;
    			}
  		}
  		if(count == 0) {
    			alert("Selezionare una voce dall'elenco");
  		}
  		else {
  			if(confirm('Alle dichiarazioni selezionate verrà assegnato un nuovo numero di repertorio. Sei sicuro di voler proseguire?')) {
			    document.forms[0].action = url;
			    document.forms[0].submit();
			}
		}
	}
	
	function visualizzaFile(idAllegato)
  {
    var oldAction = document.form1.action

    document.form1.idAllegato.value = idAllegato;
     
    document.form1.action = 'visualizzaFileAllegato.htm?arrivo=elencoDichCons';
    document.form1.submit();
    document.form1.action = oldAction;
  }
 
 

  </script>
  <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="../js/jquery-ui-1.8.21.custom/jquery-ui-1.8.21.custom.min.js"></script>
  <script type="text/javascript"  src="/js_rupar/agricoltura/visualizza_righe.js"></script>
  <script type="text/javascript" src="/js_rupar/tooltip.js"></script>
  <script type="text/javascript">
    
    jQuery(function($) {

      <!-- @@blkjQuery -->
      $( document ).ready(function() {
          loading(); // loading
          setTimeout(function(){ // then show popup, deley in .5 second
            loadPopup(); // function show popup
          }, 500); // .5 second
      return false;
      });
     <!-- @@blkjQuery -->

      $("a.topopup").click(function() {
          loading(); // loading
          setTimeout(function(){ // then show popup, deley in .5 second
            loadPopup(); // function show popup
          }, 500); // .5 second
      return false;
      });
    
      /* event for close the popup */
      $("div.close").hover(
              function() {
                $('span.ecs_tooltip').show();
              },
              function () {
                  $('span.ecs_tooltip').hide();
                }
            );
    
      $("div.close").click(function() {
        disablePopup();  // function close pop up
      });
    
      $(this).keyup(function(event) {
        if (event.which == 27) { // 27 is 'Ecs' in the keyboard
          disablePopup();  // function close pop up
        }
      });
    
            $("div#backgroundPopup").click(function() {
        disablePopup();  // function close pop up
      });
    
      $('a.livebox').click(function() {
        alert('Hello World!');
      return false;
      });
    
       /************** start: functions. **************/
      function loading() {
        $("div.loader").show();
      }
      function closeloading() {
        $("div.loader").fadeOut('normal');
      }
    
      var popupStatus = 0; // set value
    
      function loadPopup() {
        if(popupStatus == 0) { // if value is 0, show popup
          closeloading(); // fadeout loading
          $("#toPopup").fadeIn(0500); // fadein popup div
          $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
          $("#backgroundPopup").fadeIn(0001);
          popupStatus = 1; // and set value to 1
        }
      }
    
      function disablePopup() {
        if(popupStatus == 1) { // if value is 1, close popup
          $("#toPopup").fadeOut("normal");
          $("#backgroundPopup").fadeOut("normal");
          popupStatus = 0;  // and set value to 0
        }
      }
      /************** end: functions. **************/
    }); // jQuery End
    
    /*function stampaModDichiarazione(form)
    {
      <!-- @@blkStampaValidazione -->
      stampaMod(form);      
      <!-- @@blkStampaValidazione -->   
    }*/
    
    
    
    function ctrlEndPdf()
    {
      var idDichiarazioneConsistenzaStampa = '$$idDichiarazioneConsistenzaStampa';
      $.ajax({
          url: "../servlet/CtrlValueDichConsRecuperaServlet",
          type: "POST",
          data: 'idDichiarazioneConsistenzaStampa='+idDichiarazioneConsistenzaStampa,   
          success: function( data ) 
                  {
                    if(data == 'success')
                    {
                      location.href='../layout/dichiarazioneConsistenza.htm';
                    }
                    else if(data == 'failed')
                    {
                      //location.href='../layout/dichiarazioneConsistenza.htm?fallitaStampa=true';
                      document.form1.action = '../layout/dichiarazioneConsistenza.htm?fallitaStampa=true';
                      document.form1.submit();
                    }
                    else if(data == 'inCorso')
                    {
                      alert("Attenzione e\' in corso un\'altra generazione di stampa")
                    }             
                  },
           dataType: 'html'
          
        });
    
    }
    
    /*function ctrlEndPdfProtocolla_Allegati()
    {
      var idDichiarazioneConsistenzaRigenera = '$$idDichiarazioneConsistenzaRigenera';
      $.ajax({
          url: "../servlet/CtrlValueDichConsRecuperaServlet",
          type: "POST",
          data:  'idDichiarazioneConsistenzaRigenera='+idDichiarazioneConsistenzaRigenera ,        
          success: function( data ) 
                  {
                    if(data == 'success')
                    {
                      location.href='../layout/dichiarazioneConsistenza.htm';
                    }
                    else if(data == 'inCorso')
                    {
                      alert("Attenzione e\' in corso un\'altra generazione di stampa")
                    }               
                  },
           dataType: 'html'
          
        });
    
    }*/
    
    function ctrlEndRecuperaPdf(idDichiarazioneConsistenzaPar, indice)
    {
      var clsTd = ".clsTd"+indice;
      
      $.ajax({
          url: "../servlet/CtrlValueDichConsRecuperaServlet",
          type: "POST",
          data: 'idDichiarazioneConsistenzaStampa='+idDichiarazioneConsistenzaPar,
          beforeSend: function() 
					            {
					              $(clsTd).each(function() 
                        {
                          $(this).html("<a href=\"#\" class=\"clessidra\"></a>");
                        }); 		              
					            }, 
          success: function( data ) 
                  {
                    if(data == 'success')
                    {
                      location.href='../layout/dichiarazioneConsistenza.htm';
                    }
                    else if(data == 'failed')
                    {
                      document.form1.action = '../layout/dichiarazioneConsistenza.htm?fallitaStampa=true';
                      document.form1.submit();
                    }
                    else if(data == 'inCorso')
                    {
                      alert("Attenzione e\' in corso un\'altra generazione di stampa")
                    }             
                  },
           dataType: 'html'
          
        });
    
    }
    
    
	  
	  /*var intervalId = null;
		function actionStop()
		{
		  clearInterval(intervalId);
		}
		function ctrlEndStampa()
    {
      $.ajax({
          url: "../servlet/CtrlValueDichConsServlet",
          type: "POST",
          data: { idDichiarazioneConsistenzaDaValid: $$idDichiarazioneConsistenzaDaValid } ,
          success: function( data ) 
                  {
                    if(data == "success")
                    {
                      location.reload();
                    }             
                  },
           dataType: 'html'
          
        });
    
    }*/
		function startCtrlEndStampa()
		{
		  <!-- @@blkPdfValidazione -->
      ctrlEndPdf();
      <!-- @@blkPdfValidazione -->  
		}
		
		/*function startCtrlEndStampaProtocolla_Allegati()
    {
      <!-- @@blkPdfValidazioneProtocolla_Allegati -->
      ctrlEndPdfProtocolla_Allegati();
      <!-- @@blkPdfValidazioneProtocolla_Allegati -->  
    }*/

  </script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');startCtrlEndStampa();">
  <div id="pagina" class="colonnaUnica">
    <form id="form1" name="form1" method="post"  action="../layout/dichiarazioneConsistenza.htm">
      <input type="hidden" name="operazione" value="$$operazione" />
      <input type="hidden" name="idAllegato" value="" />
      <div id="intestazione##pathProvincia">
        <!--#include virtual="/ris/include/smrgaaweb/header.html" -->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm"
                  title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">
                gestione anagrafe aziende
              </li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div style="clear: left"></div>
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>$$utente&nbsp;&nbsp;
            <strong>ente:</strong>$$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr />
        <h3>
          Gestione Anagrafe
          Aziende&nbsp;&gt;&nbsp;Validazioni&nbsp;&gt;&nbsp;Elenco
          <span class="helpFuori"> <a href="#"> <span
              class="alt">[help]</span> </a> </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
              <li>
                <a href="../layout/elencoAziendeRapLegale.htm">Elenco
                  Aziende</a>
              </li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerche</a>
              </li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
              <li>
                <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova
                  Azienda</a>
              </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
		          <li>
		            <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
		          </li>
		          <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm">Anagrafica</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <li>
                <a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <!-- @@blkSincronizzaFascicolo -->
               <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
               </li>
              <!-- @@blkSincronizzaFascicolo -->
              <!-- @@blkSoggettiCollegati -->
              <li>
                <a href="../layout/contitolari.htm">Soggetti
                  collegati</a>
              </li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
              <li>
                <a href="../layout/conti_correnti.htm">Conti
                  Correnti</a>
              </li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
              <li>
                <a href="../layout/sedi.htm">Unit&agrave; produttive</a>
              </li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
		          <!-- @@blkUnitaVitate -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
		              <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
              <li>
                <a href="../layout/fabbricati.htm">Fabbricati e
                  Strutture</a>
              </li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
              <li>
                <a href="../layout/allevamenti.htm">Allevamenti</a>
              </li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
              <li>
                <a href="../layout/manodopera.htm">Manodopera</a>
              </li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
              <li>
                <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
              </li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
              <li>
                <a href="../layout/diritti.htm">Diritti di
                  produzione</a>
              </li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              <li>
                <a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a>
              </li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
              <li>
                <a href="#" class="on">Validazioni</a>
                <ul>
                  <!-- @@blkDettaglio -->
                  <li>
                    <a
                      href="javascript:submitForm('../layout/dichiarazione_det.htm', document.forms[0], document.forms[0].radiobutton)">dettaglio</a>
                  </li>
                  <!-- @@blkDettaglio -->
                  <!-- @@blkDichConsAllegati -->
                  <li>
                    <a
                      href="javascript:submitForm('../layout/dichiarazioneConsistenzaAllegati.htm', document.forms[0], document.forms[0].radiobutton)">allegati</a>
                  </li>
                  <!-- @@blkDichConsAllegati -->
                  <!-- @@blkEliminaConsistenza -->
                  <li>
                    <a
                      href="javascript:submitForm('dichiarazioneElimina.htm', document.forms[0], document.forms[0].radiobutton)">elimina</a>
                  </li>
                  <!-- @@blkEliminaConsistenza -->
                  <!-- @@blkStampa -->
                  <li>
                    <a href="../layout/stampa.htm">stampa
                      consistenza</a>
                  </li>
                  <!-- @@blkStampa -->
                  <!-- @@blkConsistenzaVerifica -->
                  <li>
                    <a
                      href="javascript: goToOperazione('../layout/dichiarazioneVerifica.htm', document.form1, 'attenderePrego');">verifica
                      consistenza</a>
                  </li>
                  <!-- @@blkConsistenzaVerifica -->
                  <!-- @@blkConsistenzaNuova -->
                  <li>
                    <a
                      href="../layout/dichiarazioneAnomaliaScegliMotivo.htm">nuova
                      validazione</a>
                  </li>
                  <!-- @@blkConsistenzaNuova -->
                  <!-- @@blkProtocollaDichiarazione -->
                  <li>
                    <a
                      href="javascript: protocollaDichiarazione('../layout/dichiarazioneProtocolla.htm', document.forms[0], document.forms[0].radiobutton);">repertoria</a>
                  </li>
                  <!-- @@blkProtocollaDichiarazione -->
                  <!-- @@blkModificaDichiarazione -->
                  <li>
                    <a
                      href="javascript:submitForm('../layout/dichiarazioneConsistenzaMod.htm', document.forms[0], document.forms[0].radiobutton)">modifica</a>
                  </li>
                  <!-- @@blkModificaDichiarazione -->
                  <!-- @@blkRipristinaConsistenza -->
                  <li>
                    <a
                      href="javascript:submitForm('../layout/ripristinaDichConferma.htm', document.forms[0], document.forms[0].radiobutton);">ripristina
                      dichiarazione</a>
                  </li>
                  <!-- @@blkRipristinaConsistenza -->
                  <!-- @@blkInvioFascicoli -->
                  <li>
                    <a
                      href="javascript:submitForm('../layout/schedulaInvioASian.htm', document.forms[0], document.forms[0].radiobutton);">schedula invio a SIAN
                    </a>
                  </li>
                  <!-- @@blkInvioFascicoli -->
                </ul>
              </li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li>
                <a href="../layout/documentiElenco.htm">Documenti</a>
              </li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
		          <li>
		            <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
		          </li>
		          <!-- @@blkFascicoloDematerializzato --> 
              <!-- @@blkGestioneNotifiche -->
              <li>
                <a href="../layout/notifiche.htm">Notifiche</a>
              </li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
              <li>
                <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione
                  10/R</a>
              </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
              <li>
                <a href="../layout/pratiche.htm">Pratiche</a>
              </li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
              <li>
                <a href="../layout/scelta_stampa.htm">Stampe</a>
              </li>
              <!-- @@blkStampaFascicolo -->
			  <li><a href="../layout/strumenti.htm">Strumenti</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          <!-- @@blkNotifica -->
          <p class="$$immagine">
            $$messaggioNotifica
          </p>
          <!-- @@blkINNotifica -->
          <div class="notifica">$$notifica</div>
          <!-- @@blkINNotifica -->
          <!-- @@blkNotifica -->
          <br />
          
          
          
          <!-- Nuova pop up inizio -->
          <div id="toPopup">              
            <div class="close"></div>                    
            <div id="popup_content"> <!--your content start-->
              <img src="../css/im/exclPointTranspSmall.gif" alt="Attenzione" title="Attenzione" style="float: left; margin: auto; vertical-align: middle;" />
              <div id="testoPop">
                <br><br>              
                $$errorsJQuery                
              </div>              
            </div> <!--your content end-->              
          </div> <!--toPopup end-->
    
          <div class="loader"></div>
          <div id="backgroundPopup"></div>
          <!-- Nuova pop up fine -->
          
          
          
          
          
          
          
          <table class="evidence" cellspacing="3"
            summary="Questa tabella contiene l'elenco delle dichiarazioni di consistenza">
            <!-- @@blkEtichettaDichiarazione -->
            <tr>
              <th class="radio" scope="col" colspan="2" rowspan="2">
                &nbsp;                
              </th>
              <th class="center" scope="col" rowspan="2">
                Anno
              </th>
              <th class="center" scope="col" rowspan="2">
                Data
              </th>
              <th class="center" scope="col" colspan="2">
                Repertorio
              </th>
              <th class="center" scope="col" rowspan="2">
                Motivo
              </th>
              <th class="center" scope="col" rowspan="2">
                Anomalie
              </th>
              <th class="center" scope="col" colspan="5">
                Aggiornamento SIAN
              </th>
              <th class="center" scope="col" rowspan="2">
                Stampa
              </th>
              <th class="center" scope="col" rowspan="2">
                Pratiche
              </th>
              <th class="center" scope="col" rowspan="2">
                Piano grafico
              </th>
            </tr>
            <tr>
              <th class="center" scope="col">
                Numero
              </th>
              <th class="center" scope="col">
                Data
              </th>
              <th class="center" scope="col">
                <acronym title="Anagrafica">Anag.</acronym>
              </th>
              <th class="center" scope="col">
                <acronym title="Consitenza Territoriale">Terr.</acronym>
              </th>
              <th class="center" scope="col">
                <acronym title="Unit&agrave; Vitate">U.V.</acronym>
              </th>
              <th class="center" scope="col">
                <acronym title="Fabbricati">Fabb.</acronym>
              </th>
              <th class="center" scope="col">
                <acronym title="Conti Correnti">C/C</acronym>
              </th>
            </tr>
            <!-- @@blkEtichettaDichiarazione -->
            <!-- @@blkElencoDichiarazioniConsistenza -->
            <!-- @@blkNoNuoviAllegati -->
            <tr>
              <th class="radio" scope="row" colspan="2">
                <input type="checkbox" id="radiobutton"
                  name="radiobutton"
                  value="$$idDichiarazioneConsistenza" />
                <label for="radiobutton" class="alt">
                  radiobutton
                </label>
              </th>
              <td>
                $$anno
              </td>
              <td>
                $$data
              </td>
              <td>
                $$numeroProtocollo
              </td>
              <td>
                $$dataProtocollo
              </td>
              <td>
                $$motivo
              </td>
              <td>
                $$anomalia
              </td>
              <td align="center">
                $$aggiornamentoSian
              </td>
              <td align="center">
                $$aggiornamentoSianCT
              </td>
              <td align="center">
                $$aggiornamentoSianUV
              </td>
              <td align="center">
                $$aggiornamentoSianFab
              </td>
              <td align="center">
                $$aggiornamentoSianCC
              </td>
              <td class="clsTd$$indice" >                
                <!-- @@blkFileAllegato -->
                  <a href="javascript:visualizzaFile('$$idAllegato')" class="$$immagineStampa" title="$$titleAllegato"></a>
                <!-- @@blkFileAllegato --> 
                <!-- @@blkRifareStampa -->
                  <a href="javascript:ctrlEndRecuperaPdf('$$idDichiarazioneConsistenza','$$indice')" class="stampaErrore" title="Rigenera la stampa"></a>
                <!-- @@blkRifareStampa --> 
                <!-- @@blkAttendereStampa -->
                  <a href="#" class="clessidra"></a>
                <!-- @@blkAttendereStampa --> 
              </td>
              <!-- @@blkImmaginePratica -->
              <td class="ico_pratica">
                <a
                  href="javascript: newWindowDoForm('../layout/popPraticheDichiarazione.htm?idDichiarazioneConsistenza=$$idDichiarazioneConsistenza', 'pratiche', '800','400','yes', 'pratiche');"
                  class="pratica"></a>
              </td>
              <!-- @@blkImmaginePratica -->
              <!-- @@blkErroreSqlPratica -->
              <td>
                $$err_pratica
              </td>
              <!-- @@blkErroreSqlPratica -->
              <!-- @@blkNoImmaginePratica -->
              <td>&nbsp;                
              </td>
              <!-- @@blkNoImmaginePratica -->
              <td class="ico_pianoGrafico">
                <a href="#"  onclick="alert('$$descPianoGrafico')" onKeyPress="alert('$$descPianoGrafico')" 
                  title="$$descPianoGrafico" class="$$classPianoGrafico"></a>
              </td>
            </tr>
            <!-- @@blkNoNuoviAllegati -->
            <!-- @@blkEsistonoAllegati -->
            <tr  id="$$aggancio">
              <th class="radio" scope="row">
                <input type="checkbox" id="radiobutton"
                  name="radiobutton"
                  value="$$idDichiarazioneConsistenza" />
                <label for="radiobutton" class="alt">
                  radiobutton
                </label>
              </th>
              <td>
                <a href="#" class="tableExpander" title="comprimi">
                  <span class="tableExpLabel">comprimi</span> 
                </a>
              </td>
              <td>
                $$anno
              </td>
              <td>
                $$data
              </td>
              <td>
                $$numeroProtocollo
              </td>
              <td>
                $$dataProtocollo
              </td>
              <td>
                $$motivo
              </td>
              <td>
                $$anomalia
              </td>
              <td align="center">
                $$aggiornamentoSian
              </td>
              <td align="center">
                $$aggiornamentoSianCT
              </td>
              <td align="center">
                $$aggiornamentoSianUV
              </td>
              <td align="center">
                $$aggiornamentoSianFab
              </td>
              <td align="center">
                $$aggiornamentoSianCC
              </td>
              <td class="clsTd$$indice" >                
                <!-- @@blkFileAllegato -->
                  <a href="javascript:visualizzaFile('$$idAllegato')" class="$$immagineStampa" title="$$titleAllegato"></a>
                <!-- @@blkFileAllegato --> 
                <!-- @@blkRifareStampa -->
                  <a href="javascript:ctrlEndRecuperaPdf('$$idDichiarazioneConsistenza','$$indice')" class="stampaErrore" title="Rigenera la stampa"></a>
                <!-- @@blkRifareStampa --> 
                <!-- @@blkAttendereStampa -->
                  <a href="#" class="clessidra"></a>
                <!-- @@blkAttendereStampa --> 
              </td>
              <!-- @@blkImmaginePratica -->
              <td class="ico_pratica">
                <a
                  href="javascript: newWindowDoForm('../layout/popPraticheDichiarazione.htm?idDichiarazioneConsistenza=$$idDichiarazioneConsistenza', 'pratiche', '800','400','yes', 'pratiche');"
                  class="pratica"></a>
              </td>
              <!-- @@blkImmaginePratica -->
              <!-- @@blkErroreSqlPratica -->
              <td>
                $$err_pratica
              </td>
              <!-- @@blkErroreSqlPratica -->
              <!-- @@blkNoImmaginePratica -->
              <td>&nbsp;                
              </td>
              <!-- @@blkNoImmaginePratica -->
              <td class="ico_pianoGrafico">
                <a href="#"  onclick="alert('$$descPianoGrafico')" onKeyPress="alert('$$descPianoGrafico')" 
                  title="$$descPianoGrafico" class="$$classPianoGrafico"></a>
              </td>
            </tr>
            <!-- @@blkElencoAllegati -->
            <tr class="tableExpCol $$aggancio">
              <td colspan="3">
                <!-- @@blkFirmaAllegato -->
                <input type="checkbox" id="radiobutton"
                  name="radiobutton"
                  value="$$idDichiarazioneConsistenzaIdAllegato" />
                <!-- @@blkFirmaAllegato -->
              </td>
              <td>
                 $$dataInizioAllegato
              </td>
              <td colspan="9">
                $$descTipoAllegato
              </td>
              <td class="clsTd$$indice" colspan="3">                
	              <!-- @@blkFileAllegato -->
	                <a href="javascript:visualizzaFile('$$idAllegato')" class="$$immagineStampa" title="$$titleAllegato"></a>
	              <!-- @@blkFileAllegato --> 
	              <!-- @@blkRifareStampa -->
	                <a href="javascript:ctrlEndRecuperaPdf('$$idDichiarazioneConsistenza','$$indice')" class="stampaErrore" title="Rigenera la stampa"></a>
	              <!-- @@blkRifareStampa --> 
	              <!-- @@blkAttendereStampa -->
	                <a href="#" class="clessidra"></a>
	              <!-- @@blkAttendereStampa --> 
	            </td>               
            </tr>
            <!-- @@blkElencoAllegati -->
            <!-- @@blkEsistonoAllegati -->
            <!-- @@blkElencoDichiarazioniConsistenza -->
          </table>
          <!--@@noDichiarazioniConsistenza-->
          <p class="errore">
            Non sono presenti dichiarazioni di consistenza
          </p>
          <!--@@noDichiarazioniConsistenza-->
          <!--@@blkErrore-->
          <p class="errore">
            $$messaggio
          </p>
          <!--@@blkErrore-->
        </div>
      </div>
    </form>
    
    <hr />
    $$footer