$$head
<script type="text/javascript" src="../js/checktext.js"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript">

    	function operazioneFabbricato(url) {
      		document.form1.action = url;
      		document.form1.submit();
    	}

  	</script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post"
    action="../layout/fabbricati.htm">
    <div id="pagina" class="colonnaUnica">
      <div id="intestazione##pathProvincia">
        <!--#include virtual="/ris/include/smrgaaweb/header.html" -->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm"
                  title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">
                gestione anagrafe aziende
              </li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div style="clear: left"></div>
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong> $$utente &nbsp; &nbsp;
            <strong>ente:</strong> $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr />
        <h3>
          Gestione Anagrafe Aziende&nbsp;&gt;&nbsp;Fabbricati
          <span class="helpFuori"> <a href="#"> <span
              class="alt"> [help]</span> </a> </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
              <li>
                <a href="../layout/elencoAziendeRapLegale.htm">Elenco
                  Aziende</a>
              </li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerche</a>
              </li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
              <li>
                <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova
                  Azienda</a>
              </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
		          <li>
		            <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
		          </li>
		          <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm">Anagrafica</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <li>
                <a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <!-- @@blkSincronizzaFascicolo -->
               <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
               </li>
              <!-- @@blkSincronizzaFascicolo -->
              <!-- @@blkSoggettiCollegati -->
              <li>
                <a href="../layout/contitolari.htm">Soggetti
                  collegati</a>
              </li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
              <li>
                <a href="../layout/conti_correnti.htm">Conti
                  Correnti</a>
              </li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
              <li>
                <a href="../layout/sedi.htm">Unit&agrave; produttive</a>
              </li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
		          <!-- @@blkUnitaVitate -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
		              <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
              <li>
                <a href="../layout/fabbricati.htm" class="on">Fabbricati
                  e Strutture</a>
                <ul>
                  <!--@@blkDettaglio-->
                  <li>
                    <a
                      href="javascript: submitForm('../layout/fabbricatiDet.htm', document.forms[0], document.forms[0].idFabbricato);">dettaglio</a>
                  </li>
                  <!--@@blkDettaglio-->
                  <!--@@blkModifica-->
                  <li>
                    <a
                      href="javascript: submitForm('../layout/fabbricatiModCaratteristiche.htm', document.forms[0], document.forms[0].idFabbricato);">modifica</a>
                  </li>
                  <!--@@blkModifica-->
                  <!-- @@blkCessazione -->
                  <li>
                    <a
                      href="javaScript: cessaAttivita('../layout/cessazioneAttivita.htm', 'fabbricato')">cessazione</a>
                  </li>
                  <!-- @@blkCessazione -->
                  <!--@@blkElimina-->
                  <li>
                    <a
                      href="javascript: submitForm('../layout/confermaEliminaFabbricato.htm', document.forms[0], document.forms[0].idFabbricato);">elimina</a>
                  </li>
                  <!--@@blkElimina-->
                  <!--@@blkInserisci-->
                  <li>
                    <a href="../layout/fabbricatiNewCaratteristiche.htm">inserisci</a>
                  </li>
                  <!--@@blkInserisci-->
                </ul>
              </li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
              <li>
                <a href="../layout/allevamenti.htm">Allevamenti</a>
              </li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
              <li>
                <a href="../layout/manodopera.htm">Manodopera</a>
              </li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
              <li>
                <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
              </li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
              <li>
                <a href="../layout/diritti.htm">Diritti di
                  produzione</a>
              </li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              <li>
                <a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a>
              </li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
              <li>
                <a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a>
              </li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li>
                <a href="../layout/documentiElenco.htm">Documenti</a>
              </li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
		          <li>
		            <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
		          </li>
		          <!-- @@blkFascicoloDematerializzato --> 
              <!-- @@blkGestioneNotifiche -->
              <li>
                <a href="../layout/notifiche.htm">Notifiche</a>
              </li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
              <li>
                <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione
                  10/R</a>
              </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
              <li>
                <a href="../layout/pratiche.htm">Pratiche</a>
              </li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
              <li>
                <a href="../layout/scelta_stampa.htm">Stampe</a>
              </li>
              <!-- @@blkStampaFascicolo -->
			  <li><a href="../layout/strumenti.htm">Strumenti</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <div id="contenuto">
          <input type="hidden" id="operazione" name="operazione"
            value="$$operazione" />
          <input type="hidden" id="idElemento" name="idElemento"
            value="$$idElemento" />
          <div id="intesta">
	          <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
	            $$CUAAIntestazione  $$denominazioneIntestazione
	          </p>
	        </div>
          <!-- @@blkNotifica -->
          <p class="$$immagine">
            $$messaggioNotifica
          </p>
          <!-- @@blkINNotifica -->
          <div class="notifica">$$notifica</div>
          <!-- @@blkINNotifica -->
          <!-- @@blkNotifica -->
          <table cellspacing="3"
            summary="Questa tabella permette di selezionare il piano di riferimento">
            <tr>
              <th scope="row">
                <label for="idAnno" class="checkbox">
                  Piano di riferimento
                </label>
              </th>
              <td>
                <select name="idDichiarazioneConsistenza"
                  id="idDichiarazioneConsistenza">
                  <!-- @@blkPianoRiferimento -->
                  <option value="$$idDichiarazioneConsistenza" $$selected>
                    $$descDichiarazioneConsistenza
                  </option>
                  <!-- @@blkPianoRiferimento -->
                </select>
                $$err_idDichiarazioneConsistenza
              </td>
              <td rowspan="2">
                <div class="azioni">
                  <a href="javascript:document.forms[0].submit();">aggiorna</a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <label for="idUte" class="checkbox">
                  UTE
                </label>
              </th>
              <td>
                <select name="idUte" id="idUte">
                  <option value=""></option>
                  <!-- @@blkElencoUte -->
                  <option value="$$idUte" $$selected>
                    $$descUte
                  </option>
                  <!-- @@blkElencoUte -->
                </select>
                $$err_idUte
              </td>              
            </tr>
          </table>
          <hr />
          <div class="scroll">
            <table  class="evidence" cellspacing="3"
              summary="Questa tabella elenca i fabbricati e le relative caratteristiche">
              <!--@@etichettaFabbricati-->
              <thead>
                <tr>
                  <th rowspan="2" class="radio" scope="col"></th>
                  <th rowspan="2" class="radio" scope="col"></th>
                  <th colspan="2" class="center" scope="col">
                    Unit&agrave; produttiva
                  </th>
                  <th rowspan="2" class="center" scope="col">
                    Tipo fabbricato
                  </th>
                  <th colspan="2" rowspan="2" class="center" scope="col">
                    Dimensione
                  </th>
                  <th rowspan="2" class="center" scope="col">
                    Superficie (m2)
                  </th>
                  <th rowspan="2" class="center" scope="col">
                    Data fine validit&agrave;
                  </th>
                </tr>
                <tr>
                  <th class="center" scope="col">
                    <abbr title="provincia">Prov</abbr>.
                  </th>
                  <th class="center" scope="col">
                    Comune
                  </th>
                </tr>
              </thead>
              <!--@@etichettaFabbricati-->
              <!--@@elencoFabbricati-->
              <tbody>
                <tr>
                  <th class="radio" scope="row">
                    <input type="radio" id="idFabbricato"
                      name="idFabbricato" value="$$idFabbricato"
                      $$checked />
                  </th>
                  <td class="radio">
                    <a href="#"  onclick="alert('$$descBiologico')" onKeyPress="alert('$$descBiologico')" 
                      title="$$descBiologico" class="$$classBiologico"></a>
                  </td>
                  <td>
                    $$siglaProvUte
                  </td>
                  <td>
                    $$descComuneUte
                  </td>
                  <td>
                    <label for="idFabbricato">
                      $$descrizioneTipoFabbricato
                    </label>
                  </td>
                  <td class="numeridx">
                    $$dimensioneFabbricato
                  </td>
                  <td>
                    $$unitaMisura
                  </td>
                  <td class="numeridx">
                    $$superficieFabbricato
                  </td>
                  <td>
                    $$dataFineValidita
                  </td>
                </tr>
              </tbody>
              <!--@@elencoFabbricati-->
            </table>
          </div>
          <!--@@noFabbricati-->
          <p class="errore">
            Non esistono fabbricati relativi all'azienda agricola
            selezionata
          </p>
          <!--@@noFabbricati-->
        </div>
      </div>
      <hr />
  </form>
  $$footer