$$head
  <script src="../js/checktext.js" type="text/javascript"></script>
  <script type="text/javascript" src="../js/messaggistica.js"></script>
  <script type="text/javascript">

    function dettaglio(url) {
      if(document.form1.idAnagAzienda != null) {
        var radio;
        var checkAnag = false;
        for(var i = 0; i<document.form1.idAnagAzienda.length || i < 1;i++) {
          radio = document.form1.idAnagAzienda[i];
          if(radio == null) {
            radio = document.form1.idAnagAzienda;
          }
          if(radio.checked == true) {
            checkAnag = true;
            break;
          }
        }
        if(checkAnag == false) {
          alert('Selezionare una azienda');
          return;
        }
      }
      document.form1.action = url;
      document.form1.submit();
    }

  </script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post" action="">
    <div id="pagina" class="colonnaUnica">
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li><a href="../layout/index.htm" title="Torna alla pagina principale">home</a></li>
              <li class="attivo">gestione anagrafe aziende</li>
              <li><a href="#" title="contatti">contatti</a></li>
              <li><a href="#" title="help">help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div style="clear:left">  </div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>
            $$utente
            &nbsp;
            &nbsp;
            <strong>ente:</strong>
            $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr/>
        <!--PRIMA COLONNA -->
        <h3>Gestione Anagrafe Aziende&nbsp;&gt;&nbsp;Storico azienda
          <span class="helpFuori">
            <a href="#">
              <span class="alt">[help]</span>
            </a>
          </span>
        </h3>
        <hr/>
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
                <li><a href="../layout/elencoAziendeRapLegale.htm">Elenco Aziende</a></li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
                <li><a href="../layout/ricerca.htm">Ricerche</a></li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
              <li><a href="../layout/nuovaAziendaAnagrafica.htm">Nuova Azienda</a></li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm" class="on">Anagrafica</a>
                <ul>
                  <li>
                    <a href="javascript:dettaglio('../layout/anagrafica.htm');">dettaglio</a>
                  </li>
                  <li>
                    <a href="#" class="etichetta">storico azienda</a>
                  </li>
                </ul>
              </li>
              <!-- @@blkAziendeCollegate -->
	          			<li>
	          					<a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
	          			</li>
	          	<!-- @@blkAziendeCollegate -->
	          <!-- @@blkSincronizzaFascicolo -->
              <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
              </li>
              <!-- @@blkSincronizzaFascicolo -->
              <!-- @@blkSoggettiCollegati -->
              <li><a href="../layout/contitolari.htm">Soggetti collegati</a></li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
              <li><a href="../layout/conti_correnti.htm">Conti Correnti</a></li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
              <li><a href="../layout/sedi.htm">Unit&agrave; produttive</a></li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
		          <!-- @@blkUnitaVitate -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
		              <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
              <li><a href="../layout/fabbricati.htm">Fabbricati e Strutture</a></li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
              <li><a href="../layout/allevamenti.htm">Allevamenti</a></li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
              <li><a href="../layout/manodopera.htm">Manodopera</a></li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
              <li><a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a></li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
                <li><a href="../layout/diritti.htm">Diritti di produzione</a></li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              	<li><a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a></li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
              <li><a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a></li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li><a href="../layout/documentiElenco.htm">Documenti</a></li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
              <li>
                <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
              </li>
              <!-- @@blkFascicoloDematerializzato -->
              <!-- @@blkGestioneNotifiche -->
              <li><a href="../layout/notifiche.htm">Notifiche</a></li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
                <li>
                  <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione 10/R</a>
                </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
              <li><a href="../layout/pratiche.htm">Pratiche</a></li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
              <li><a href="../layout/scelta_stampa.htm">Stampe</a></li>
              <!-- @@blkStampaFascicolo -->
			  <li><a href="../layout/strumenti.htm">Strumenti</a></li>
            </ul>
          </div>
        </div>
        <hr/>
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <div id="intesta">
	          <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
	            $$CUAAIntestazione  $$denominazioneIntestazione
	          </p>
	          <p>situazione al $$dataSituazioneAlStr</p>
	        </div>
          <!-- @@blkProvenienzaAzienda -->
            <table cellspacing="3" class="detailTable" summary="Questa tabella contiene i dati del rapporto">
              <caption>Azienda di provenienza:</caption>
              <col width="30%"/>
              <col width="70%"/>
              <tr>
                <th scope="row">CUAA</th>
                <td>$$cuaa</td>
              </tr>
              <tr>
                <th scope="row">Denominazione</th>
                <td>$$denominazione</td>
              </tr>
              <tr>
                <th scope="row">Sede legale</th>
                <td>$$sedeLegale</td>
              </tr>
            </table>
            <br/>
          <!-- @@blkProvenienzaAzienda -->
          <table cellspacing="3" summary="Questa tabella contiene i dati del rapporto">
            <tr>
              <th rowspan="2" class="radio">&nbsp;</th>
              <th rowspan="2" class="center" scope="col">CUAA</th>
              <th rowspan="2" class="center" scope="col">Data inizio validit&agrave;</th>
              <th rowspan="2" class="center" scope="col">Data fine validit&agrave;</th>
              <th colspan="2" class="center" scope="col">Variazione</th>
            </tr>
            <tr>
              <th class="center">Motivo</th>
              <th class="center">Utente - Ente</th>
            </tr>
            <!--@@elencoAziende-->
            <tr>
              <td class="radio" scope="row">
                <label for="idAnagAzienda" class="alt">idAnagAzienda</label>
                <input id="idAnagAzienda" name="idAnagAzienda" type="radio" value="$$idAnagAzienda"/>
              </td>
              <td>$$storicoCuaa</td>
              <td>$$dataInizioValidita</td>
              <td>$$dataFineValidita</td>
              <td>$$motivoModifica</td>
              <td>$$ultimaModificaVw</td>
            </tr>
            <!--@@elencoAziende-->
          </table>
          <!-- fine della tabella a due colonne -->
        </div>
      </div>
      <hr/>
      <!-- PIE' DI PAGINA -->
      </form>
      $$footer
