$$head
<script type="text/javascript" src="../js/checktext.js"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.21.custom/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript">
  function modificaRigaDati(tipoModificaPar, numRiga)
  {    
    
    var dataInv = {
      tipoModifica: tipoModificaPar,
      numRiga: numRiga
    };
     
    dataInv = $('#form1').serialize() + '&' + $.param(dataInv);
    
    
    
    $.ajax({
      url: "../layout/tabellaDatiNewRichVarIrr.htm",
      type: "POST",
      data: dataInv,
      success: function( data ) 
              {
                $('#elencoDatiMacchine').html( data );                 
              },
       dataType: 'html'
      
    });   
  }
  
  function modificaComboCategoria(indice)
  {    
    
    var idCombo = '#idCategoriaDiv'+indice;
    var idGenereMacchinaPar = '';
    
    //mi serve per capire se ho più righe!!!
    if (document.form1.annoCostruzione.length)
    {
      idGenereMacchinaPar = document.form1.idGenereMacchina[indice].value;
    }
    else
    {
      idGenereMacchinaPar = document.form1.idGenereMacchina.value;
    }   
    
    var dataInv = {
      idGenereMacchina: idGenereMacchinaPar,
      provenienza: "nuovaIscrizioneRichVarIrr",
      indice: indice
    };
     
    dataInv = $.param(dataInv);    
    
    
    $.ajax({
      url: "../layout/popolaComboCategoria.htm",
      type: "POST",
      data: dataInv,
      success: function( data ) 
              { 
                $(idCombo).html( data );
              },
       dataType: 'html'
      
    });   
  }
  
  
  function modificaComboMarca(indice)
  {
  
    var idCombo = '#idMarcaDiv'+indice;
    var idGenereMacchinaPar = document.form1.idGenereMacchina.value;       
    
    
    //mi serve per capire se ho più righe!!!
    if (document.form1.annoCostruzione.length)
    {
      idGenereMacchinaPar = document.form1.idGenereMacchina[indice].value;
    }
    else
    {
      idGenereMacchinaPar = document.form1.idGenereMacchina.value;
    }
    
    var dataInv = {
      idGenereMacchina: idGenereMacchinaPar
    };   
     
    dataInv = $.param(dataInv);    
    
    
    $.ajax({
      url: "../layout/popolaComboMarca.htm",
      type: "POST",
      data: dataInv,
      success: function( data ) 
              { 
                $(idCombo).html( data );                
              },
       dataType: 'html'
      
    });  
  
  }
  

</script>
</head>
<body id="homeIndice" onload="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
	<form id="form1" name="form1" method="post" action="../layout/newInserimentoRichVarIrr.htm">
    <input type="hidden" id="regimeInserimentoRichVarIrr" name="regimeInserimentoRichVarIrr" value="regimeInserimentoRichVarIrr"/>
    <input type="hidden" id="operazione" name="operazione" value=""/>
    <input type="hidden" id="idAzienda" name="idAzienda" value="$$idAzienda"/>
    <div id="pagina" class="colonnaUnica">
      
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm" title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">gestione anagrafe aziende</li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div style="clear:left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente: </strong> $$utente &nbsp; &nbsp; <strong>ente:
            </strong> $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr />
        <!--PRIMA COLONNA -->
        <h3>
          Richiesta variazione <span class="helpFuori"> <a href="#"> <span
              class="alt"> [help]</span>
          </a>
          </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <!--@@blkGestoreCaa -->
            <ul>
              <li><a href="../layout/ricerca.htm">Ricerca Azienda</a></li>
            </ul>
            <!--@@blkGestoreCaa -->
            <!--@@blkAltro -->
            <ul>
              <li><a href="../layout/elencoAziendeRapLegale.htm">Elenco Aziende</a></li>
            </ul>
            <!--@@blkAltro -->
          </div>
          <div class="menuSX">
            <ul>               
              <li><a href="#" class="on">Nuova richiesta variazione irroratrici</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$cuaaIntestazione - $$denominazioneIntestazione
            </p>
          </div>
          <br>
          <div>
            <p id="istruzioni">$$testoHelp</p>            
          </div>
          <br>
                    
          <div class="scroll">
            <div id="elencoDatiMacchine">
	            <table cellspacing="3" summary="Questa tabella è costituita da righe">
	              <caption>Macchine</caption>
	              <tr>
	                <th class="center" scope="col">
	                  <a href="javascript:modificaRigaDati('inserisci','')" class="aggiungi" title="inserisci Macchine"></a>
	                </th>
	                <th class="center" scope="col">
	                  UTE*
	                </th>
	                <th class="center" scope="col">
	                  Genere*
	                </th>
	                <th class="center" scope="col">
	                  Tipo
	                </th>
	                <th class="center" scope="col">
	                  Anno
	                </th>
	                <th class="center" scope="col">
	                  Marca
	                </th>
	                <th class="center" scope="col">
	                  Modello
	                </th>
	                <th class="center" scope="col">
                    Telaio
                  </th>
                  <th class="center" scope="col">
                    Forma possesso*
                  </th>
                  <th class="center" scope="col">
                    % possesso*
                  </th>
                  <th class="center" scope="col">
                    Data carico*
                  </th>
                  <th class="center" scope="col">
                    Data scarico*
                  </th>
	              </tr>
	              <!--@@blkElencoMacchine -->
	              <!--@@blkPresoDaDb -->
	              <tr>   
                  <td>
                    <input type="hidden" id="idMacchina" name="idMacchina" value="$$idMacchina"/>
                  </td>
                  <td>
                    $$descUte
                    <input type="hidden" id="idUte" name="idUte" value="$$idUte"/>
                  </td>
                  <td>
                    $$descGenere
                    <input type="hidden" id="idGenereMacchina" name="idGenereMacchina" value="$$idGenereMacchina"/>
                  </td>
                  <td>
                    $$descCategoria
                    <input type="hidden" id="idCategoria" name="idCategoria" value="$$idCategoria"/>
                  </td>
                  <td>
                    $$annoCostruzione
                    <input type="hidden" id="annoCostruzione" name="annoCostruzione" value="$$annoCostruzione"/>
                  </td>
                  <td>
                    $$descMarca
                    <input type="hidden" id="idMarca" name="idMarca" value="$$idMarca"/>
                  </td>
                  <td>
                    $$modello
                    <input type="hidden" id="modello" name="modello" value="$$modello"/>
                  </td>
                  <td>
                    $$matricolaTelaio
                    <input type="hidden" id="matricolaTelaio" name="matricolaTelaio" value="$$matricolaTelaio"/>
                  </td>
                  <td>
                    $$descTipoFormPossesso
                    <input type="hidden" id="idTipoFormaPossesso" name="idTipoFormaPossesso" value="$$idTipoFormaPossesso"/>
                  </td>
                  <td>
                    $$percentualePossesso
                    <input type="hidden" id="percentualePossesso" name="percentualePossesso" value="$$percentualePossesso"/>
                  </td>
                  <td>
                    $$dataCarico
                    <input type="hidden" id="dataCarico" name="dataCarico" value="$$dataCarico"/>
                  </td>
                  <td>
                    <input name="dataScarico" type="text" class="textmedio"
                      id="dataScarico" value="$$dataScarico" maxlength="10" />
                    &nbsp;gg/mm/aaaa&nbsp;$$err_dataScarico
                  </td>                              
                </tr>
	              <!--@@blkPresoDaDb -->
	              <!--@@blkInseritoMano -->
	              <tr>   
	                <td>
	                  <a href="javascript:modificaRigaDati('elimina', '$$idRiga')" class="cancella" title="elimina soggetto"></a>
	                  $$err_generico
	                  <input type="hidden" id="idMacchina" name="idMacchina" value=""/>
	                </td>
	                <td>
	                  <select name="idUte" id="idUte">
		                  <option value=""></option>
		                  <!-- @@blkElencoUte -->
		                  <option value="$$idUte" $$selected>
		                    $$descUte
		                  </option>
		                  <!-- @@blkElencoUte -->
		                </select>
		                $$err_idUte
	                </td>
	                <td>
                    <select name="idGenereMacchina" id="idGenereMacchina"
                       onchange="javascript:modificaComboCategoria('$$idRiga');modificaComboMarca('$$idRiga');" >
                      <option value="" ></option>
	                    <!-- @@blkTipoGenereMacchina -->
	                    <option value="$$idGenereMacchina" $$selected>
	                      $$descGenere
	                    </option>
	                    <!-- @@blkTipoGenereMacchina -->
	                  </select>
	                  $$err_idGenereMacchina
                  </td>
	                <td>
	                  <div id="idCategoriaDiv$$idRiga">
		                  <select name="idCategoria" id="idCategoria" >
		                    <!-- @@blkTipoCategoria -->
		                    <option value="$$idCategoria" $$selected>
		                      $$descCategoria
		                    </option>
		                    <!-- @@blkTipoCategoria -->
		                    <!-- @@blkNoTipoCategoria -->
		                    <option value="" ></option>
		                    <!-- @@blkNoTipoCategoria -->
		                  </select>
		                  $$err_idCategoria                    
		                </div>
	                </td>
	                <td>
                    <input type="text" name="annoCostruzione" id="annoCostruzione" class="textbreve"
                      value="$$annoCostruzione" />
                    $$err_annoCostruzione
                  </td>
                  <td>
                    <div id="idMarcaDiv$$idRiga">  
	                    <select name="idMarca" id="idMarca" >
			                  <option value="" ></option>
			                  <!-- @@blkTipoMarca -->
			                  <option value="$$idMarca" $$selected>
			                    $$descMarca
			                  </option>
			                  <!-- @@blkTipoMarca -->
			                </select>
			                $$err_idMarca
			              </div>
                  </td>
                  <td>
	                  <input type="text" id="modello"
		                  name="modello" size="30" maxlength="30"
		                  class="text" value="$$modello" />
		                $$err_modello
	                </td>
	                <td>
	                  <input type="text" id="matricolaTelaio"
		                  name="matricolaTelaio" size="30" maxlength="30"
		                  class="text" value="$$matricolaTelaio" />
		                $$err_matricolaTelaio
	                </td>
	                <td>
                    <select name="idTipoFormaPossesso" id="idTipoFormaPossesso" >
		                  <option value="" ></option>
		                  <!-- @@blkTipoFormaPossesso -->
		                  <option value="$$idTipoFormaPossesso" $$selected>
		                    $$descTipoFormPossesso
		                  </option>
		                  <!-- @@blkTipoFormaPossesso -->
		                </select>
		                $$err_idTipoFormaPossesso      
                  </td>
                  <td>
                    <input name="percentualePossesso" type="text"
		                  class="textbreve" id="percentualePossesso"
		                  value="$$percentualePossesso" maxlength="3" />
		                $$err_percentualePossesso
                  </td>
                  <td>
                    <input name="dataCarico" type="text" class="textmedio"
		                  id="dataCarico" value="$$dataCarico" maxlength="10" />
		                &nbsp;gg/mm/aaaa&nbsp;$$err_dataCarico
                  </td>
                  <td>
                    $$dataScarico
                    <input type="hidden" id="dataScarico" name="dataScarico" value="$$dataScarico"/>
                  </td> 	                           
	              </tr>
	              <!--@@blkInseritoMano -->              
	              <!--@@blkElencoMacchine -->
	            </table>
	          </div>
          </div> 
          
          
          <p id="nota">I campi contrassegnati con * sono obbligatori</p>
          <div class="pulsanti"><div class="sin">
            <input name="indietro" id="indietro" class="inputPulsante" type="submit" value="indietro"/>
          </div>
          <div class="des">
            <input name="avanti" id="avanti" class="inputPulsante" type="submit" value="avanti" autofocus />
          </div>
          </div>  
          </br>
          </br>
          </br>
          
          
          <!-- @@blkErrore -->
          <p class="errore">
            $$messaggioErrore
          </p>
          <!-- @@blkErrore -->
        </div>
      </div>
      <hr/>
      <!-- PIE' DI PAGINA -->
      $$footer
