$$head
<script type="text/javascript" src="../js/checktext.js"></script>
<script type="text/javascript" src="../js/checkdata.js"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.21.custom/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript">

  function modificaDatiIns()
  {    
    
    var dataInv = {};
     
    dataInv = $('#form1').serialize() + '&' + $.param(dataInv);
    
    
    
    $.ajax({
      url: "../layout/tabellaDatiInsNewSoggAss.htm",
      type: "POST",
      data: dataInv,
      success: function( data ) 
              {
                $('#elencoDatiInsSoggAss').html( data );
                if(document.form1.erroreIns.value == "false")
                {
                  modificaRigaDati('inserisci', null);
                  
                  document.form1.cuaa.value = "";
                  document.form1.partitaIva.value = "";
	                document.form1.denominazione.value = "";
	                document.form1.indirizzoIns.value = "";
	                document.form1.indirizzoIns.disabled = "true";
	                document.form1.provinciaIns.value = "";
	                document.form1.provinciaIns.disabled = "true";
	                document.form1.comuneIns.value = "";
	                document.form1.comuneIns.disabled = "true";
	                document.form1.istatComuneIns.value = "";
	                document.form1.capIns.value = "";
	                document.form1.capIns.disabled = "true";
	                document.getElementById("scegliComune").href = "#";               
	                  
	              }
                
                document.form1.idAzienda.value = "";
                document.form1.erroreIns.value = "";
                
                
                       
                
              },
       dataType: 'html'
      
    });   
  }

  function modificaRigaDati(tipoModificaPar, numRiga)
  {    
    
    var dataInv = {
      tipoModifica: tipoModificaPar,
      numRiga: numRiga
    };
     
    dataInv = $('#form1').serialize() + '&' + $.param(dataInv);
    
    
    
    $.ajax({
      url: "../layout/tabellaDatiNewSoggAss.htm",
      type: "POST",
      data: dataInv,
      success: function( data ) 
              {
                $('#elencoDatiSoggAss').html( data );                 
              },
       dataType: 'html'
      
    });   
  }
  
  
  function scegliAzienda(mypage, myname, w, h, scroll,cuaa,partitaIva,denominazione,provenienza) 
  {      
    NewWindowAziendaAnag(mypage, myname, w, h, scroll,cuaa,partitaIva,denominazione,provenienza);
  }

  function NewWindowAziendaAnag(mypage, myname, w, h, scroll,cuaa,partitaIva,denominazione,provenienza) 
  {
    var winl = (screen.width - w) / 2;
    var wint = (screen.height - h) / 2;
    
    if(cuaa ==  '' && denominazione == '' && partitaIva == '') {
      alert('Inserire un cuaa, una partita iva o una denominazione');
    }
    else if((cuaa !=  '') && (denominazione != '') && (partitaIva != '') )
    {
      alert('E\' possibile inserire solo un elemento tra cuaa, partita iva e denominazione');
    }
    else 
    {
      var errore = 'false' ;
      cuaa = trimAll(cuaa);
      if(cuaa !='')
      {
        if((cuaa.length !=11) && (cuaa.length !=16))
        {
          alert('CUAA inserito errato!');
          errore = 'true' ;
        }
        else if ((cuaa.length == 11) && !isInteger(cuaa))
        {
          alert('CUAA inserito errato!');
          errore = 'true' ;
        }           
      }
      
      partitaIva = trimAll(partitaIva);
      if(partitaIva !='')
      {
        if(partitaIva.length !=11)
        {
          alert('partita iva inserita errata!');
          errore = 'true' ;
        }
        if ((partitaIva.length == 11) && !isInteger(partitaIva))
        {
          alert('Partita Iva inserita errata!');
          errore = 'true' ;
        }           
      }
      
      if(errore != 'true' )
      {
        winprops =    'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable';
        win = window.open(mypage+'?cuaa='+cuaa+'&partitaIva='+partitaIva+'&denominazione='+denominazione+'&provenienza='+provenienza, myname, winprops);
        if (parseInt(navigator.appVersion) >= 4) {
          win.window.focus();
        }
      }
    }
  }
  
  function scegliComune(mypage, myname, w, h, scroll, provincia, comune, obiettivo) {
    NewWindowComuneAnag(mypage, myname, w, h, scroll, provincia, comune, obiettivo);
  }

  function NewWindowComuneAnag(mypage, myname, w, h, scroll,provincia,comune,obiettivo) {
    var winl = (screen.width - w) / 2;
    var wint = (screen.height - h) / 2;
    if(provincia ==  '' && comune == '') {
      alert('Inserire una provincia o un comune!');
    }
    else if(!mappaOggetti(comune)) {
    }
    else {
      winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable';
      win = window.open(mypage+'?obiettivo='+obiettivo+'&provincia='+provincia+'&comune='+comune, myname, winprops);
      if (parseInt(navigator.appVersion) >= 4) {
        win.window.focus();
      }
    }
  }
  
  

</script>
</head>
<body id="homeIndice" onload="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
	<form id="form1" name="form1" method="post" action="../layout/newInserimentoSoggAss.htm">
    <input type="hidden" id="regimeInserimentoSoggAss" name="regimeInserimentoSoggAss" value="regimeInserimentoSoggAss"/>
    <input type="hidden" id="operazione" name="operazione" value=""/>
    <input type="hidden" id="idRigaElim" name="idRigaElim" value=""/>
    <div id="pagina" class="colonnaUnica">
      
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm" title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">gestione anagrafe aziende</li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div style="clear:left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>$$utente&nbsp;&nbsp;
            <strong>ente:</strong>$$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr/>
        <!--PRIMA COLONNA -->
        <h3>Nuova iscrizione
          <span class="helpFuori">
            <a href="#">
              <span class="alt">[help]</span>
            </a>
          </span>
        </h3>
        <hr/>
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerche</a>
              </li>
              <!-- @@blkRicercaAzienda-->                  
              <li><a href="../layout/newInserimentoAzienda.htm" class="on">Nuova iscrizione</a></li>
            </ul>
          </div>
        </div>
        <hr/>
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          
          <div id="indice">
            <span class="voce">
              <a href="#">Anagrafica</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
              <a href="#">Unit&agrave; produttive</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
              <a href="#">Terreni</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
              <a href="#">Fabbricati</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
              <a href="#">Allevamenti</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
              <a href="#">Soggetti collegati</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="evidenza">
              <a href="#">Elenco associati</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
              <a href="#">Conti correnti</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce">
              <a href="#">Allegati</a>
            </span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
          </div>
          <hr/>
          
          <br>
          <div>
            <p id="istruzioni">$$testoHelp</p>            
          </div>
          <br>
          <br>
          <br>
          <div id="elencoDatiInsSoggAss">
	          <table cellspacing="3"summary="Questa tabella contiene i dati del rapporto">
	            <input type="hidden" id="erroreIns" name="erroreIns" value="$$erroreIns"/>
	            <tr>
	              <th scope="row">
	                CUAA
	              </th>
	              <td>
	                <input type="text" id="cuaa" name="cuaa" maxlength="16" class="textmediolungo" value="$$cuaaIns" />
	                $$err_cuaa
	              </td>
	              <td rowspan="3">
	                <div class="azioni">
	                  <a href="javascript: scegliAzienda('../ctrl/popElencoAziendeAjaxCtrl.jsp','scegli_azienda','800','400','yes',document.form1.cuaa.value,document.form1.partitaIva.value, document.form1.denominazione.value,'newInserimentoAzAss');">cerca</a>
	                </div>
	                <input type="hidden" id="idAzienda" name="idAzienda" value="$$idAzienda" />
	              </td>
	            </tr>
	            <tr>
	              <th scope="row">
	                Partita Iva
	              </th>
	              <td>
	                <input type="text" name="partitaIva" id="partitaIva" maxlength="11" value="$$partitaIvaIns" class="textmediolungo" />
	                $$err_partitaIvaIns
	              </td>
	            </tr>
	            <tr>
	              <th scope="row">	                
	                Denominazione	                
	              </th>
	              <td>
	                <input type="text" id="denominazione" name="denominazione" class="text" value="$$denominazioneIns" />
	                $$err_denominazione
	              </td>
	            </tr>
	            <tr>
	              <th scope="row">
	                Indirizzo
	              </th>
	              <td colspan="2">
	                <input name="indirizzoIns" id="indirizzoIns" value="$$indirizzoIns" class="longText" type="text"
	                  disabled />
	                $$err_indirizzoIns
	              </td>
	            </tr>
	            <tr>
	              <th scope="row">
	                Comune
	              </th>
	              <td>
	                <input name="provinciaIns" id="provinciaIns" value="$$provinciaIns" maxlength="2" class="textbreve" type="text" disabled />
	                $$err_provinciaIns
	                <input name="comuneIns" id="comuneIns" value="$$comuneIns" class="text" type="text" disabled />
	                $$err_comuneIns
	              </td>
	              <td>
	                <div class="azioni">
	                  <a id="scegliComune" name="scegliComune" href="#"
	                    title="[Attenzione: questo link si apre in una nuova finestra]">cerca</a>
	                </div>
	                <input type="hidden" name="istatComuneIns" value="$$istatComuneIns" />
	              </td>
	            </tr>
	            <tr>
	              <th scope="row">
	                  CAP
                </th>
	              <td colspan="2">
	                <input name="capIns" value="$$capIns" id="capIns" maxlength="5" class="textbreve" type="text" disabled />
	                $$err_capIns
	              </td>
	            </tr>
	            <tr>
	              <td colspan="3">
	                <div class="azioni">
	                  <a href="javascript:modificaDatiIns();" name="inserisciAzienda" class="highlighted" id="inserisciAzienda" >inserisci</a>
	                </div>
	                $$err_inserisciAzienda
	              </td>
	            </tr>
	          </table>
	        </div>
          
          <div class="scroll">
            <div id="elencoDatiSoggAss">
              <table cellspacing="3" summary="Questa tabella è costituita da righe">
                <caption>Elenco aziende associate</caption>
                <tr>
                  <th class="center" scope="col" rowspan="2">
                  </th>
                  <th class="center" scope="col" rowspan="2">
                    CUAA
                  </th>
                  <th class="center" scope="col" rowspan="2">
                    Partita iva
                  </th>
                  <th class="center" scope="col" rowspan="2">
                    Denominazione
                  </th>
                  <th class="center" scope="col" colspan="4">
                    Sede legale
                  </th>
                  <th class="center" scope="col" rowspan="2">
                    Data ingresso*
                  </th>
                </tr>
                <tr>
                  <th class="center" scope="col" >
                    Comune
                  </th>
                  <th class="center" scope="col" >
                    Provincia
                  </th>
                  <th class="center" scope="col" >
                    Indirizzo
                  </th>
                  <th class="center" scope="col" >
                    Cap
                  </th>
                </tr>
                <!--@@blkElencoAzAssociate -->
                <tr>   
                  <td>
                    <a href="javascript:modificaRigaDati('elimina', '$$idRiga')" class="cancella" title="elimina Az Ass"></a>
                    <input type="hidden" name="idAziendaEl" value="$$idAziendaEl"/>
                    $$err_generico
                  </td>
                  <td>
					          $$cuaa
					          <input type="hidden" name="cuaaEl" value="$$cuaa"/>
					        </td>
					        <td>  
					          $$partitaIva
					          <input type="hidden" name="partitaIvaEl" value="$$partitaIva"/>         
					        </td>
					        <td>
					          $$denominazione
					          <input type="hidden" name="denominazioneEl" value="$$denominazione"/>  
					        </td>
					        <td>
					          $$desCom
					          <input type="hidden" name="istatComuneEl" value="$$istatComune"/>
					          <input type="hidden" name="desComEl" value="$$desCom"/>
					        </td>
					        <td>
					          $$siglaProvincia
					          <input type="hidden" name="siglaProvinciaEl" value="$$siglaProvincia"/>
					        </td>
					        <td>
					          $$indirizzo
					          <input type="hidden" name="indirizzoEl" value="$$indirizzo"/>
					        </td>
					        <td>
					          $$cap
					          <input type="hidden" name="capEl" value="$$cap"/>
					        </td>
					        <td>
					          <input type="text" name="dataIngresso" class="textmedio"
					              value="$$dataIngresso" />
					          $$err_dataIngresso
					        </td>
                </tr>
                
                <!--@@blkElencoAzAssociate -->
              </table>
            </div>
          </div> 
          
          
          <p id="nota">I campi contrassegnati con * sono obbligatori</p>
          <div class="pulsanti"><div class="sin">
            <input name="indietro" id="indietro" class="inputPulsante" type="submit" value="indietro"/>
          </div>
          <div class="des">
            <input name="avanti" id="avanti" class="inputPulsante" type="submit" value="avanti"/>
          </div>
          </div>  
          </br>
          </br>
          </br>
          
          
          <!-- @@blkErrore -->
          <p class="errore">
            $$messaggioErrore
          </p>
          <!-- @@blkErrore -->
        </div>
      </div>
      <hr/>
      <!-- PIE' DI PAGINA -->
      $$footer
