    <select name="idCategoria" id="idCategoria" >
      <!-- @@blkTipoCategoria -->
      <option value="$$idCategoria" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipoCategoria -->
      <!-- @@blkNoTipoCategoria -->
      <option value="" ></option>
      <!-- @@blkNoTipoCategoria -->
    </select>
    $$err_idCategoria          
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          