    <select name="idFaseAllevamento" $$disabledFaseAlleavamento >
      <!-- @@blkTipoFaseAllevamento -->
      <option value="$$idFaseAllevamento" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipoFaseAllevamento -->
    </select>
    $$err_idFaseAllevamento
    <!-- @@blkHiddenFaseAllevamento -->
    <input type="hidden" name="idFaseAllevamento" value="$$idFaseAllevamento" />
    <!-- @@blkHiddenFaseAllevamento -->
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          