    <!-- @@blkSelectModMul -->
    <select name="idTipoQualitaUsoSecondario" id="idTipoQualitaUsoSecondario" onchange="javascript: modificaComboVarietaSecondaria();">
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    <select name="idTipoQualitaUsoSecondario" id="idTipoQualitaUsoSecondario" onchange="javascript: modificaComboVarietaSecondaria('$$indice');">
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod --> 
    <select name="idTipoQualitaUsoSecondario" id="idTipoQualitaUsoSecondario$$indice" onchange="javascript: modificaComboVarietaSecondaria('$$indice');" >
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    <select name="idTipoQualitaUsoSecondario" id="idTipoQualitaUsoSecondario" onchange="javascript: modificaComboVarietaSecondaria('$$indice');">
    <!-- @@blkSelectPopMod --> 
    
	    <!-- @@blkTipiQualitaUso -->
	    <option value="$$idTipoQualitaUso" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiQualitaUso -->
	    <!-- @@blkNoTipiQualitaUso -->
      <option value="" ></option>
      <!-- @@blkNoTipiQualitaUso -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Qualit&agrave;    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    $$err_idTipoQualitaUsoSecondario
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          