    <select name="idTipoUtilizzoEfa" id="idTipoUtilizzoEfa" class="clsIdTipoUtilizzoEfa"
      onchange="javascript: modificaComboDestinazioneEfa('$$indice');">
      <!-- @@blkTipiUsoSuoloEfa -->
      <option value="$$idTipoUtilizzoEfa" title="$$descCompleta" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipiUsoSuoloEfa -->
      <!-- @@blkNoTipiUsoSuoloEfa -->
      <option value="" ></option>
      <!-- @@blkNoTipiUsoSuoloEfa -->
    </select>
    <input name="fattoreConversione" id="fattoreConversione" type="hidden" value="$$fattoreConversione"  />
    <input name="fattorePonderazione" id="fattorePonderazione" type="hidden" value="$$fattorePonderazione"  />
    <input name="descMisuraHd" id="descMisuraHd" type="hidden" value="$$descMisuraHd"  />
    $$err_idTipoUtilizzoEfa
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          