    <select name="idTipoDettaglioUsoEfa"  
      onChange="javascript:modificaComboQualitaUsoEfa('$$numeroUtilizziEfa')" >
      <!-- @@blkTipiDettaglioUsoEfa -->
      <option value="$$idTipoDettaglioUsoEfa" title="$$descCompleta" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipiDettaglioUsoEfa -->
      <!-- @@blkNoTipiDettaglioUsoEfa -->
      <option value="" ></option>
      <!-- @@blkNoTipiDettaglioUsoEfa -->
    </select>
    $$err_idTipoDettaglioUsoEfa 
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          