    
    <input type="text" name="dataInizioDestinazioneSec" class="textmedio"
      value="$$dataInizioDestinazioneSec" $$readOnlyDataInizioDestinazioneSec />&nbsp;inizio
    $$err_dataInizioDestinazioneSec
    <br>
    <input type="text" name="dataFineDestinazioneSec" class="textmedio"
      value="$$dataFineDestinazioneSec" $$readOnlyDataFineDestinazioneSec />&nbsp;fine
    $$err_dataFineDestinazioneSec
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          