    <!-- @@blkSelectModMul -->
    <select name="idTipoDettaglioUso" id="idTipoDettaglioUso" onchange="javascript: modificaComboQualitaUso();">
	  <!-- @@blkSelectModMul -->
	  <!-- @@blkSelectInsTer -->
    <select name="idTipoDettaglioUso" id="idTipoDettaglioUso" onchange="javascript: modificaComboQualitaUso('$$indice');">
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod --> 
    <select name="idTipoDettaglioUso" id="idTipoDettaglioUso$$indice"  onchange="javascript: modificaComboQualitaUso('$$indice');" >
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    <select name="idTipoDettaglioUso" id="idTipoDettaglioUso" onchange="javascript: modificaComboQualitaUso('$$indice');">
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    <select name="idTipoDettaglioUso" id="idTipoDettaglioUso" onchange="javascript: modificaComboQualitaUso();">
    <!-- @@blkSelectModMulUV --> 
	    
	    <!-- @@blkTipiDettaglioUso -->
	    <option value="$$idTipoDettaglioUso" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiDettaglioUso -->
	    <!-- @@blkNoTipiDettaglioUso -->
      <option value="" ></option>
      <!-- @@blkNoTipiDettaglioUso -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Uso    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    </select>&nbsp;Uso    
    <!-- @@blkSelectModMulUV -->
    $$err_idTipoDettaglioUso
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          