    <!-- @@blkSelectInsTer -->
    <select name="idTipoPeriodoSeminaSecondario" onchange="javascript: modificaSezioneDateSeminaSecondario('$$indice');">
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    <select name="idTipoPeriodoSeminaSecondario" id="idTipoPeriodoSeminaSecondario$$indice" onchange="javascript: modificaSezioneDateSeminaSecondario('$$indice');" >
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    <select name="idTipoPeriodoSeminaSecondario" onchange="javascript: modificaSezioneDateSeminaSecondario('$$indice');">
    <!-- @@blkSelectPopMod -->  
      
      <!-- @@blkTipoPeriodoSemina -->
      <option value="$$idTipoPeriodoSemina" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipoPeriodoSemina -->
      <!-- @@blkNoTipoPeriodoSemina -->
      <option value="" ></option>
      <!-- @@blkNoTipoPeriodoSemina -->
    </select>
    $$err_idTipoPeriodoSeminaSecondario
    <br>
    <select name="idTipoSeminaSecondario" >
      <!-- @@blkTipoSemina -->
      <option value="$$idTipoSemina" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipoSemina -->
      <!-- @@blkNoTipoSemina -->
      <option value="" ></option>
      <!-- @@blkNoTipoSemina -->
    </select>
    $$err_idTipoSeminaSecondario
    <br>
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          