    <!-- @@blkSelectModMul -->
    <select name="idTipoDestinazione" id="idTipoDestinazione"  onchange="javascript: modificaComboDettaglioUso();">
	  <!-- @@blkSelectModMul -->
	  <!-- @@blkSelectInsTer -->
	  <select name="idTipoDestinazione" id="idTipoDestinazione"  onchange="javascript: modificaComboDettaglioUso('$$indice');">
	  <!-- @@blkSelectInsTer -->
	  <!-- @@blkVariabiliMod --> 
	  <select name="idTipoDestinazione" id="idTipoDestinazione$$indice" onchange="javascript: modificaComboDettaglioUso('$$indice');">
	  <!-- @@blkVariabiliMod -->
	  <!-- @@blkSelectPopMod -->
    <select name="idTipoDestinazione" id="idTipoDestinazione"  onchange="javascript: modificaComboDettaglioUso('$$indice');">
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    <select name="idTipoDestinazione" id="idTipoDestinazione"  onchange="javascript: modificaComboDettaglioUso();">
    <!-- @@blkSelectModMulUV --> 
	  	    
	    <!-- @@blkTipiDestinazione -->
	    <option value="$$idTipoDestinazione" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiDestinazione -->
	    <!-- @@blkNoTipiDestinazione -->
      <option value="" ></option>
      <!-- @@blkNoTipiDestinazione -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Destinazione    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    </select>&nbsp;Destinazione    
    <!-- @@blkSelectModMulUV -->
    <!-- @@blkCoeffRiduzioneTerrMult -->
    <input name="coefficienteRiduzioneCombo" id="coefficienteRiduzioneCombo" type="hidden"
       value="$$coefficienteRiduzioneCombo" />
    <!-- @@blkCoeffRiduzioneTerrMult -->
    $$err_idTipoDestinazione
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          