    <select name="idTipoQualitaUsoEfa" 
       onchange="javascript: modificaComboVarietaEfa('$$indice');">
	    <!-- @@blkTipiQualitaUso -->
	    <option value="$$idTipoQualitaUso" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiQualitaUso -->
	    <!-- @@blkNoTipiQualitaUso -->
      <option value="" ></option>
      <!-- @@blkNoTipiQualitaUso -->
    </select>
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          