    <select name="idGenereMacchina" id="idGenereMacchina" onchange="javascript:modificaComboCategoria();modificaComboMarca();" >
      <!-- @@blkTipoGenereMacchina -->
      <option value="$$idGenereMacchina" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipoGenereMacchina -->
      <!-- @@blkNoTipoGenereMacchina -->
      <option value="" ></option>
      <!-- @@blkNoTipoGenereMacchina -->
    </select>
    $$err_idGenereMacchina
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          