    <select name="idPraticaMantenimento">
      <!-- @@blkTipoPraticaMantenimento -->
      <option value="$$idPraticaMantenimento" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipoPraticaMantenimento -->
      <!-- @@blkNoTipoPraticaMantenimento -->
      <option value="" ></option>
      <!-- @@blkNoTipoPraticaMantenimento -->
    </select>
    $$err_idPraticaMantenimento
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          