    <!-- @@blkSelectModMul -->
    <select name="idTipoDestinazioneSecondario" id="idTipoDestinazioneSecondario" onchange="javascript: modificaComboDettaglioUsoSecondario();">
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    <select name="idTipoDestinazioneSecondario" id="idTipoDestinazioneSecondario"  onchange="javascript: modificaComboDettaglioUsoSecondario('$$indice');">
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod --> 
    <select name="idTipoDestinazioneSecondario" id="idTipoDestinazioneSecondario$$indice" onchange="javascript: modificaComboDettaglioUsoSecondario('$$indice');" >
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    <select name="idTipoDestinazioneSecondario" id="idTipoDestinazioneSecondario"  onchange="javascript: modificaComboDettaglioUsoSecondario('$$indice');">
    <!-- @@blkSelectPopMod --> 
    
	    <!-- @@blkTipiDestinazione -->
	    <option value="$$idTipoDestinazione" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiDestinazione -->
	    <!-- @@blkNoTipiDestinazione -->
      <option value="" ></option>
      <!-- @@blkNoTipiDestinazione -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Destinazione    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    $$err_idTipoDestinazioneSecondario
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          