    <select name="idVarietaEfa" onchange="javascript:modTipoDettaglioUso('$$indice')" >
      <!-- @@blkTipiVarietaEfa -->
      <option value="$$idVarietaEfa" title="$$descCompleta" $$selected>
        $$descrizione
      </option>
      <!-- @@blkTipiVarietaEfa -->
      <!-- @@blkNoTipiVarietaEfa -->
      <option value="" ></option>
      <!-- @@blkNoTipiVarietaEfa -->
    </select>
    <input name="abbPonderazioneVarieta" id="abbPonderazioneVarieta$$indice" type="hidden" value="$$abbPonderazioneVarieta"  />
    $$err_idVarietaEfa
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          