    <!-- @@blkSelectModMul -->
    <select name="idVarieta" id="idVarieta">
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    <select name="idVarieta" id="idVarieta" onchange="javascript: modificaSezioneSemina('$$indice');modificaSezioneMantenimento('$$indice');modificaSezioneFaseAllevamento('$$indice');">
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    <select name="idVarieta" id="idVarieta$$indice" onchange="javascript: modificaSezioneSemina('$$indice');modificaSezioneMantenimento('$$indice');" > 
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    <select name="idVarieta" id="idVarieta" onchange="javascript: modificaSezioneSemina('$$indice');modificaSezioneMantenimento('$$indice');modificaSezioneFaseAllevamento('$$indice');">
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    <select name="idVarieta" id="idVarieta">
    <!-- @@blkSelectModMulUV -->
    
	    <!-- @@blkTipiVarieta -->
	    <option value="$$idVarieta" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiVarieta -->
	    <!-- @@blkNoTipiVarieta -->
      <option value="" ></option>
      <!-- @@blkNoTipiVarieta -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Variet&agrave;    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    </select>&nbsp;Vitigno     
    <!-- @@blkSelectModMulUV -->
    $$err_idVarieta
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          