    <!-- @@blkSelectModMul -->
    <select name="idTipoDettaglioUsoSecondario" id="idTipoDettaglioUsoSecondario" onchange="javascript: modificaComboQualitaUsoSecondario();">
	  <!-- @@blkSelectModMul -->
	  <!-- @@blkSelectInsTer -->
    <select name="idTipoDettaglioUsoSecondario" id="idTipoDettaglioUsoSecondario" onchange="javascript: modificaComboQualitaUsoSecondario('$$indice');">
    <!-- @@blkSelectInsTer -->
	  <!-- @@blkVariabiliMod --> 
	  <select name="idTipoDettaglioUsoSecondario" id="idTipoDettaglioUsoSecondario$$indice" onchange="javascript: modificaComboQualitaUsoSecondario('$$indice');" >
	  <!-- @@blkVariabiliMod -->
	  <!-- @@blkSelectPopMod -->
    <select name="idTipoDettaglioUsoSecondario" id="idTipoDettaglioUsoSecondario" onchange="javascript: modificaComboQualitaUsoSecondario('$$indice');">
    <!-- @@blkSelectPopMod --> 
	  
	    <!-- @@blkTipiDettaglioUso -->
	    <option value="$$idTipoDettaglioUso" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiDettaglioUso -->
	    <!-- @@blkNoTipiDettaglioUso -->
      <option value="" ></option>
      <!-- @@blkNoTipiDettaglioUso -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Uso    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    $$err_idTipoDettaglioUsoSecondario
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          