    <select name="istatComune" id="istatComune" 
      onchange="javascript: modificaCap('$$idRiga');">
	    <!-- @@blkElencoComuni -->
	    <option value="$$istatComune" $$selected>
	      $$desCom
	    </option>
	    <!-- @@blkElencoComuni -->
	    <!-- @@blkNoComuni -->
	    <option value="" >
	    </option>
	    <!-- @@blkNoComuni -->
    </select>
    $$err_istatComune
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          