    <!-- @@blkSelectModMul -->
    <select name="idVarietaSecondaria" id="idVarietaSecondaria">
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    <select name="idVarietaSecondaria" id="idVarietaSecondaria" onchange="javascript: modificaSezioneSeminaSecondario('$$indice');">
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod --> 
    <select name="idVarietaSecondaria" id="idVarietaSecondaria$$indice" onchange="javascript: modificaSezioneSeminaSecondario('$$indice');" >
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    <select name="idVarietaSecondaria" id="idVarietaSecondaria" onchange="javascript: modificaSezioneSeminaSecondario('$$indice');">
    <!-- @@blkSelectPopMod --> 
    
       
	    <!-- @@blkTipiVarieta -->
	    <option value="$$idVarieta" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiVarieta -->
	    <!-- @@blkNoTipiVarieta -->
      <option value="" ></option>
      <!-- @@blkNoTipiVarieta -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Variet&agrave;    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    $$err_idVarietaSecondaria
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          