    <input type="text" name="dataInizioDestinazione" class="textmedio"
      value="$$dataInizioDestinazione" $$readOnlyDataInizioDestinazione />&nbsp;inizio
    $$err_dataInizioDestinazione
    <br>
    <input type="text" name="dataFineDestinazione" class="textmedio"
      value="$$dataFineDestinazione" $$readOnlyDataFineDestinazione />&nbsp;fine
    $$err_dataFineDestinazione
    
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          