    <!-- @@blkSelectModMul -->
    <select name="idTipoQualitaUso" id="idTipoQualitaUso" onchange="javascript: modificaComboVarieta();">
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    <select name="idTipoQualitaUso" id="idTipoQualitaUso" onchange="javascript: modificaComboVarieta('$$indice');">
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod --> 
    <select name="idTipoQualitaUso" id="idTipoQualitaUso$$indice" onchange="javascript: modificaComboVarieta('$$indice');" >
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    <select name="idTipoQualitaUso" id="idTipoQualitaUso" onchange="javascript: modificaComboVarieta('$$indice');">
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    <select name="idTipoQualitaUso" id="idTipoQualitaUso" onchange="javascript: modificaComboVarieta();">
    <!-- @@blkSelectModMulUV -->
    
     
	    <!-- @@blkTipiQualitaUso -->
	    <option value="$$idTipoQualitaUso" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiQualitaUso -->
	    <!-- @@blkNoTipiQualitaUso -->
      <option value="" ></option>
      <!-- @@blkNoTipiQualitaUso -->
    <!-- @@blkSelectModMul -->
    </select>&nbsp;Qualit&agrave;    
    <!-- @@blkSelectModMul -->
    <!-- @@blkSelectInsTer -->
    </select>
    <!-- @@blkSelectInsTer -->
    <!-- @@blkVariabiliMod -->
    </select>
    <!-- @@blkVariabiliMod -->
    <!-- @@blkSelectPopMod -->
    </select>
    <!-- @@blkSelectPopMod -->
    <!-- @@blkSelectModMulUV -->
    </select>&nbsp;Qualit&agrave;    
    <!-- @@blkSelectModMulUV -->
    $$err_idTipoQualitaUso
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          