    <!--  @@blkSelectInsTer -->
    <select name="idTipoDestinazioneEfa" onchange="javascript: modificaComboDettaglioUsoEfa('$$indice');">
    <!--  @@blkSelectInsTer -->
    <!--  @@blkSelectPopMod -->
    <select name="idTipoDestinazioneEfa" onchange="javascript: modificaComboDettaglioUsoEfa('$$indice');">
    <!--  @@blkSelectPopMod -->
    
	    <!-- @@blkTipiDestinazione -->
	    <option value="$$idTipoDestinazione" title="$$descCompleta" $$selected>
	      $$descrizione
	    </option>
	    <!-- @@blkTipiDestinazione -->
	    <!-- @@blkNoTipiDestinazione -->
      <option value="" ></option>
      <!-- @@blkNoTipiDestinazione -->
    </select>
    $$err_idTipoDestinazione
      
      
      
    <!-- @@blkNoElenco -->
    <p class="errore">
      $$messaggioErrore
    </p>
    <!-- @@blkNoElenco -->
       
          
          