$$head
	<script src="../js/checktext.js" type="text/javascript"></script>
</head>
<body id="popup">
	<form id="form1" name="form1" method="post" action="../layout/pooPresenzaNotificheUv.htm">
    <div id="contenutopop">
     	<table cellspacing="3" summary="Questa tabella contiene i dati della chiave logica della uv selezionata">
       	<tr>
          <th class="center" scope="col">Comune <acronym title="Provincia">(Prov.)</acronym></th>
          <th class="center" scope="col"><acronym title="Sezione">Sez.</acronym></th>
          <th class="center" scope="col"><acronym title="Foglio">Fgl.</acronym></th>
          <th class="center" scope="col"><acronym title="Particella">Part.</acronym></th>
          <th class="center" scope="col"><acronym title="Subalterno">Sub.</acronym></th>
          <th class="center" scope="col"><acronym title="Superficie catastale">Sup. cat.</acronym></th>
          <th class="center" scope="col"><acronym title="Superficie grafica">Sup.<br>Grafica</acronym></th>
          <th class="center" scope="col">Tipo <acronym title="unit&agrave: arborea">Unar</acronym></th>
          <th class="center" scope="col"><acronym title="Progressivo">Progr</acronym></th>
          <th class="center" scope="col"><acronym title="Destinazione produttiva">Dest. Prod.</acronym></th>
          <th class="center" scope="col"><acronym title="Variet&agrave">Var.</acronym></th>
          <th class="center" scope="col"><acronym title="Superficie vitata">Sup. vit.</acronym></th>
        </tr>
        <tr>
          <td>$$descComuneParticella ($$siglaProvinciaParticella)</td>
          <td align="center">$$sezione</td>
          <td align="center">$$foglio</td>
          <td align="center">$$particella</td>
          <td align="center" >$$subalterno</td>
          <td class="numeridx">$$supCatastale</td>
          <td class="numeridx">$$supGrafica</td>
          <td>$$descTipoUnar</td>
          <td align="center">$$progressivo</td>
          <td>$$destinazioneProduttiva</td>
          <td>$$varieta</td>
          <td class="numeridx">$$area</td>
        </tr>
      </table>
      <!-- @@blkElencoNotifiche -->
		  <table cellspacing="3" summary="Questa tabella contiene i dati delle notifiche">
        <caption>
          Notifiche
        </caption>
				<tr>
				  <th class="center" rowspan="2">
            Tipologia
          </th>
          <th class="center" rowspan="2">
            Categoria
          </th>
          <th class="center" rowspan="2">
            Note
          </th>
          <th class="center" colspan="2">
            Apertura
          </th>
          <th class="center" colspan="3">
            Chiusura
          </th>
        </tr>
        <tr>
          <th class="center">
            Data
          </th>
          <th class="center">
            Utente
          </th>
          <th class="center">
            Data
          </th>
          <th class="center">
            Utente
          </th>
          <th class="center">
            Note
          </th>
        </tr>
        <!-- @@blkNotifica -->
        <tr>
          <td>
            $$descTipologiaNotifica
          </td>
          <td>
            $$descCategoriaNotifica
          </td>
          <td>
            $$note
          </td>    
          <td class="center" >
            $$dataInserimento
          </td>  
          <td>
            $$descUtenteApertura
          </td>
          <td class="center" >
            $$dataChiusura
          </td>
          <td>
            $$descUtenteChiusura
          </td>
          <td>
            $$noteChiusura
          </td>
        </tr>
        <!-- @@blkNotifica -->
			</table>
			<!-- @@blkElencoNotifiche -->
    </div>
	</form>
</body>
</html>
