$$head
<script type="text/javascript" src="../js/checktext.js"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>

<script type="text/javascript">

  function cessa() 
  {
    var lastAction = document.form1.action;
    document.form1.action = "../layout/anagrafica.htm";
    document.form1.cessazione.value="true";
    document.form1.submit();
    document.form1.cessazione.value="";
    document.form1.action = lastAction;
  }

</script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post"
    action="../layout/revocaDelega.htm">
    <input type="hidden" id="cessazione" name="cessazione" />
    <input type="hidden" id="operazione" name="operazione"
      value="$$operazione" />
    <div id="pagina" class="colonnaUnica">
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm"
                  title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">
                gestione anagrafe aziende
              </li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div style="clear: left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong> $$utente &nbsp; &nbsp;
            <strong>ente:</strong> $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr />
        <!--PRIMA COLONNA -->
        <h3>
          Gestione Anagrafe
          Aziende&nbsp;&gt;&nbsp;Anagrafica&nbsp;&gt;&nbsp;Revoca
          mandato
          <span class="helpFuori"> <a href="#"> <span
              class="alt">[help]</span> </a> </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
              <li>
                <a href="../layout/elencoAziendeRapLegale.htm">Elenco
                  Aziende</a>
              </li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerche</a>
              </li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
              <li>
                <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova
                  Azienda</a>
              </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="#" class="on">Azienda</a>
                <ul>
                  <li>
                    <a href="#" class="etichetta">revoca mandato</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
         <div id="intesta">
					  <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
					    $$CUAAIntestazione  $$denominazioneIntestazione
					  </p>
					</div>
          <br />
          <table cellspacing="3"
            summary="Questa tabella contiene i dati relativi titolare dell'impresa">
            <tr>
              <th scope="row">
                Il sottoscitto
              </th>
              <td>
                $$cognome $$nome
              </td>
            </tr>
            <tr>
              <th scope="row">
                Codice fiscale
              </th>
              <td>
                $$codFiscale
              </td>
            </tr>
            <tr>
              <th scope="row">
                Nato a
              </th>
              <td>
                $$luogoNascita
              </td>
            </tr>
            <tr>
              <th scope="row">
                Il
              </th>
              <td>
                $$dataNascita
              </td>
            </tr>
          </table>
          <p>
            in qualit&agrave; di titolare/rappresentante legale
            dell'impresa
          </p>
          <table cellspacing="3"
            summary="Questa tabella contiene i dati relativi all'azienda">
            <tr>
              <th scope="row">
                CUAA
              </th>
              <td>
                $$CUAA
              </td>
            </tr>
            <tr>
              <th scope="row">
                Partita IVA
              </th>
              <td>
                $$partitaIVA
              </td>
            </tr>
            <tr>
              <th scope="row">
                Denominazione
              </th>
              <td>
                $$denominazione
              </td>
            </tr>
          </table>
          <p>
            REVOCA IL MANDATO per la gestione del proprio fascicolo
            aziendale a:
          </p>
          <table>
            <tr>
              <th class="allineaSx">
                $$denominazioneIntermediario
              </th>
            </tr>
          </table>
          <table cellspacing="3"
            summary="Questa tabella contiene la data di fine mandato della delega">
            <tr>
              <th scope="row">
                <label for="revoca">
                  $$labelRevoca
                </label>
              </th>
              <td>
                <input name="dataFineMandato" id="dataFineMandato"
                  type="text" value="$$dataFineMandato" maxlength="10" />
                gg/mm/aaaa&nbsp;$$err_dataFineMandato
              </td>
            </tr>
            <tr>
              <th scope="row">
                <label for="revoca">
                  Data ricevuta di ritorno notifica revoca
                </label>
              </th>
              <td>
                <input name="dataRicRitorno" id="dataRicRitorno"
                  type="text" value="$$dataRicRitorno" maxlength="10" />
                gg/mm/aaaa&nbsp;$$err_dataRicRitorno
              </td>
            </tr>
            <tr>
              <th scope="row">
                Ultima modifica anagrafica
              </th>
              <td>
                $$ultimaModificaVw
              </td>
            </tr>
          </table>
          <div class="pulsanti">
            <div class="sin">
              <input name="conferma" type="submit" id="conferma"
                value="conferma" class="inputPulsante highlighted" />
            </div>
          </div>
        </div>
      </div>
      <hr />
  </form>
  <!-- PIE' DI PAGINA -->
  $$footer