$$head
<script type="text/javascript" language="javascript1.2"  src="../js/checktext.js"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript" language="javascript1.2">
  function validazioni()
  {
    document.form1.action='ricercaTerrenoDettaglioValidazioni.htm';
    document.form1.submit();
  }
  function pratiche()
  {
    document.form1.action='ricercaTerrenoDettaglioPratiche.htm';
    document.form1.submit();
  }

  function registri()
  {
    document.form1.action='ricercaTerrenoDettaglioRegistri.htm';
    document.form1.submit();
  }
  
  function elenco()
  {
    document.form1.action='elencoTerreni.htm';
    document.form1.submit();
    return false;
  }

  function cessazione()
  {
    document.form1.action="cessazioneTerreno.htm";
    document.form1.submit();
  }
</script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post" action="" />
    <input type="hidden" name="mantieniPagina" value="true" />
    <input type="hidden" name="from"
      value="../layout/ricercaTerrenoDettaglio.htm" />
    <input type="hidden" name="idParticella" value="$$idParticella" />
    <input type="hidden" name="idStoricoParticella"
      value="$$idStoricoParticella" />
    <div id="pagina" class="colonnaUnica">
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        <!--intestazione-->
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="index.htm" title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">
                gestione anagrafe aziende
              </li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div style="clear: left">
      </div>
      <!-- CORPO -->
      <div id="corpo">
        <hr />
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>$$utente&nbsp;&nbsp;
            <strong>ente:</strong>$$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>

          </div>
        </div>
        <!--PRIMA COLONNA -->
        <h3>
          Ricerca terreno > Dettaglio > Particella
          <span class="helpFuori"> <a href="#"> <span
              class="alt">[help]</span> </a> </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
              <li>
                <a href="../layout/elencoAziendeRapLegale.htm">Elenco
                  Aziende</a>
              </li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerca Azienda</a>
              </li>
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="ricercaTerreno.htm" class="on">Ricerca
                  Terreno</a>
              </li>
              <!--@@blkRicercaPersona-->
              <li>
                <a href="../layout/ricercaPersona.htm">Ricerca
                  Persona</a>
              </li>
              <!--@@blkRicercaPersona-->
              <!--@@blkRicercaNotifica-->
              <li>
                <a href="../layout/ricercaNotifica.htm">Ricerca
                  Notifiche</a>
              </li>
              <!--@@blkRicercaNotifica-->
              <!--@@blkVariazioniAzienda-->
                <li><a href="../layout/ricercaVariazioni.htm" >Ricerca Variazioni</a></li>
              <!--@@blkVariazioniAzienda-->
              <!--@@blkRicercaRichiesta-->
                <li><a href="../layout/ricercaRichiesta.htm">Ricerca richiesta azienda</a></li>
              <!--@@blkRicercaRichiesta-->
              <!-- @@blkNuova -->
              <li>
                <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova
                  Azienda</a>
              </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
              <!--@@blkServizi-->
              <li>
                <a href="../layout/servizi.htm">Servizi</a>
              </li>
              <!--@@blkServizi-->
              <!--@@blkReportistica-->
              <li>
                <a href="../layout/elencoRicerche.htm">Reportistica</a>
              </li>
              <!--@@blkReportistica-->
              <!--@@blkEstrazioneDati-->
              <li>
                <a href="../layout/macroCategoriaReport.htm">Estrazione
                  dati</a>
              </li>
              <!--@@blkEstrazioneDati-->
              <li><a href="../layout/elencoManuali.htm">Scarico Documentazione Tecnica</a></li> 
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="elencoTerreni.htm" onClick="return elenco();"
                  class="on">Terreno</a>
                <ul>
                  <li>
                    <a href="#" class="etichetta">dettaglio</a>
                    <!--@@blkCessazioneTerreno-->
                    <a href="javascript:cessazione()">cessazione</a>
                    <!--@@blkCessazioneTerreno-->
                  </li>
                  <!--@@blkInserisciTerreno-->
                    <li><a href="../layout/inserisciTerreno.htm" >inserisci</a></li>
                  <!--@@blkInserisciTerreno-->
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <!--@@blkDatiDettaglio-->

          <table cellspacing="3"
            summary="Questa tabella è costituita da righe">
            <tr>
              <th scope="col" class="center"></th>
              <th scope="col" class="center">
                Comune
              </th>
              <th scope="col" class="center">
                Sz.
              </th>
              <th scope="col" class="center">
                Foglio
              </th>
              <th scope="col" class="center">
                Particella
              </th>
              <th scope="col" class="center">
                Sub.
              </th>
              <th scope="col" class="center">
                Sup. cat.
              </th>
              <th scope="col" class="center">
                Sup. grafica
              </th>
              <th scope="col" class="center">&nbsp;
                
              </th>
            </tr>
            <tr>
              <td class="radio">
                <a
                  href="javascript: newWindowDoForm('../layout/abacoGis.htm?idStoricoParticellaRicTerr=$$idStoricoParticella&abaco=true', 'abaco', '1000','700','yes', 'GIS');"
                  class="gis"
                  title="[Attenzione: questo link si apre in una nuova finestra]"></a>
              </td>

              <td>
                $$descComune $$siglaProvincia
              </td>
              <td>
                $$sezione
              </td>
              <td class="numeridx">
                $$foglio
              </td>
              <td class="numeridx">
                $$particella
              </td>
              <td>
                $$subalterno
              </td>
              <td>
                $$supCatastale
              </td>
              <td>
                $$superficieGrafica
              </td>
              <td class="piccola">
                <div class="azioni">
                  <a
                    href="javascript:newWindowDoForm('../layout/popupVariazioniParticella.htm', 'storico', '800', '400', 'yes');"
                    title="Visualizza storico - Attenzione: questo link si apre in una nuova finestra">visualizza
                    storico</a>
                </div>
              </td>
            </tr>
          </table>
          <div id="indice">
            <span class="voce"><a href="javascript:pratiche()">pratiche</a></span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce"><a href="javascript:validazioni()">validazioni</a></span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="evidenza">particella</span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
            <span class="voce"><a href="javascript:registri()">registri e vincoli</a></span>
            <span class="bugFix">&nbsp;|&nbsp;</span>
          </div>
          <table cellspacing="3"
            summary="Questa tabella è costituita da righe">
            <caption>
              Dati Catastali - $$descrizioneFonte
              $$dataValidazioneFonteCatasto
            </caption>
            <tr>
              <th scope="row">
                Superficie catastale certificata
              </th>
              <td>
                $$supCatastaleCertificata
              </td>
              <th scope="row">
                Porzione
              </th>
              <td>
                $$flagPorzioneCertificata
              </td>
              <th>
                Partita
              </th>
              <td class="piccola">
                $$partitaCertificata
              </td>
            </tr>
            <tr>
              <th scope="row">
                Qualit&agrave;
              </th>
              <td>
                $$qualitaCertificata
              </td>
              <th scope="row">
                Classe
              </th>
              <td colspan="3">
                $$classeCertificata
              </td>
            </tr>
          </table>

          <table cellspacing="3"
            summary="Questa tabella è costituita da righe">
            <caption>
              Dati eleggibilit&agrave; $$descFonteElegg
            </caption>
            <tr>
              <th>Superficie grafica</th>
              <td class="numeridx">$$supGrafica</td>
              <td colspan="2">
                <div class="azioni"><div class="des">
                  <input id="deseleziona" name="deseleziona" type="button" value="Visualizza eleggibilit&agrave storica" onClick="javascript: newWindowDoForm('../layout/popVariazioniEleggibilita.htm', 'storico', '800', '400', 'yes');" class="inputPulsante" />
                </div></div>  
              </td>
            </tr>
            <!--@@blkDatiEleggibilita-->
            <tr>
              <th>$$descEleggibilita0 $$descEleggibilitaFit0</th>
              <td class="numeridx">$$supEleggibilita0</td>
              <th>$$descEleggibilita1 $$descEleggibilitaFit1</th>
              <td class="numeridx">$$supEleggibilita1</td>
            </tr>
            <!--@@blkDatiEleggibilita-->
          </table>
          <table cellspacing="3"
            summary="Questa tabella è costituita da righe">
            <caption>             
              Dati territoriali
            </caption>
            <tr>
              <th>
                Casi particolari
              </th>
              <td>
                $$descCasoParticolare
              </td>
              <th scope="row">
                Zona Altimetrica
              </th>
              <td>
                $$descZonaAltimetrica
              </td>
            </tr>
            <tr>
              <th scope="row">
                Pendenza media
              </th>
              <td>
                $$descPendenzaMedia
              </td>
              <th>
                Gradi pendenza
              </th>
              <td>
              $$gradiPendenzaMedia
              </td>
            </tr>
            <tr>
              <th scope="row">
                Gradi esposizione
              </th>
              <td>
                $$gradiEsposizioneMedia
              </td>
              <th>
                Altitudine
              </th>
              <td>
                $$descAltitudineMedia
              </td>
            </tr>
            <tr>
              <th>
                Irrigata
              </th>
              <td>
                $$flagIrrigabile
              </td>
              <th>
                Metodo irrigazione
              </th>
              <td>
                $$descMetodoIrriguo
              </td>
            </tr>
            <tr>
              <th>
                Tipo irrigazione
              </th>
              <td>
                $$descIrrigazione
              </td>
              <th>
                Zona di captazione acque e pozzi
              </th>
              <td>
                $$flagCaptazionePozzi
              </td>              
            </tr>
            <tr>
              <th>
                Presenza terrazzamenti
              </th>
              <td>
                $$descTerrazzamento
              </td>
              <th>
                Rotazione colturale
              </th>
              <td>
                $$descRotazioneColturale
              </td>
            </tr>
            <!-- @@blkRiga -->
            <tr>
              <th>
                $$desc1
              </th>
              <td>
                $$valore1
              </td>
              <th>
                $$desc2
              </th>
              <td>
                $$valore2
              </td>
            </tr>           
            <!-- @@blkRiga -->
          </table>
          <table cellspacing="3"
            summary="Questa tabella è costituita da righe">
            <caption>
              Validit&agrave;
            </caption>
            <tr>
              <th scope="row">
                Data inizio decorrenza
              </th>
              <td>
                $$dataInizioValidita
              </td>
              <th scope="row">
                Data cessazione
              </th>
              <td>
                $$dataCessazione
              </td>
            </tr>
            <tr>
              <th scope="row">
                Ultima modifica particella
              </th>
              <td colspan="3">
                $$ultimaModificaVw
              </td>
            </tr>
            <tr>
              <th scope="row">
                Motivo modifica
              </th>
              <td colspan="3">
                $$descCausaleModParticella
              </td>
            </tr>
            <tr>
              <th scope="row">
                Documento
              </th>
              <td colspan="3">
                $$descTipoDocumento
              </td>
            </tr>
          </table>
          <p id="nota">
            Tutte le superfici sono espresse in ettari (ha).
          </p>
          <!--@@blkDatiDettaglio-->
        </div>
      </div>
      $$footer