$$head
  <script src="../js/checktext.js" type="text/javascript"></script>
  <script type="text/javascript" src="../js/messaggistica.js"></script>
  <script language="javascript1.2">
  </script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
    <div id="pagina" class="colonnaUnica">
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm" title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">gestione anagrafe aziende</li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div style="clear:left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>$$utente&nbsp;&nbsp;
            <strong>ente:</strong>$$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr/>
        <!--PRIMA COLONNA -->
     <h3>Ricerca variazioni
        <span class="helpFuori">
            <a href="#">
              <span class="alt">[help]</span>
            </a>

          </span>
        </h3>
        <hr/>
        <div class="box">
        <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
                <li><a href="../layout/elencoAziendeRapLegale.htm">Elenco Aziende</a></li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
                <li><a href="../layout/ricerca.htm">Ricerca Azienda</a></li>
              <!-- @@blkRicercaAzienda-->
              <!--@@blkRicercaTerreno-->
                <li>
                  <a href="../layout/ricercaTerreno.htm">Ricerca Terreno</a>
                </li>
              <!--@@blkRicercaTerreno-->
              <!--@@blkRicercaPersona-->
                <li><a href="../layout/ricercaPersona.htm">Ricerca Persona</a></li>
              <!--@@blkRicercaPersona-->
              <!--@@blkRicercaNotifica-->
                <li>
                  <a href="../layout/ricercaNotifica.htm">Ricerca Notifiche</a>
                </li>
              <!--@@blkRicercaNotifica-->
              <!--@@blkVariazioniAzienda-->
                <li><a href="../layout/ricercaVariazioni.htm" class="on" >Ricerca Variazioni</a></li>
              <!--@@blkVariazioniAzienda-->
              <!--@@blkRicercaRichiesta-->
                <li><a href="../layout/ricercaRichiesta.htm">Ricerca richiesta azienda</a></li>
              <!--@@blkRicercaRichiesta-->
              <!-- @@blkNuova -->
                <li>
                  <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova Azienda</a>
                </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
              <!--@@blkNuovaParticella-->
              <li>
                <a href="../layout/inserisciTerreno.htm">Nuova Particella</a>
              </li>
              <!--@@blkNuovaParticella-->
              <!--@@blkServizi-->
                <li><a href="../layout/servizi.htm" >Servizi</a></li>
              <!--@@blkServizi-->
              <!--@@blkReportistica-->
                <li>
                  <a href="../layout/elencoRicerche.htm">Reportistica</a>
                </li>
              <!--@@blkReportistica-->
              <!--@@blkEstrazioneDati-->
              <li><a href="../layout/macroCategoriaReport.htm">Estrazione dati</a></li>
              <!--@@blkEstrazioneDati-->
              <li><a href="../layout/elencoManuali.htm">Scarico Documentazione Tecnica</a></li> 
          </ul>
        </div>
        <div class="menuSX">
            <ul>
              <li>
                <a href="#" class="on">Variazioni</a>
                <ul>
                    <li><a href="#" class="etichetta">presa visione</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <hr/>
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
        <div id="content">
          <p class="errore">ATTENZIONE!</p>
          <p>&nbsp;Procedendo tutte le variazioni selezionate passeranno in stato visionate da "##etichettaDescGruppoRuolo".<br />
&nbsp;Sei sicuro di voler procedere?</p>
          </div>

	

          <div class="scroll"> 
                          <table cellspacing="3" summary="Tabella contenente i risultati della ricerca delle unità arboree">
                            <tr>
                              <th rowspan="2" class="center" scope="col">CUAA</th>
                              <th rowspan="2" class="center" scope="col">Partita iva</th>
                              <th rowspan="2" class="center" scope="col">Denominazione</th>
                              <th class="center" scope="col" colspan="3">Sede legale</th>
                              <th class="center" scope="col" rowspan="2" colspan="2">Tipo variazione</th>
                              <th rowspan="2" class="center" scope="col">Amm. di competenza</th>
                            </tr>
                            <tr><th class="center">Comune (Pv)</th><th class="center">Indirizzo</th><th class="center">Cap</th>
                              
</tr>
                         <!--@@blkRiga-->
                            <tr>
                              <td>$$cuaa</td>
                              <td>$$partitaIva</td>
                              <td>$$denominazione</td>
                              <td>$$comune</td>
                              <td>$$indirizzo</td>
                              <td>$$cap</td>
                              <td>$$tipologiaVariazione</td>
                              <td>$$variazione</td>
                              <td>$$descProvAmmComp</td>
                            </tr>
                         <!--@@blkRiga-->   
                          </table>

        </div> 

        <form name="form1" method="post" action="../layout/ricercaVariazioniVisione.htm">
          <div class="pulsanti">

		        <div class="sin">
              <input name="conferma" type="submit" value="conferma" class="inputPulsante highlighted" />
            </div>
		  
					  
            <div class="des">
              <input name="annulla" type="submit" value="annulla" class="inputPulsante annulla" />
            </div>

        </div>
        </form>
        
</div>
      </div>
      <hr/>
      <!-- PIE' DI PAGINA -->
      $$footer
