$$head
  <script type="text/javascript" src="../js/checktext.js"></script>
</head>
<body id="popup">
  <form id="sceltaFoglio" name="sceltaFoglio" method="post" action="">
    <!-- CORPO -->
    <div id="contenutopop">
      <table cellspacing="3" summary="Questa tabella contiene i dati del rapporto">
        <col width="30%"/>
        <col width="70%"/>
        <!-- @@blkComune -->
          <tr>
            <th scope="row">Provincia</th>
            <td>$$siglaProvinciaParticella</td>
          </tr>
          <tr>
            <th scope="row">Comune</th>
            <td>$$descComuneParticella</td>
          </tr>
        <!-- @@blkComune -->
        <!-- @@blkStato -->
          <tr>
            <th scope="row">StatoEstero</th>
            <td>$$descStatoEsteroParticella</td>
          </tr>
        <!-- @@blkStato -->
      </table>
      <!-- @@conferma -->
        <div class="pulsanti">
          <div class="des">
            <a href="javascript:window.close();">chiudi</a>
            <span class="alt">&nbsp;/&nbsp;</span>
          </div>
          <div class="sin">
            <a href="javascript:confermaFoglio()">conferma</a>
          </div>
        </div>
      <!-- @@conferma -->
      <table cellspacing="3" summary="Questa tabella contiene i dati del rapporto">
        <col width="5%"/>
        <col width="45%"/>
        <col width="50%"/>
        <tr>
          <th class="radio" scope="col">&nbsp;</th>
          <th class="center" scope="col">Sezione</th>
          <th class="center" scope="col">Foglio</th>
        </tr>
        <!-- @@blkFogli -->
          <tr>
            <th class="radio" scope="row">
              <input type="radio" id="idFoglio" name="idFoglio" value="$$idFoglio"/>
              <label for="idFoglio" class="alt">idFoglio</label>
            </th>
            <td>$$sezione $$descrizioneSezione
              <input type="hidden" id="foglio" name="foglio" value="$$foglio"/>
              <input type="hidden" id="sezione" name="sezione" value="$$sezione"/>
            </td>
            <td>$$foglio</td>
          </tr>
        <!-- @@blkFogli -->
      </table>
      <p class="errore">$$exception</p>
      <!-- @@conferma -->
        <div class="pulsanti">
          <div class="des">
            <a href="javascript:window.close();">chiudi</a>
            <span class="alt">&nbsp;/&nbsp;</span>
          </div>
          <div class="sin">
            <a href="javascript:confermaFoglio()">conferma</a>
            <span class="alt">&nbsp;/&nbsp;</span>
          </div>
        </div>
      <!-- @@conferma -->
      <!-- @@chiudi -->
        <div class="pulsanti"><div class="des">
          <a href="javascript:window.close();">chiudi</a>
        </div></div>
      <!-- @@chiudi -->
    </div>
    </div></form>
    </body>
    </html>
