$$head

  <script type="text/javascript">


  function selezionaCheckBox(form,seleziona)
  {
    if (form.sedi)
    {
      if (form.sedi.length)
      {
        for (i=0;i<form.sedi.length;i++)
          form.sedi[i].checked=seleziona;
      }
      else form.sedi.checked=seleziona;
    }
    return false;
  }

  function importaDatiAAEP(form)
  {
    if (form.sedi)
    {
      if (form.sedi.length)
      {
        for (i=0;i<form.sedi.length;i++)
          if (form.sedi[i].checked) return true;
        alert("Selezionare almeno una voce da importare");
      }
      else
      {
        if (form.sedi.checked) return true;
        alert("Selezionare la voce da importare");
      }
    }
    return false;
  }

  </script>

  <script src="../js/checktext.js" type="text/javascript"></script>
  <script type="text/javascript" src="../js/messaggistica.js"></script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post" action="../layout/sediAAEPImport.htm">
    <div id="pagina" class="colonnaUnica">
      <!-- INTESTAZIONE --><div id="intestazione##pathProvincia">
	  <!--intestazione-->
	$$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm" title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">gestione anagrafe aziende</li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div style="clear:left"></div>
      <!-- CORPO -->
        <div id="corpo">
          <div id="Utente">
            <div id="datiUtente">
              <strong>utente:</strong>$$utente&nbsp;&nbsp;
              <strong>ente:</strong>$$ente
            </div>
            <div id="chiudisessione">
              <a href="javascript: logout();">chiudi sessione</a>
            </div>
          </div>
          <hr/>
          <!--PRIMA COLONNA -->
          <h3>Gestione Anagrafe Aziende > Unit&agrave; produttive > Infocamere
            <span class="helpFuori">
              <a href="#">
                <span class="alt">[help]</span>
              </a>
            </span>
          </h3>
          <hr/>
          <div class="box">
            <div class="menuSX1">
              <ul>
                <!-- @@blkElencoAziendeRapLegale -->
                <li><a href="../layout/elencoAziendeRapLegale.htm">Elenco Aziende</a></li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
                  <li><a href="../layout/ricerca.htm">Ricerche</a></li>
                <!-- @@blkRicercaAzienda-->
                <!-- @@blkNuova -->
                  <li>
                    <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova Azienda</a>
                  </li>
                <!-- @@blkNuova -->
                <!-- @@blkNuovaIscrizione -->
	              <li>
	                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
	              </li>
	              <!-- @@blkNuovaIscrizione -->
	            </ul>
            </div>
            <div class="menuSX">
              <ul>
                <li>
                  <a href="../layout/anagrafica.htm">Anagrafica</a>
                </li>
                <!-- @@blkAziendeCollegate -->
		          			<li>
		          					<a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
		          			</li>
		          	<!-- @@blkAziendeCollegate -->
		        <!-- @@blkSincronizzaFascicolo -->
                <li>
               	  <a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
                </li>
                <!-- @@blkSincronizzaFascicolo -->  	
                <!-- @@blkSoggettiCollegati -->
                  <li>
                    <a href="../layout/contitolari.htm">Soggetti collegati</a>
                  </li>
                <!-- @@blkSoggettiCollegati -->
                <!-- @@blkContiCorrenti -->
                  <li>
                    <a href="../layout/conti_correnti.htm">Conti Correnti</a>
                  </li>
                <!-- @@blkContiCorrenti -->
                <!-- @@blkUnitaProduttive -->
                  <li>
                    <a href="../layout/sedi.htm" class="on">Unit&agrave; produttive</a>
                    <ul>
                        <li>
                          <a href="#" class="etichetta">Infocamere</a>
                        </li>
                    </ul>
                  </li>
                <!-- @@blkUnitaProduttive -->
                <!-- @@blkTerreni -->
			          <li>
			            <!-- @@blkLinkElenco -->
			            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
			            <!-- @@blkLinkElenco -->
			            <!-- @@blkLinkRiepiloghi -->
			            <a href="../layout/riepiloghi.htm">Terreni</a>
			            <!-- @@blkLinkRiepiloghi -->
			          </li>
			          <!-- @@blkTerreni -->
			          <!-- @@blkUnitaVitate -->
			          <li>
			            <!-- @@blkLinkElenco -->
			            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
			            <!-- @@blkLinkElenco -->
			            <!-- @@blkLinkRiepiloghi -->
			              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
			              <!-- @@blkLinkRiepiloghi -->
			          </li>
			          <!-- @@blkUnitaVitate -->
                <!-- @@blkFabbricati -->
                  <li>
                    <a href="../layout/fabbricati.htm">Fabbricati e Strutture</a>
                  </li>
                <!-- @@blkFabbricati -->
                <!-- @@blkAllevamenti -->
                  <li>
                    <a href="../layout/allevamenti.htm">Allevamenti</a>
                  </li>
                <!-- @@blkAllevamenti -->
                <!-- @@blkManodopera -->
                  <li>
                    <a href="../layout/manodopera.htm">Manodopera</a>
                  </li>
                <!-- @@blkManodopera -->
                <!-- @@blkMotoriAgricoli -->
                  <li>
                    <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
                  </li>
                <!-- @@blkMotoriAgricoli -->
                <!-- @@blkDiritti -->
                  <li><a href="../layout/diritti.htm">Diritti di produzione</a></li>
                <!-- @@blkDiritti -->
                <!-- @@blkAttestazioni -->
                	<li><a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a></li>
              	<!-- @@blkAttestazioni -->
                <!-- @@blkDichiarazioniConsistenza -->
                  <li>
                    <a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a>
                  </li>
                <!-- @@blkDichiarazioniConsistenza -->
                <!-- @@blkDocumenti -->
                  <li><a href="../layout/documentiElenco.htm">Documenti</a></li>
                <!-- @@blkDocumenti -->
                <!-- @@blkFascicoloDematerializzato -->
	              <li>
	                <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
	              </li>
	              <!-- @@blkFascicoloDematerializzato -->
                <!-- @@blkGestioneNotifiche -->
                  <li>
                    <a href="../layout/notifiche.htm">Notifiche</a>
                  </li>
                <!-- @@blkGestioneNotifiche -->
                <!-- @@blkComunicazione10R -->
                  <li>
                    <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione 10/R</a>
                  </li>
                <!-- @@blkComunicazione10R -->
                <!-- @@blkPratiche -->
                  <li><a href="../layout/pratiche.htm">Pratiche</a></li>
                <!-- @@blkPratiche -->
                <!-- @@blkStampaFascicolo -->
                  <li>
                    <a href="../layout/scelta_stampa.htm">Stampe</a>
                  </li>
                <!-- @@blkStampaFascicolo -->
				<li>
                <a href="../layout/strumenti.htm">Strumenti</a>
              </li>
              </ul>
            </div>
          </div>
          <hr/>
          <!-- SECONDA COLONNA -->
          <div id="contenuto">
            <div id="intesta">
	            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
	              $$CUAAIntestazione  $$denominazioneIntestazione
	            </p>
	          </div>
            <!-- @@blkNotifica -->
              <p class="$$immagine">$$messaggioNotifica</p>
              <!-- @@blkINNotifica -->
              <div class="notifica">$$notifica</div>
             <!-- @@blkINNotifica -->
            <!-- @@blkNotifica -->
            <h4 class="titolo">Fonte Dati: InfoCamere</h4>
            
            
            <!-- @@blkErrore -->
	          <p class="errore">
	            $$messaggioErrore
	          </p>
	          <!-- @@blkErrore -->
            
            
		        <div class="scroll">
              <table summary="Questa tabella è costituita da colonne" cellspacing="3">
                  <tr>
                    <th rowspan="2" class="radio" scope="col"></th>
                    <th rowspan="2" class="center" scope="col">Comune</th>
                    <th rowspan="2" class="center" scope="col">Indirizzo</th>
                    <th rowspan="2" class="center" scope="col">Cap</th>
                    <th colspan="2" class="center" scope="col">Tipo</th>
                    <th rowspan="2" class="center" scope="col">Denominazione</th>
                    <th rowspan="2" class="center" scope="col">ATECO principale (*)</th>
                    <th rowspan="2" class="center" scope="col">ATECO secondari (*)</th>
                    <th rowspan="2" class="center" scope="col">Data inizio attivit&agrave;</th>
                    <th rowspan="2" class="center" scope="col">Data fine attivit&agrave;</th>
                    <th rowspan="2" class="center" scope="col">Causale cessazione</th>
                    <th rowspan="2" class="center" scope="col">Telefono</th>
                    <th rowspan="2" class="center" scope="col">Fax</th>
                  </tr>
                  <tr>
                    <th class="center" scope="col">&nbsp;</th>
                    <th class="center" scope="col">Descrizione</th>
                  </tr>
                  <!-- @@blkSede -->
                    <tr>
                      <!-- @@blkradioOK -->
                      <th class="radio" scope="row"><input name="sedi" type="checkbox" id="$$sedi" value="$$sedi" /></th>
                      <!-- @@blkradioOK -->
                      <!-- @@blkNoRadio -->
                      <th class="radio" scope="row">&nbsp;</th>
                      <!-- @@blkNoRadio -->
                      <td>$$comune</td>
                      <td>$$indirizzo</td>
                      <td>$$cap</td>
                      <td>$$tipo</td>
                      <td>$$descrizioneTipo</td>
                      <td>$$denominazione</td>
                      <td>$$ateco</td>
                      <td>$$atecoSecondari</td>
                      <td class="data">$$dataInizioAttivita</td>
                      <td class="data">$$dataCessazione</td>
                      <td>$$causale</td>
                      <td>$$telefono</td>
                      <td>$$telefax</td>
                    </tr>
                  <!-- @@blkSede -->
              </table>
              </div>
              <p id="nota"> (*) Il codice ATECO di Infocamere è del 2007 </p>
              <!-- @@blkImportaUteAAEPButtons -->
                <div class="pulsanti">
                  <div class="sin">
                    <input name="seleziona" type="submit" onclick="return selezionaCheckBox(document.form1,true)" value="seleziona" class="inputPulsante" />
                  </div>
                  <div class="des">
                    <input name="deseleziona" type="submit" onclick="return selezionaCheckBox(document.form1,false)" value="deseleziona" class="inputPulsante" />
                  </div>
                </div>
		            <div class="pulsanti">
                  <div class="sin">
                    <input name="importa" type="submit" value="importa dati" onclick="return importaDatiAAEP(document.form1)" class="inputPulsante" />
                  </div>
                  <div class="des">
                    <input name="importaDati" type="hidden" value="importaDati" />
                  </div>
                </div>
              <!-- @@blkImportaUteAAEPButtons -->
          </div>
        </div>
        <hr/>
$$footer
