$$head
<script language="javascript1.2" src="../js/stampaMod.js" type="text/javascript"></script>
<script language="javascript1.2" src="../js/getRadioValue.js" type="text/javascript"></script>
<script language="javascript1.2" src="../js/checktext.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script language="javascript1.2">

  function controlloCheckbox() 
  { 
  
    var count = 0;
    var countRadio = 0;
    
    var radio = document.forms[0].idTipoReport; 
    
    if(radio.length) 
    {
      for(var i = 0; i < radio.length; i++) 
      {
        if(radio[i].checked == true) 
        {
          countRadio++;
        }
      }
    }
    else 
    {
      if(radio.checked == true) 
      {
        countRadio++;
      }
    }
    
    if(countRadio == 0)
    {
      alert("Non e' stata selezionata nessun tipo di stampa.");
      return;
    }
    
    
    var compatibile = '';
    if(radio.length) 
    {
      for(var i = 0; i < radio.length; i++) 
      {
        if(radio[i].checked == true) 
        {
          compatibile = document.getElementById('compatibile_'+radio[i].value);
        }
      }
    }
    else
    {
      compatibile = document.getElementById('compatibile_'+radio.value);
    }    
    
    if(compatibile.value == '')
    {
      alert("Il tipo di stampa non è compatibile con tutti i documenti selezionati");
      return;
    }
    
    
    
    
    
    
    var proprietario = '';
    var countProp = 0;
    if(radio.length) 
    {
      for(var i = 0; i < radio.length; i++) 
      {
        if(radio[i].checked == true) 
        {
          proprietario = document.getElementById('proprietari_'+radio[i].value);
        }
      }
    }
    else
    {
      proprietario = document.getElementById('proprietari_'+radio.value);
    }
    
    
    if(proprietario.value != '') 
    {
      var arrayCuaa = document.forms[0].cuaa; 
      if(arrayCuaa.length) 
      {
        for(var i = 0; i < arrayCuaa.length; i++) 
        {
          if(arrayCuaa[i].checked == true) 
          {
            countProp++;
          }
        }
      }
      else 
      {
        if(arrayCuaa.checked == true) 
        {
          countProp++;
        }
      }
    }
    
    if((countProp == 0) && (proprietario.value != ''))
    {
      alert("Per il tipo di stampa selezionato è necessario selezionare un proprietario.");
      return;
    }
    
    
    if(proprietario.value != '')
    {
      var arrayCuaa = document.forms[0].cuaa;
      var arrayPropInTutti = document.forms[0].propInTutti;
      for(var i = 0; i < arrayCuaa.length; i++) 
      {
        if(arrayCuaa[i].checked == true) 
        {
          if(arrayPropInTutti[i].value == '')
          {
            alert("Il proprietario selezionato non è proprietario di tutti i documenti da stampare.");
            return;
          }
        }
      }    
    }
    
    
    
    
    var quadri = '';
    var countQuadri = 0;
    if(radio.length) 
    {
      for(var i = 0; i < radio.length; i++) 
      {
        if(radio[i].checked == true) 
        {
          quadri = document.getElementById('quadri_'+radio[i].value);
        }
      }
    }
    else
    {
      quadri = document.getElementById('quadri_'+radio.value);
    }
    
    
    if(quadri.value != '') 
    {
      var array = '';    
	    if(radio.length) 
	    {
	      for(var i = 0; i < radio.length; i++) 
	      {
	        if(radio[i].checked == true) 
	        {
	          array = document.getElementsByName('codiceStampa_'+radio[i].value);
	        }
	      }
	    }
	    else
	    {
	      array = document.getElementsByName('codiceStampa_'+radio.value);
	    }
	    
	    if(array.length) 
	    {
	      for(var i = 0; i < array.length; i++) 
	      {
	        if(array[i].checked == true) 
	        {
	          count++;
	        }
	      }
	    }
	    //Stampa senza check a vista...
	    else
	    {
	      if(array.checked == true) 
        {
          count++;
        }
	    }    
	  }
	  //Stampa senza check a vista...
    else
    {
      count = 1;
    } 
   
  
    if(count == 0)
    {
      alert("Non è stata selezionata nessuna voce");
    }
    else
    {      
      stampaMod(document.forms[0]);
    }
  }


  function selectAllKeys() 
  {
    var radio = document.forms[0].idTipoReport;
    
    var array = null;
    if(radio.length) 
    {
      for(var i = 0; i < radio.length; i++) 
      {
        if(radio[i].checked == true) 
        {
          array = document.getElementsByName('codiceStampa_'+radio[i].value);
        }
      }
    }
    else
    {
      array = document.getElementsByName('codiceStampa_'+radio.value);
    }
 
    if(array != null) 
    {
      if(array.length) 
      {
        for(var i = 0; i < array.length; i++) 
        {
          if(array[i].disabled == false) 
          {
            array[i].checked = true;
          }
        }
      }
      else 
      {
        if(array.disabled == false) 
        {
          array.checked = true;
        }
      }
    }
  }
  
  
  // Funzione per deselezionare tutti i checkbox dell'elenco più la chiave nascosta
  // relativa all'id_utilizzo_particella
  function deselectAllKeys() 
  {
  
    var radio = document.forms[0].idTipoReport;
    
    var array = null;
    if(radio.length) 
    {
      for(var i = 0; i < radio.length; i++) 
      {
        if(radio[i].checked == true) 
        {
          array = document.getElementsByName('codiceStampa_'+radio[i].value);
        }
      }
    }
    else
    {
      array = document.getElementsByName('codiceStampa_'+radio.value);
    }
  
    if(array != null) 
    {
      if(array.length) 
      {
        for(var i = 0; i < array.length; i++) 
        {
          if(array[i].disabled == false) 
          {
            array[i].checked = false;
          }
        }
      }
      else 
      {
        if(array[i].disabled == false) 
        {
          array.checked = false;
        }
      }
    }
  }
  
  
  function sparire() 
  {
    var arrayCuaa = document.forms[0].cuaa;
  
    if(arrayCuaa != null)
    {
      if(arrayCuaa.length) 
	    {
	      for(var i = 0; i < arrayCuaa.length; i++) 
	      {
	        arrayCuaa[i].checked = ''; 
	      }
	    }
	    else
	    {
	      arrayCuaa.checked = '';
	    }    
    }
    
  
    var radio = document.forms[0].idTipoReport;
    
    if(radio.length) 
    {
      for(var i = 0; i < radio.length; i++) 
      {
        if(radio[i].checked == true) 
        {
          document.getElementById('elenco_'+radio[i].value).style.display='';
        }
        else
        {
          document.getElementById('elenco_'+radio[i].value).style.display='none'; 
        }
      }
    }
    else
    {
      if(radio.checked == true) 
      {
        document.getElementById('elenco_'+radio.value).style.display='';
      }
      else
      {
        document.getElementById('elenco_'+radio.value).style.display='none'; 
      }
    }
  }
    	
    	

  </script>
</head>
<body id="homeIndice" onLoad="$$err_error;sparire();systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form name="stampe" method="post" action="../layout/stampaProtocollo.htm">
    <input type="hidden" name="stampaPdf" value="stampaPdf">
    <div id="pagina" class="colonnaUnica">
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm" title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">gestione anagrafe aziende</li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div style="clear:left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>$$utente&nbsp;&nbsp;
            <strong>ente:</strong>$$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr/>
        <!--PRIMA COLONNA -->
        <h3>Gestione Anagrafe Aziende&nbsp;&gt;&nbsp;Documenti&nbsp;&gt;&nbsp;Stampa documento
          <span class="helpFuori">
            <a href="#">
              <span class="alt">[help]</span>
            </a>
          </span>
        </h3>
        <hr/>
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
                <li><a href="../layout/elencoAziendeRapLegale.htm">Elenco Aziende</a></li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
                <li><a href="../layout/ricerca.htm">Ricerche</a></li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
                <li>
                  <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova Azienda</a>
                </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm">Anagrafica</a>
              </li>
              <!-- @@blkAziendeCollegate -->
	          			<li>
	          					<a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
	          			</li>
	          	<!-- @@blkAziendeCollegate -->
	          <!-- @@blkSincronizzaFascicolo -->
               <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
               </li>
              <!-- @@blkSincronizzaFascicolo -->	
              <!-- @@blkSoggettiCollegati -->
                <li>
                  <a href="../layout/contitolari.htm">Soggetti collegati</a>
                </li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
                <li>
                  <a href="../layout/conti_correnti.htm">Conti Correnti</a>
                </li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
                <li>
                  <a href="../layout/sedi.htm">Unit&agrave; produttive</a>
                </li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
		          <!-- @@blkUnitaVitate -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
		              <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
                <li>
                  <a href="../layout/fabbricati.htm">Fabbricati e Strutture</a>
                </li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
                <li>
                  <a href="../layout/allevamenti.htm">Allevamenti</a>
                </li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
                <li>
                  <a href="../layout/manodopera.htm">Manodopera</a>
                </li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
                <li>
                  <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
                </li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
                <li><a href="../layout/diritti.htm">Diritti di produzione</a></li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              	<li><a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a></li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
                <li>
                  <a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a>
                </li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li><a href="../layout/documentiElenco.htm" class="on">
                  Documenti</a>
                <ul>
                  <li>
                    <a href="#" class="etichetta">Stampa documento</a>
                  </li>
                </ul>              
              </li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
              <li>
                <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
              </li>
              <!-- @@blkFascicoloDematerializzato -->
              <!-- @@blkGestioneNotifiche -->
                <li>
                  <a href = "../layout/notifiche.htm">Notifiche</a>
                </li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
                <li>
                  <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione 10/R</a>
                </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
                <li><a href="../layout/pratiche.htm">Pratiche</a></li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
                <li>
                  <a href="../layout/scelta_stampa.htm" >Stampe</a>
                </li>
              <!-- @@blkStampaFascicolo -->
			  <li>
                <a href="../layout/strumenti.htm">Strumenti</a>
              </li>
            </ul>
          </div>
        </div>
        <hr/>
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          <!-- @@blkNotifica -->
            <p class="$$immagine">$$messaggioNotifica</p>
            <p class="notifica">$$notifica</p>
          <!-- @@blkNotifica -->
          <br/>
          <!-- @@blkStampaReport -->
          <table cellspacing="3">
            <caption>
              <input name="idTipoReport" type="radio" value="$$idTipoReport" $$checked  onclick="javascript:sparire();"/>
              &nbsp;Stampa $$descrizioneReport
              <input type="hidden" name="compatibile_$$idTipoReport" id="compatibile_$$idTipoReport" value="$$compatibile">
              <input type="hidden" name="proprietari_$$idTipoReport" id="proprietari_$$idTipoReport" value="$$proprietari">
              <input type="hidden" name="quadri_$$idTipoReport" id="quadri_$$idTipoReport" value="$$quadri">
            </caption>
            <!-- @@blkQuadri -->
            <tr>
              <th class="radio" scope="row">
                <input type="checkbox" name="codiceStampa_$$idTipoReport" id="codiceStampa_$$idTipoReport" value="$$codice" $$checkedQuadro />
              </th>
              <td colspan="3">
                $$descrizioneSelezione
              </td>
            </tr>
            <!-- @@blkQuadri -->
          </table>
          <div id="elenco_$$idTipoReport">
          <!-- @@blkElencoProprietari -->
            <table cellspacing="3">
              <caption>
                Elenco proprietari: selezionare il proprietario da stampare nel documento.
              </caption>
              <!-- @@blkProprietari -->
              <tr>
                <td scope="row">
                  <input name="cuaa" type="radio" value="$$cuaa" $$checked />
                  <input type="hidden" name="propInTutti" id="propInTutti" value="$$propInTutti">                    
                </td>
                <td>
                  $$cuaa                    
                </td>
                <td>
                  $$denominazione                    
                </td>
              </tr>
              <!-- @@blkProprietari -->
            </table>
            <!-- @@blkElencoProprietari -->
          </div>
          <!-- @@blkStampaReport -->
          <div class="pulsanti"><div class="sin">
            <input type="button" class="inputPulsante" value="Seleziona" name="Seleziona" id="Seleziona" onclick="selectAllKeys()"/>
            <input type="button" class="inputPulsante" value="Deseleziona" name="Deseleziona" id="Deseleziona" onclick="deselectAllKeys()"/>
          </div>
          <div class="des">
            <input type="button" class="inputPulsante" value="Stampa" name="salva" id="salva" onclick="javascript:controlloCheckbox();"/>
          </div></div>  
        </div>
      </div>
      <hr/>
    </form>
    <!-- PIE' DI PAGINA -->
    $$footer

