$$head
  <script src="../js/checktext.js" type="text/javascript"></script>
  <script type="text/javascript" src="../js/messaggistica.js"></script>
  <script type="text/javascript">
  
    var vetAction=new Array();
    @@blkblkTitoliPossessoJavaScript
      vetAction[$$index]="$$value";
    @@blkblkTitoliPossessoJavaScript
  
    function invia() 
    {
     if(document.form1.idTitoloPossesso != null)
     {
        var indice=document.form1.idTitoloPossesso.selectedIndex;
        if (indice>=0) 
        {
          var action = document.forms[0].action;
          document.forms[0].action = vetAction[indice];
          document.forms[0].submit();
          document.forms[0].action = action;      
        }
      }
    }
  </script>
</head>
<body id="homeIndice" onload="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form name="form1" method="post" action="../layout/terreniImporta.htm">
    <div id="pagina" class="colonnaUnica">
      <!-- INTESTAZIONE -->
      <div id="intestazione##pathProvincia">
        $$header
        <!-- menu di navigazione-->
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li><a href="../layout/index.htm" title="Torna alla pagina principale">home</a></li>
              <li class="attivo">gestione anagrafe aziende</li>
              <li><a href="#" title="contatti">contatti</a></li>
              <li><a href="#" title="help">help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div style="clear:left">  </div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong>
            $$utente
            &nbsp;
            &nbsp;
            <strong>ente:</strong>
            $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript: logout();">chiudi sessione</a>
          </div>
        </div>
        <hr/>
        <!--PRIMA COLONNA -->
        <h3>Gestione Anagrafe Aziende&nbsp;&gt;&nbsp;Terreni&nbsp;&gt;&nbsp;Importa
          <span class="helpFuori">
            <a href="#">
              <span class="alt">[help]</span>
            </a>
          </span>
        </h3>
        <hr/>
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
                <li><a href="../layout/elencoAziendeRapLegale.htm">Elenco Aziende</a></li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
                <li><a href="../layout/ricerca.htm">Ricerche</a></li>
              <!-- @@blkRicercaAzienda-->
              <!--@@blkNuova-->
              <li><a href="../layout/nuovaAziendaAnagrafica.htm">Nuova Azienda</a></li>
              <!--@@blkNuova-->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li><a href="../layout/anagrafica.htm">Anagrafica</a></li>
              <!-- @@blkAziendeCollegate -->
	          			<li>
	          					<a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
	          			</li>
	          	<!-- @@blkAziendeCollegate -->
	          <!-- @@blkSincronizzaFascicolo -->
               <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
               </li>
              <!-- @@blkSincronizzaFascicolo -->	
              <!-- @@blkSoggettiCollegati -->
              <li><a href="../layout/contitolari.htm">Soggetti collegati</a></li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
              <li><a href="../layout/conti_correnti.htm">Conti Correnti</a></li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
              <li><a href="../layout/sedi.htm">Unit&agrave; produttive</a></li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
              <li>
                <!-- @@blkLinkElenco -->
                <a href="../layout/terreniParticellareElenco.htm" class="on">Terreni</a>
                <!-- @@blkLinkElenco -->
                <!-- @@blkLinkRiepiloghi -->
                <a href="../layout/riepiloghi.htm" class="on" >Terreni</a>
                <!-- @@blkLinkRiepiloghi -->
                <ul>
                  <li>
                    <a href="#" class="etichetta">importa</a>
                  </li>
                </ul>
              </li>
              <!-- @@blkTerreni -->
              <!-- @@blkUnitaVitate -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniUnitaArboreeElenco.htm">Unit&agrave; Vitate</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		              <a href="../layout/riepiloghiUnitaArboree.htm">Unit&agrave; Vitate</a>
		              <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
              <li><a href="../layout/fabbricati.htm">Fabbricati e Strutture</a></li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
              <li><a href="../layout/allevamenti.htm">Allevamenti</a></li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
              <li><a href="../layout/manodopera.htm">Manodopera</a></li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
              <li><a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a></li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
              <li><a href="../layout/titoli.htm">Diritti di produzione</a></li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              	<li><a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a></li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
              <li><a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a></li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li><a href="../layout/documentiElenco.htm">Documenti</a></li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
              <li>
                <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
              </li>
              <!-- @@blkFascicoloDematerializzato -->
              <!-- @@blkGestioneNotifiche -->
              <li><a href="../layout/notifiche.htm">Notifiche</a></li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
                <li>
                  <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione 10/R</a>
                </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
              <li><a href="../layout/pratiche.htm">Pratiche</a></li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
              <li><a href="../layout/scelta_stampa.htm">Stampe</a></li>
              <!-- @@blkStampaFascicolo -->
			  <li>
                <a href="../layout/strumenti.htm">Strumenti</a>
              </li>
            </ul>
          </div>
        </div>
        <hr/>
        <!-- SECONDA COLONNA -->
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          <table cellspacing="3" summary="Questa tabella è costituita da righe">
            <tr>
              <th colspan="2" scope="row">
                  <label for="possesso">
                    Titolo di possesso
                  </label>
                </th>
                <td colspan="3">
                  <select name="idTitoloPossesso" id="idTitoloPossesso" onchange="javascript:invia();">
                    <!-- @@blkTitoliPossesso -->
                    <option value="$$idTitoloPossesso" $$selected>
                      $$descrizione
                    </option>
                    <!-- @@blkTitoliPossesso -->
                  </select>
                  $$err_idTitoloPossesso
                </td>
            </tr>
          </table>
          <hr/>
          <p>Indicare l'azienda da cui si desidera importare il particellare e il piano colturale. Proseguendo verranno importate tutte le particelle.</p>
          <br/>
          <table cellspacing="3" summary="Questa tabella è costituita da righe">
            <tr>
              <th>
                <label for="CUAA">CUAA</label>
              </th>
              <td colspan="2">
               <input name="cuaa" class="textmediolungo" id="cuaa" value="$$cuaa" maxlength="16"/>$$err_cuaa
              </td>
            </tr>
          </table>
          <div class="pulsanti"><div class="sin">
            <input type="submit" name="cerca" value="ricerca" class="inputPulsante"/>
          </div></div>
          <!-- @@blkElencoAziende -->
            <table cellspacing="3" summary="Questa tabella è costituita da righe">
              <tr>
                <th rowspan="2" class="radio">&nbsp;</th>
                <th rowspan="2" class="center" scope="col">Partita iva</th>
                <th rowspan="2" class="center" scope="col">Denominazione</th>
                <th colspan="2" class="center" scope="col">Sede legale</th>
                <th rowspan="2" class="center" scope="col">Data cessazione</th>
                <th rowspan="2" class="center" scope="col">In fase di insediamento
              <tr>
                <th class="center" scope="col">Comune</th>
                <th class="center" scope="col">Indirizzo</th>
              <!-- @@blkElenco -->
                <tr>
                  <td class="radio" scope="row">
                    <label for="radiobutton" class="alt">
                      <span>radiobutton1</span>
                    </label>
                    <input type="radio" id="idAnagraficaAzienda" name="idAnagraficaAzienda" value="$$idAnagraficaAzienda" $$checked/>
                  </td>
                  <td>$$partitaIva</td>
                  <td>$$denominazione</td>
                  <td>$$descComuneSedeLegale $$siglaProvSedeLegale</td>
                  <td>$$indirizzoSedeLegale</td>
                  <td>$$dataCessazione</td>
                  <td>$$flagFaseInsediamento</td>
                </tr>
              <!-- @@blkElenco -->
          </table><div class="pulsanti">
          <div class="des">
            <input id="avanti" name="avanti" type="submit" value="avanti" class="inputPulsante"/>
          </div></div>  
          <!-- @@blkElencoAziende -->
          <!-- @@blkErrore -->
          <p class="errore">$$messaggioErrore</p>
          <!-- @@blkErrore -->
        </div>
      </div>
      <hr/>
      <!-- PIE' DI PAGINA -->
    </form>
    $$footer

