$$head
<script src="../js/checktext.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript">
		
		// Metodo per aprire la pop-up di modifica ed effettuare su di essa il submit del form
		function newWindowSubmit(mypage, myname, w, h, scroll) 
    {
			if(document.forms[0].siglaProvincia.value == '' 
        && document.forms[0].descComune.value == '' 
        &&  document.forms[0].sezione.value == '' 
        && document.forms[0].foglio.value == '' && document.forms[0].particella.value == '') 
      {
				alert('Indicare almeno un criterio di ricerca');
				return;
			}
			else if(document.forms[0].siglaProvincia.value != '' && document.forms[0].descComune.value == '') 
      {
				alert('Valorizzare il comune');
				return;
			}
			else if(document.forms[0].siglaProvincia.value == '' && document.forms[0].descComune.value != '') 
      {
				alert('Valorizzare la provincia');
				return;
			}
			else 
      {
				var winl = (screen.width - w) / 2;
	  		var wint = (screen.height - h) / 2;
	  		winprops =    'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable';
	  		win = window.open('', myname, winprops);
	  		if (parseInt(navigator.appVersion) >= 4) 
        {
	    		win.window.focus();
	  		}	
			  var target1 = document.forms[0].target;
			  var action1 = document.forms[0].action;
			  document.forms[0].target = myname;
			  document.forms[0].action = mypage;
				document.forms[0].submit();
				document.forms[0].target = target1;
	  		document.forms[0].action = action1;
	  	}
		}
		
		// Metodo per aprire la pop-up di modifica ed effettuare su di essa il submit del form
		function newWindowSubmitFrazionate(mypage, myname, w, h, scroll) 
    {
			if(document.forms[0].siglaProvinciaAssocia.value == '' 
        && document.forms[0].descComuneAssocia.value == '' 
        &&  document.forms[0].sezioneAssocia.value == '' 
        && document.forms[0].foglioAssocia.value == '' 
        && document.forms[0].particellaAssocia.value == '') 
      {
				alert('Indicare almeno un criterio di ricerca');
				return;
			}
			else if(document.forms[0].siglaProvinciaAssocia.value != '' 
        && document.forms[0].descComuneAssocia.value == '') 
      {
				alert('Valorizzare il comune');
				return;
			}
			else if(document.forms[0].siglaProvinciaAssocia.value == '' 
        && document.forms[0].descComuneAssocia.value != '') 
      {
				alert('Valorizzare la provincia');
				return;
			}
			else 
      {
				var winl = (screen.width - w) / 2;
	  		var wint = (screen.height - h) / 2;
	  		winprops =    'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable';
	  		win = window.open('', myname, winprops);
	  		if (parseInt(navigator.appVersion) >= 4) 
        {
	    		win.window.focus();
	  		}	
			  var target1 = document.forms[0].target;
			  var action1 = document.forms[0].action;
			  document.forms[0].target = myname;
			  document.forms[0].action = mypage;
				document.forms[0].submit();
				document.forms[0].target = target1;
	  		document.forms[0].action = action1;
	  	}
		}
		
		// Funzione utilizzata per visualizzare la parte relative alla ricerca delle particelle da
		// associare alla nuova unità vitata o il dettaglio della particella selezionata
		function evento() 
    {
			if(document.forms[0].esito.value == 'S') 
      {
				document.getElementById("filtro").style.display= "none";
				document.getElementById("dettaglio").style.display= "";
				document.getElementById("associa").style.display= "none";
				document.getElementById("unitaVitata").style.display= "";
				document.getElementById("causale").style.display= "";
			  document.getElementById("operazioni").style.display= "";
			}
			else if(document.forms[0].esito.value == 'A') 
      {
				document.getElementById("filtro").style.display= "none";
				document.getElementById("dettaglio").style.display= "";
				document.getElementById("associa").style.display= "";
				document.getElementById("unitaVitata").style.display= "none";
				document.getElementById("causale").style.display= "none";
			  document.getElementById("operazioni").style.display= "none";
			}
			else 
      {
				document.getElementById("filtro").style.display= "";
				document.getElementById("associa").style.display= "none";
				document.getElementById("dettaglio").style.display= "none";
				document.getElementById("unitaVitata").style.display= "none";
				document.getElementById("causale").style.display= "none";
				document.getElementById("operazioni").style.display= "none";
			}
		}
		
	</script>
</head>
<body id="homeIndice" onLoad="javascript: evento();$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post"
    action="../layout/unitaArboreeInserisciFrazionate.htm">
    <input type="hidden" name="esito" value="$$esito">
    <input type="hidden" name="importa" value="importa">
    <div id="pagina" class="colonnaUnica">
      <div id="intestazione##pathProvincia">
        $$header
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm"
                  title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">
                gestione anagrafe aziende
              </li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div style="clear: left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong> $$utente &nbsp; &nbsp;
            <strong>ente:</strong> $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript:logout();">chiudi sessione</a>
          </div>
        </div>
        <hr />
        <h3>
          Gestione Anagrafe
          Aziende&nbsp;&gt;&nbsp;Unit&agrave;
          vitate&nbsp;&gt;&nbsp;Inserisci
          <span class="helpFuori"> <a href="#"> <span
              class="alt">[help]</span> </a> </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
              <li>
                <a href="../layout/elencoAziendeRapLegale.htm">Elenco
                  Aziende</a>
              </li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerche</a>
              </li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
              <li>
                <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova
                  Azienda</a>
              </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm">Anagrafica</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <li>
                <a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <!-- @@blkSincronizzaFascicolo -->
               <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
               </li>
              <!-- @@blkSincronizzaFascicolo -->
              <!-- @@blkSoggettiCollegati -->
              <li>
                <a href="../layout/contitolari.htm">Soggetti
                  collegati</a>
              </li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
              <li>
                <a href="../layout/conti_correnti.htm">Conti
                  Correnti</a>
              </li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
              <li>
                <a href="../layout/sedi.htm">Unit&agrave; produttive</a>
              </li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
              <!-- @@blkUnitaVitate -->
              <li>
                <!-- @@blkLinkElenco -->
                <a href="../layout/terreniUnitaArboreeElenco.htm" class="on">Unit&agrave; Vitate</a>
                <!-- @@blkLinkElenco -->
                <!-- @@blkLinkRiepiloghi -->
                <a href="../layout/riepiloghiUnitaArboree.htm" class="on">Unit&agrave; Vitate</a>
                <!-- @@blkLinkRiepiloghi -->               
                <ul>
                  <li>
                    <a href="#" class="etichetta">importa</a>
                  </li>
                </ul>                  
              </li>
              <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
              <li>
                <a href="../layout/fabbricati.htm">Fabbricati e
                  Strutture</a>
              </li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
              <li>
                <a href="../layout/allevamenti.htm">Allevamenti</a>
              </li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
              <li>
                <a href="../layout/manodopera.htm">Manodopera</a>
              </li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
              <li>
                <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
              </li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
              <li>
                <a href="../layout/diritti.htm">Diritti di
                  produzione</a>
              </li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              <li>
                <a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a>
              </li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
              <li>
                <a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a>
              </li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li>
                <a href="../layout/documentiElenco.htm">Documenti</a>
              </li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
              <li>
                <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
              </li>
              <!-- @@blkFascicoloDematerializzato -->
              <!-- @@blkGestioneNotifiche -->
              <li>
                <a href="../layout/notifiche.htm">Notifiche</a>
              </li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
              <li>
                <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione
                  10/R</a>
              </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
              <li>
                <a href="../layout/pratiche.htm">Pratiche</a>
              </li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
              <li>
                <a href="../layout/scelta_stampa.htm">Stampe</a>
              </li>
              <!-- @@blkStampaFascicolo -->
			  <li><a href="../layout/strumenti.htm">Strumenti</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          <table
            summary="Tabella contenente i filtri di ricerca della particella da associare all'unità arborea"
            id="filtro">
            <caption>
              Ricerca particella in conduzione all'azienda
            </caption>
            <tr>
              <th>
                <label for="provincia">
                  Provincia
                </label>
              </th>
              <td>
                <input name="siglaProvincia" type="text" class="due"
                  id="siglaProvincia" value="$$siglaProvincia"
                  maxlength="2" />
              </td>
              <th>
                <label for="comune">
                  Comune
                </label>
              </th>
              <td>
                <input name="descComune" type="text" class="trenta"
                  id="descComune" value="$$descComune" />
              </td>
              <td colspan="3">
                <div class="azioni">
                  <a
                    href="javascript: popupComune('../layout/sceltaComune.htm', 'scegliComune', '600', '300', 'yes', document.forms[0].siglaProvincia.value, document.forms[0].descComune.value, 'insParticella', 'territoriale');">cerca</a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="col">
                <label for="sezione">
                  <acronym title="Sezione">Sz.</acronym>
                </label>
              </th>
              <td scope="col">
                <input type="text" id="sezione" name="sezione"
                  value="$$sezione" class="textbreve" maxlength="1" />
              </td>
              <th scope="col">
                <label for="foglio">
                  <acronym title="Foglio">Fgl.</acronym>
                </label>
              </th>
              <td scope="col">
                <input type="text" id="foglio" name="foglio"
                  value="$$foglio" class="textbreve" maxlength="4" />
              </td>
              <th scope="col">
                <label for="particella">
                  <acronym title="Particella">Part.</acronym>
                </label>
              </th>
              <td scope="col">
                <input type="text" id="particella" name="particella"
                  value="$$particella" class="textbreve" maxlength="5" />
              </td>
              <td scope="col">
                <div class="azioni">
                  <a
                    href="javascript: newWindowSubmit('../layout/popCercaParticelleInsUnar.htm', 'UV', '600', '300', 'yes');"
                    title="Cerca particelle - Attenzione: questo link si apre in una nuova finestra">cerca</a>
                </div>
              </td>
            </tr>
          </table>
          <table id=dettaglio>
            <caption>
              Particella in conduzione all'azienda
            </caption>
            <tr>
              <th class="center">
                Comune
              </th>
              <th class="center">
                <acronym title="Sezione">Sz.</acronym>
              </th>
              <th class="center">
                <acronym title="Foglio">Fgl.</acronym>
              </th>
              <th class="center">
                <acronym title="Particella">Part.</acronym>
              </th>
              <th class="center">
                <acronym title="Subalterno">Sub.</acronym>
              </th>
              <th class="center">
                <acronym title="Superficie catastale">Sup.
                  Cat.</acronym>
              </th>
              <th class="center">
                <acronym title="Superficie grafica">Sup.
                  Grafica</acronym>
              </th>
            </tr>
            <tr>
              <td>
                $$descComuneUv ($$siglaProvUv)
              </td>
              <td>
                $$sezioneUv
              </td>
              <td class="numeridx">
                $$foglioUv
              </td>
              <td class="numeridx">
                $$particellaUv
              </td>
              <td>
                $$subalternoUv
              </td>
              <td class="numeridx">
                $$supCatastale
              </td>
              <td class="numeridx">
                $$superficieGrafica
              </td>
            </tr>
          </table>
          <table
            summary="Tabella contenente i filtri di ricerca della particella da associare all'unità arborea"
            id="associa">
            <caption>
              Ricerca particella a cui è legata l'unit&agrave; vitata
            </caption>
            <tr>
              <th>
                <label for="provincia">
                  Provincia
                </label>
              </th>
              <td>
                <input name="siglaProvinciaAssocia" type="text"
                  class="due" id="siglaProvinciaAssocia"
                  value="$$siglaProvinciaAssocia" maxlength="2" />
              </td>
              <th>
                <label for="comune">
                  Comune
                </label>
              </th>
              <td>
                <input name="descComuneAssocia" type="text"
                  class="trenta" id="descComuneAssocia"
                  value="$$descComuneAssocia" />
              </td>
              <td colspan="3">
                <div class="azioni">
                  <a
                    href="javascript: popupComune('../layout/sceltaComune.htm', 'scegliComune', '600', '300', 'yes', document.forms[0].siglaProvinciaAssocia.value, document.forms[0].descComuneAssocia.value, 'insUvFrazionate', 'territoriale');">cerca</a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="col">
                <label for="sezione">
                  <acronym title="Sezione">Sz.</acronym>
                </label>
              </th>
              <td scope="col">
                <input type="text" id="sezioneAssocia"
                  name="sezioneAssocia" value="$$sezioneAssocia"
                  class="textbreve" maxlength="1" />
              </td>
              <th scope="col">
                <label for="foglio">
                  <acronym title="Foglio">Fgl.</acronym>
                </label>
              </th>
              <td scope="col">
                <input type="text" id="foglioAssocia"
                  name="foglioAssocia" value="$$foglioAssocia"
                  class="textbreve" maxlength="4" />
              </td>
              <th scope="col">
                <label for="particella">
                  <acronym title="Particella">Part.</acronym>
                </label>
              </th>
              <td scope="col">
                <input type="text" id="particellaAssocia"
                  name="particellaAssocia" value="$$particellaAssocia"
                  class="textbreve" maxlength="5" />
              </td>
              <td scope="col">
                <div class="azioni">
                  <a
                    href="javascript: newWindowSubmitFrazionate('../layout/popCercaParticelleInsUnarFrazionate.htm', 'UV', '1000','700', 'yes');"
                    title="Cerca particelle - Attenzione: questo link si apre in una nuova finestra">cerca</a>
                </div>
              </td>
            </tr>
          </table>
          <table id="unitaVitata"
            summary="Tabella contenente i dati dell'unità vitata">
            <caption>
              Elenco unit&agrave; vitate da importare
            </caption>
            <tr>
              <th class="center" scope="col"></th>
              <th class="center" scope="col">
                Comune (Prov.)
              </th>
              <th class="center" scope="col">
                <acronym title="Sezione">Sz.</acronym>
              </th>
              <th class="center" scope="col">
                <acronym title="Foglio">Fgl.</acronym>
              </th>
              <th class="center" scope="col">
                <acronym title="Particella">Part.</acronym>
              </th>
              <th class="center" scope="col">
                <acronym title="Subalterno">Sub.</acronym>
              </th>
              <th class="center" scope="col">
                <strong><acronym
                  title="Destinazione produttiva">Dest. prod.</acronym>
                </strong>
              </th>
              <th class="center" scope="col">
                <strong>Vitigno</strong>
              </th>
              <th class="center" scope="col">
                <strong><acronym title="Superficie vitata">Sup.
                    vit.</acronym>
                </strong>
              </th>
              <th class="center" scope="col">
                <strong>Data <acronym title="impianto">imp.</acronym>
                </strong>
              </th>
              <th class="center" scope="col">
                <strong>Data <acronym title="prima produzione">prima prod.</acronym>
                </strong>
              </th>
              <th class="center" scope="col">
                <strong>Sesto su fila <acronym
                  title="centimetri">(cm)</acronym>
                </strong>
              </th>
              <th class="center" scope="col">
                <strong>Sesto tra file <acronym
                  title="centimetri">(cm)</acronym>
                </strong>
              </th>
              <th class="center" scope="col">
                <strong>&#37; Vitigno</strong>
              </th>
              <th class="center" scope="col">
                <strong>Altri vitigni</strong>
              </th>
              <th class="center" scope="col">
                <strong><acronym title="Forma allevamento">F.
                    all.</acronym>
                </strong>
              </th>
            </tr>
            <!-- @@blkElenco -->
            <tr>
              <td>
                <input name="idStoricoUnitaArborea"
                  id="idStoricoUnitaArborea" type="checkbox"
                  value="$$idStoricoUnitaArborea" />
              </td>
              <td>
                $$descComuneParticellaElenco
                ($$siglaProvinciaParticellaElenco)
              </td>
              <td>
                $$sezioneElenco
              </td>
              <td class="numeridx">
                $$foglioElenco
              </td>
              <td class="numeridx">
                $$particellaElenco
              </td>
              <td>
                $$subalternoElenco
              </td>
              <td>
                $$destProduttiva
              </td>
              <td>
                $$vitigno
              </td>
              <td class="numeridx">
                $$area
              </td>
              <td>
                $$dataImpianto
              </td>
              <td>
                $$dataPrimaProduzione
              </td>
              <td class="numeridx">
                $$sestoSuFila
              </td>
              <td class="numeridx">
                $$sestoTraFile
              </td>
              <td class="numeridx">
                $$percentualeVarieta
              </td>
              <td>
                $$altriVitigni
              </td>
              <td>
                $$descFormaAllevamento
              </td>
            </tr>
            <!-- @@blkElenco -->
            <tr>
              <td colspan="16">
                 <div class="azioni"><input type="submit" name="elimina" value="elimina"
                  class="inputPulsante" /></div>
              </td>
            </tr>
          </table>
          <table id="causale">
            <tr>
              <th>
                <label for="motivo">
                  Motivo inserimento *
                </label>
              </th>
              <td colspan="14">
                <select name="idCausaleModifica" id="idCausaleModifica">
                  <option></option>
                  <!-- @@blkTipiCausaliModifica -->
                  <option value="$$idCausaleModifica" $$selected>
                    $$descrizione
                  </option>
                  <!-- @@blkTipiCausaliModifica -->
                </select>
                $$err_idCausaleModifica
              </td>
            </tr>
          </table>
          <div class="pulsanti" id="operazioni">
            <div class="sin">
              <input name="conferma" type="submit" value="conferma"
                class="inputPulsante highlighted" />
            </div>
            <div class="des">
              <input name="annulla" type="submit" value="annulla"
                class="inputPulsante annulla" />
            </div>
          </div>
          <script language="javascript1.2">evento()</script>
        </div>
      </div>
  </form>
  <hr />
  $$footer