$$head
<script type="text/javascript" src="../js/checkdata.js"></script>
<script type="text/javascript" src="../js/checktext.js"></script>
<script type="text/javascript" src="../js/messaggistica.js"></script>
<script type="text/javascript">
  	
	function toggle(checked)
  {
    $elenco=document.form1.idIsolaParcella;
    if ($elenco==null)
    {
      return;
    }
    if ($elenco.length!=null)
    {
      for($i=0;$i<$elenco.length;++$i)
      {
        $elenco[$i].checked=checked;
      }
    }
    else
    {
      $elenco.checked=checked;
    }
    return false;
  }
  
  
  function selezioneElementi() 
  {
    
    document.form1.conferma.disabled = 'true';
    var coll = document.form1.idIsolaParcella;
    var count = 0;
    if(coll != null) 
    {
      if(coll.length) 
      {
        for(i=0; i < coll.length; i++) 
        {
          if(coll[i].checked) {
            count++;
          }
        }
        
        if(count == 0) 
        {
          alert("Selezionare una voce dall'elenco");
          document.form1.conferma.disabled = '';
        }
        else 
        {
          goToOperazione('../layout/unitaArboreeAllineaGIS.htm', document.form1, 'attenderePrego');
        }
      }
      else 
      {
        if(coll.checked) 
        {
          count++;
        }
        
        if(count == 0) {
          alert("Selezionare una voce dall'elenco");
        }
        else 
        {
          goToOperazione('../layout/unitaArboreeAllineaGIS.htm', document.form1, 'attenderePrego');
        }
      }
    }
    else {
      alert('Non esistono elementi su cui effettuare operazioni');
    }
  }
  
  function apriPop()
  {
    newWindowDoForm('../layout/abacoIsola.htm?codSettore=100', 'abacoisola', '1000','700','yes', 'ISOLA');
  }
  
  
		
	</script>
</head>
<body id="homeIndice" onLoad="$$err_error;systemMessages('$$txtMessaggioTestataUtente', '$$txtNumMessaggiDaLeggere');">
  <form id="form1" name="form1" method="post"
    action="../layout/unitaArboreeAllineaGIS.htm">
    <input type="hidden" name="operazione" id="operazione" value="" />
    <input type="hidden" name="regimeAllineaUVGIS" id="regimeAllineaUVGIS" value="regimeAllineaUVGIS" />
    <input type="hidden" name="idDichConsAllineaUV" id="idDichConsAllineaUV" value="$$idDichConsAllineaUV" />
    <div id="pagina" class="colonnaUnica">
      <div id="intestazione##pathProvincia">
        $$header
        <div id="titoloEmenu">
          <h2>
            <span class="alt">Anagrafe agricola della Regione TOBECONFIG</span>
          </h2>
          <div id="menuDiNavigazione" title="Menu di navigazione">
            <ul class="menuTendina" id="menu-2">
              <li>
                <a href="../layout/index.htm"
                  title="Torna alla pagina principale">home</a>
              </li>
              <li class="attivo">
                gestione anagrafe aziende
              </li>
              <li>
                <a href="#" title="contatti">contatti</a>
              </li>
              <li>
                <a href="#" title="help">help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div style="clear: left"></div>
      <!-- CORPO -->
      <div id="corpo">
        <div id="Utente">
          <div id="datiUtente">
            <strong>utente:</strong> $$utente &nbsp; &nbsp;
            <strong>ente:</strong> $$ente
          </div>
          <div id="chiudisessione">
            <a href="javascript:logout();">chiudi sessione</a>
          </div>
        </div>
        <hr />
        <h3>
          Gestione Anagrafe
          Aziende&nbsp;&gt;&nbsp;Unit&agrave;
          vitate&nbsp;&gt;&nbsp;allinea UV a GIS
          <span class="helpFuori"> <a href="#"> <span
              class="alt">[help]</span> </a> </span>
        </h3>
        <hr />
        <div class="box">
          <div class="menuSX1">
            <ul>
              <!-- @@blkElencoAziendeRapLegale -->
              <li>
                <a href="../layout/elencoAziendeRapLegale.htm">Elenco
                  Aziende</a>
              </li>
              <!-- @@blkElencoAziendeRapLegale -->
              <!-- @@blkRicercaAzienda-->
              <li>
                <a href="../layout/ricerca.htm">Ricerche</a>
              </li>
              <!-- @@blkRicercaAzienda-->
              <!-- @@blkNuova -->
              <li>
                <a href="../layout/nuovaAziendaAnagrafica.htm">Nuova
                  Azienda</a>
              </li>
              <!-- @@blkNuova -->
              <!-- @@blkNuovaIscrizione -->
              <li>
                <a href="../layout/newInserimentoAzienda.htm">Nuova Iscrizione</a>
              </li>
              <!-- @@blkNuovaIscrizione -->
            </ul>
          </div>
          <div class="menuSX">
            <ul>
              <li>
                <a href="../layout/anagrafica.htm">Anagrafica</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <li>
                <a href="../layout/aziendeCollegate.htm">$$aziendeCollegateLabel</a>
              </li>
              <!-- @@blkAziendeCollegate -->
              <!-- @@blkSincronizzaFascicolo -->
               <li>
               	<a href="../layout/sincronizzaFascicolo.htm">Sincronizza fascicolo</a>
               </li>
              <!-- @@blkSincronizzaFascicolo -->
              <!-- @@blkSoggettiCollegati -->
              <li>
                <a href="../layout/contitolari.htm">Soggetti
                  collegati</a>
              </li>
              <!-- @@blkSoggettiCollegati -->
              <!-- @@blkContiCorrenti -->
              <li>
                <a href="../layout/conti_correnti.htm">Conti
                  Correnti</a>
              </li>
              <!-- @@blkContiCorrenti -->
              <!-- @@blkUnitaProduttive -->
              <li>
                <a href="../layout/sedi.htm">Unit&agrave; produttive</a>
              </li>
              <!-- @@blkUnitaProduttive -->
              <!-- @@blkTerreni -->
		          <li>
		            <!-- @@blkLinkElenco -->
		            <a href="../layout/terreniParticellareElenco.htm">Terreni</a>
		            <!-- @@blkLinkElenco -->
		            <!-- @@blkLinkRiepiloghi -->
		            <a href="../layout/riepiloghi.htm">Terreni</a>
		            <!-- @@blkLinkRiepiloghi -->
		          </li>
		          <!-- @@blkTerreni -->
              <!-- @@blkUnitaVitate -->
              <li>
                <!-- @@blkLinkElenco -->
                <a href="../layout/terreniUnitaArboreeElenco.htm" class="on">Unit&agrave; Vitate</a>
                <!-- @@blkLinkElenco -->
                <!-- @@blkLinkRiepiloghi -->
                <a href="../layout/riepiloghiUnitaArboree.htm" class="on">Unit&agrave; Vitate</a>
                <!-- @@blkLinkRiepiloghi -->                
                <ul>
                  <li>
                    <a href="#" class="etichetta">allinea UV a GIS</a>
                  </li>
                </ul>                  
              </li>
              <!-- @@blkUnitaVitate -->
              <!-- @@blkFabbricati -->
              <li>
                <a href="../layout/fabbricati.htm">Fabbricati e
                  Strutture</a>
              </li>
              <!-- @@blkFabbricati -->
              <!-- @@blkAllevamenti -->
              <li>
                <a href="../layout/allevamenti.htm">Allevamenti</a>
              </li>
              <!-- @@blkAllevamenti -->
              <!-- @@blkManodopera -->
              <li>
                <a href="../layout/manodopera.htm">Manodopera</a>
              </li>
              <!-- @@blkManodopera -->
              <!-- @@blkMotoriAgricoli -->
              <li>
                <a href="../layout/motori_agricoli_incarico.htm">Macchine agricole</a>
              </li>
              <!-- @@blkMotoriAgricoli -->
              <!-- @@blkDiritti -->
              <li>
                <a href="../layout/diritti.htm">Diritti di
                  produzione</a>
              </li>
              <!-- @@blkDiritti -->
              <!-- @@blkAttestazioni -->
              <li>
                <a href="../layout/attestazioniDettaglio.htm">Dichiarazioni</a>
              </li>
              <!-- @@blkAttestazioni -->
              <!-- @@blkDichiarazioniConsistenza -->
              <li>
                <a href="../layout/dichiarazioneConsistenza.htm">Validazioni</a>
              </li>
              <!-- @@blkDichiarazioniConsistenza -->
              <!-- @@blkDocumenti -->
              <li>
                <a href="../layout/documentiElenco.htm">Documenti</a>
              </li>
              <!-- @@blkDocumenti -->
              <!-- @@blkFascicoloDematerializzato -->
              <li>
                <a href="../layout/fascicoloDematerializzato.htm">Fascicolo<br>elettronico</a>
              </li>
              <!-- @@blkFascicoloDematerializzato -->
              <!-- @@blkGestioneNotifiche -->
              <li>
                <a href="../layout/notifiche.htm">Notifiche</a>
              </li>
              <!-- @@blkGestioneNotifiche -->
              <!-- @@blkComunicazione10R -->
              <li>
                <a href="../layout/comunicazione10R_dettaglio.htm">Comunicazione
                  10/R</a>
              </li>
              <!-- @@blkComunicazione10R -->
              <!-- @@blkPratiche -->
              <li>
                <a href="../layout/pratiche.htm">Pratiche</a>
              </li>
              <!-- @@blkPratiche -->
              <!-- @@blkStampaFascicolo -->
              <li>
                <a href="../layout/scelta_stampa.htm">Stampe</a>
              </li>
              <!-- @@blkStampaFascicolo -->
			  <li><a href="../layout/strumenti.htm">Strumenti</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <div id="contenuto">
          <div id="intesta">
            <p class="$$aziendaIntestazione" title="$$tooltipIntestazione" >
              $$CUAAIntestazione  $$denominazioneIntestazione
            </p>
          </div>
          
          
          
          <!-- @@blkAbacoIsole -->
          <div class="pulsanti">
            <div class="sin">
              <input type="button" name="Isole Parcelle" value="Isole Parcelle"
                class="inputPulsante" onClick="javascript:apriPop()"/>
            </div>
          </div>
          <!-- @@blkAbacoIsole -->
          
          
          
          
          <!-- @@blkDati -->         
          <div class="pulsanti">
            <div class="sin">
              <input id="seleziona" name="seleziona" type="button"
                value="seleziona" onClick="toggle(true)"
                class="inputPulsante" />
            </div>
            <div class="des">
              <input id="deseleziona" name="deseleziona" type="button"
                value="deseleziona" onClick="toggle(false)"
                class="inputPulsante" />
            </div>
          </div>
          
          <div class="paginazione">
            <span class="sx">$$totaleRighe risultati trovati</span>
          </div>
          
            <table cellspacing="3"
              summary="Informazioni di modifica dell'unità arborea">
              <tr>
                <th class="center" scope="col"></th>
                <th class="center" scope="col">
                  Isola
                </th>
                <th class="center" scope="col">
                  Parcella
                </th>
                <th class="center" scope="col">
                  <acronym title="Superficie">Sup. </acronym>vitata(ha)
                </th>
                <th class="center" scope="col">
                  <acronym title="Superficie">Sup. </acronym>parcella(ha)
                </th>
                <th class="center" scope="col">
                  Num. <acronym title="Unità Vitate">UV</acronym>
                </th>
                <th class="center" scope="col">
                  in tolleranza
                </th>
              </tr>
              <!-- @@blkElenco -->
              <tr>
                <!-- @@blkPieno -->
                <td>
                  <input type="checkbox" name="idIsolaParcella" id="idIsolaParcella" value="$$idIsolaParcella" $$checked />
                </td>
                <!-- @@blkPieno -->
                <!-- @@blkVuoto -->
                <td class="radio" scope="row"></td>
                <!-- @@blkVuoto -->
                <td>
                  $$idIsola
                </td>
                <td>
                  $$parcella
                </td>
                <td class="numeridx">
                  $$supVitata
                </td>
                <td class="numeridx">
                  $$supParcella
                </td>
                <td>
                  $$numeroUV
                </td>
                <td align="center">
                  $$tolleranza
                </td>
              </tr>
              <!-- @@blkElenco -->
            </table>
          
          
          <div class="paginazione">
            <span class="sx">$$totaleRighe risultati trovati</span>
          </div>
          
          <div class="pulsanti">
            <div class="sin">
              <input id="seleziona" name="seleziona" type="button"
                value="seleziona" onClick="toggle(true)"
                class="inputPulsante" />
            </div>
            <div class="des">
              <input id="deseleziona" name="deseleziona" type="button"
                value="deseleziona" onClick="toggle(false)"
                class="inputPulsante" />
            </div>
          </div>
          <p id="nota">
            Tutte le superfici sono espresse in ettari (ha).
          </p>
          <div class="pulsanti">
            <div class="sin">
              <input type="button" id="conferma" value="conferma"
                name="conferma" class="inputPulsante highlighted"
                onclick="javascript:selezioneElementi();" />
            </div>
            <div class="des">
              <input type="button" value="annulla" name="annulla"
                class="inputPulsante"
                onclick="javascript:goTo('../layout/terreniUnitaArboreeElenco.htm',document.forms[0]);" />
            </div>
          </div>
          <!-- @@blkDati -->
          <!-- @@blkErrore -->
          <p class="errore">
            $$messaggioErrore
          </p>
          <!-- @@blkErrore -->
        </div>
      </div>
      <hr />
  </form>
  $$footer